[2021-06-28 02:13] sylus commented on #337
@iam-veeramalla ok it wasn't so bad I just had to update to latest controller-runtime and then was able to specify multiple namespaces and everything worked :D

[2021-06-28 03:03] #337 closed

[2021-06-29 00:58] wtam2018 opened #352 "Automating K8s RBAC for Argo CD instances"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Proposed by @jannfis

Currently, the integration pattern for the Operator is the following

* Use the out-of-the-box (OOTB) Argo CD instance to manage some cluster resources
* Use a dedicated Argo CD instance to manage an application in th

[2021-07-06 01:40] #352 closed

[2021-07-07 17:02] rgordill opened #354 "Prometheus set up in CRD refers to the operator deployed in the same namespace"
**Is your feature request related to a problem? Please describe.**
When you install prometheus operator using OLM, it is installed in a common namespace (operators, or openshift-operators). However, related with the code in https://github.com/argoproj-labs/argocd-operator/blob/master/pkg/controller/argocd/prometheus.go#L177, it refers to prometheus-k8s serviceaccount, which should be in the same n

[2021-07-09 11:27] iam-veeramalla commented on #354
Hi @rgordill , Can you please provide more information on what is the issue that you are running into and steps to reproduce  ? Thanks in Advance :)

[2021-07-09 12:01] rgordill commented on #354
Hi @iam-veeramalla.

Yes, to reproduce the issue do the following:

- Deploy a prometheus operator in a namespace with cluster-wide scope
- Deploy argocd operator in any namespace (ex. argocd).
- Deploy an argocd-server with prometheus enabled=true

It will not spin up the prometheus server to gather the metrics. You need to deploy the prometheus operator in the same namespace to get it working.

[2021-07-09 13:07] Aenima4six2 opened #357 "Support `kustomize.version` in ArgoCD config-map"
**Is your feature request related to a problem? Please describe.**
Using the ArgoCD Operator, it is not possible to set `kustomize.version` in the ArgoCD config-map.

**Describe the solution you'd like**
Update the `ArgoCD` CRD to support setting `kustomize.verion` as per https://argo-cd.readthedocs.io/en/release-1.8/user-guide/kustomize/#custom-kustomize-versions.

**Describe alternatives you've

[2021-07-09 20:33] jsight opened #359 "Enable the addition of labels to the automatically created routes"
We use router shards and need to add a "shard={shardname}" label to each of our routes in order for them to be exposed properly. We can currently add annotations, but it would be useful to be able to add labels as well.

[2021-07-09 23:45] #271 closed

[2021-07-12 22:09] #359 closed

[2021-07-15 11:24] arjunprasad2143 commented on #208
Its hightime we take this as priority. Having an export option and it not working its really not recommended.

[2021-07-15 11:42] iam-veeramalla commented on #208
Hi @jomkz , Do u have any updates on this ?

[2021-07-15 15:21] djkormo opened #369 "Missing securityContext"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

How to control securityContext

I have k8s cluster with installed pod security policy.

My cluster setup for operator 0.15 and argocd 2.0.4

[code]
In CRD there should be a possibility to run redis image as non root.

How to control securi

[2021-07-15 18:14] tylerauerbeck opened #370 "appSync option is missing from controller options documentation"
**Describe the bug**
Controller options documentation needs to be updated to show use of appSync option

**To Reproduce**
Information regarding setting the appSync value for the ArgoCD controller is missing. View the documentation to see that it is not there.

**Expected behavior**
Appropriate documentation should be provided.

**Screenshots**
N/A

**Additional context**
N/A

[2021-07-18 12:47] javiermmenendez commented on #334
I have already solved this issue. In operator version 0.0.14 this configmap could be changed and operator doesn't modify this configuration. From v0.0.15 It seems that the operator delete all the cm configuration. In order to include a repository credentila you need to do this in Argocd CR instance.

[2021-07-19 16:09] seed-248 opened #374 "oidc secret"
**Is your feature request related to a problem? Please describe.**
On the page https://argocd-operator.readthedocs.io/en/latest/usage/basics/#secrets it is stated:

This Secret is managed by the operator and should not be changed directly.

For the configuration of OIDC the secret 'argocd-secret' has to be changed:
https://argoproj.github.io/argo-cd/operator-manual/user-management/microsoft/#azure

[2021-07-21 06:00] Kampe opened #375 "Ability to utilize secret value to populate Dex clientSecret"
Is there a way to utilize a secret to populate the value for clientSecret within the dex config options?  There doesn't seem to be a way to include environment variables on a per component basis?

[2021-07-22 14:34] jgwest opened #377 "ApplicationSet controller Deployment reconcilliation update logic misses volume field"
**Describe the bug**
The ApplicationSet controller Deployment reconciliation logic works well on Create, but on update it fails to include the Volumes, causing an error in the logs like:
`
Deployment.apps \"applicationset-controller\" is invalid: [spec.template.spec.containers[0].volumeMounts[0].name: Not found: \"ssh-known-hosts\", spec.template.spec.containers[0].volumeMounts[1].name: Not found:

[2021-07-22 16:01] #377 closed

[2021-07-23 21:57] minh-hpham opened #379 "Ability to enable sharding for argocd-application-controller"
**Is your feature request related to a problem? Please describe.**
Hello team, can you add option to enable sharding and specify number of shards for argocd application controller (https://argo-cd.readthedocs.io/en/stable/operator-manual/high_availability/#argocd-application-controller) in controller options (https://argocd-operator.readthedocs.io/en/latest/reference/argocd/#controller-options) of

[2021-07-27 03:13] wtam2018 commented on #325
The change looks good but do we all agree on pushing image on each PR merge on master branch?   If so, @jannfis will need to provision the secret on the repository.

[2021-07-27 08:32] #325 closed

[2021-07-27 18:50] seed-248 commented on #347
I have the same problem, but with a different setup. I have a namespace called argocd-operator, where the argocd-operator pod is deployed. In this namespace a service-account argocd-application-controller exists.

The argocd and argocdexport resources have been created in the argocd namespace. Therefore, all argocd pods are launched in the argocd namespace.

The job that is created automatically f

[2021-07-27 22:32] rv-silva commented on #335
@iam-veeramalla Pls, can you save me with that feature? Lots of pressure to put ArgoCD in production.

[2021-07-28 09:08] iam-veeramalla opened #380 "Dependabot reported - Helm OCI credentials leaked into Argo CD logs"
**Describe the bug**

[GHSA-6w87-g839-9wv7](https://github.com/advisories/GHSA-6w87-g839-9wv7)
 **moderate severity**
Vulnerable versions: < 1.7.14
Patched version: 1.7.14

**Impact**
When Argo CD was connected to a Helm OCI repository with authentication enabled, the credentials used for accessing the remote repository were logged.
Anyone with access to the pod logs - either via access with appro

[2021-07-28 09:26] iam-veeramalla commented on #375
Hi @Kampe Thanks for raising issue with us.

Can you please provide more information on what exactly you are trying to achieve and steps to reproduce.

[2021-07-28 09:45] iam-veeramalla commented on #347
Thanks for the feedback !!

[2021-07-28 10:11] iam-veeramalla commented on #335
Hi @rv-silva Sure :)

Have you tried the point no.1 that I suggested above ?

Meanwhile, please give me sometime to look at a permanent solution to this bug.

[2021-07-28 10:37] iam-veeramalla commented on #335
@rv-silva  looking at the code, Point no. 3 in your issue description should work.

https://github.com/argoproj-labs/argocd-operator/blob/6fa33c97c84411e589ff0465b03ae8d5d0e0bb71/pkg/controller/argocd/util.go#L232

Can you please confirm the version of argocd-operator that you are running ?

[2021-07-28 13:05] rv-silva commented on #335
@iam-veeramalla It worked after updating and using the config you pointed out. Thank you so much!

[2021-07-28 13:49] iam-veeramalla commented on #335
Closing the issue as the configuration works :)

[2021-07-28 13:49] #335 closed

[2021-07-28 18:00] #329 closed

[2021-07-28 20:23] Kampe commented on #375
Sure!

Currently, this is seemingly the amount of config we can use to set up our client  for DEX:

[code]

However, I can't use my own secret to populate these values, both clientID and clientSecret within the DEX configuration block.  This would be wildly useful to everyone to have available.  Ideally they are NOT attached to the $dex.github object and can be their very own secrets as I do not w

[2021-07-30 12:24] #380 closed

[2021-07-30 13:52] Obirah opened #382 "Optimize ServiceAccount configuration/customization"
**Is your feature request related to a problem? Please describe.**
As an ArgoCD user on AWS EKS, I would like assign AWS IAM roles to the ArgoCD service accounts, so that I can use the AWS API in ArgoCD (e.g. in order to decrypt sops with KMS). The assignment of IAM roles is done through an annotation on the corresponding ServiceAccount.

**Describe the solution you'd like**
I would like to have t

[2021-07-30 15:10] robermar23 opened #383 "resource customization for custom health check using operator not working"
**Describe the bug**
ArgoCD instance using the operator is already rolled out successfully.  Attempting to edit the ArgoCD resource to add a custom health check to support OpenShift DeploymentConfigs.

The operator accepts the ReousceCustomization attribute but does not update the requisite argocd-cm configmap for the Argocd resource.

If I attempt to manually edit the argocd-cm resource to add re

[2021-07-31 09:05] seed-248 opened #385 "Cannot sync applications - clusterrole insufficient permissions"
**Describe the bug**
Syncing applications don't work because of insufficient permissions.
The argocd operator and the argocd resource have been created inside of the argocd namespace.

The argocd operator provides the following cluster roles:

[code]

[code]
The argocd-argocd-argocd-application-controller clusterrole can only use the verbs (get, list, watch) on all resources. Therefore, it isn't a

[2021-08-02 06:06] shubhamagarwal19 commented on #385
Hey @seed-248, thanks for reporting this!
The current implementation allows users to deploy ArgoCD instances with minimum permissions. This only allows the ArgoCD instance to manage resources in its own namespace.
If a user wishes to provide the ArgoCD instance permissions to manage resources in all namespaces then it needs to set an ENV variable in the argocd-operator deployment, i.e `ARGOCD_CLUS

[2021-08-02 08:17] #379 closed

[2021-08-02 08:24] iam-veeramalla opened #388 "Operator errors on reconciling namespaces, Cannot list resource "namespace""
**Describe the bug**
Operator errors on reconciling namespaces, Cannot list resource "namespace"

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new operator build using the below steps.
  - Replace env variables in env.sh
  - Run ./hack/build.sh
  - ./hack/push.sh
  - ./hack/bundle.sh
  - ./hack/registry.sh
  - Create catalog source with the image in the previous step
2. Install th

[2021-08-02 08:29] iam-veeramalla commented on #388
@shubhamagarwal19  Do you know what is going wrong here ?

Do we need something like this for the `argocd-operator` serviceaccount ?

https://github.com/redhat-developer/gitops-operator/blob/d3144efd43abc002642749394677f7c9257d8546/deploy/olm-catalog/gitops-operator/manifests/gitops-operator.clusterserviceversion.yaml#L409

[2021-08-02 08:43] shubhamagarwal19 commented on #388
The error, clearly says that the `serviceAccount` does not have enough permissions to list the `namespace resource`. Also, the fix would be to add the namespace resource to the list of resources in the permissions defined in CSV.
Thanks for reporting this @iam-veeramalla !!

[2021-08-02 18:45] wtam2018 commented on #388
@iam-veeramalla is the issue reproduced in Openshift GitOps Operator 1.2?

[2021-08-02 19:51] iam-veeramalla commented on #388
@wtam2018  no ... It works on the GitOps-operator

[2021-08-03 00:03] wtam2018 commented on #388
@iam-veeramalla bundle.sh builds a bundle picking up matadata files from deploy/olm-catalog which have not been updated yet.   After operator-sdk upgrade, the tool scripts/bundle building will be changed.   We might want to wait until operator upgrade is done.

[2021-08-03 08:24] iam-veeramalla opened #390 "update the deprecated APIs, blocker for kubernetes 1.22."
**Describe the bug**
kubernetes 1.22 is End of life for deprecated APIs.

The apiextensions.k8s.io/v1beta1 API version of **CustomResourceDefinition** will no longer be served in v1.22.
All beta **Ingress** APIs (the extensions/v1beta1 and networking.k8s.io/v1beta1 API versions)

More information here:
https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/#api-changes

**To Rep

[2021-08-03 08:33] #388 closed

[2021-08-03 14:33] seed-248 commented on #385
Hey @shubhamagarwal19,
thank you for pointing out the possibility to influence the permissions via the `ARGOCD_CLUSTER_CONFIG_NAMESPACES` environment variable.

I tried to get it run by setting the env variable in the OLM subscription, but wasn't successful so far:

[code]

The environment variable is available inside the argocd-operator pod.

[code]

However, the cluster role for the argocd-appli

[2021-08-03 14:54] shubhamagarwal19 commented on #385
@seed-248, ahhh my bad!! The issue has been fixed but didn't make the cut for `v0.0.15` release.
We are planning to release a new version for `argocd-operator` soon, so hopefully, that would resolve this!

[2021-08-04 07:27] maik-d opened #391 ""groups" Parameter within dex.config for the OpenShift connector to restrict logins"
Hello,

I was wondering whether a feature could be implemented which allows setting the "group" parameter as well as several groups within the ArgoCD operator dex config in order to restrict the overall login to the related ArgoCD instance, by also keeping the currently dynamic "openShiftOAuth: true" setting.
I also have to mention that this can already be done by using the spec.dex.config paramet

[2021-08-04 12:18] wtam2018 commented on #390
I did a search for Ingress api in the code base.  This will be fixed by https://github.com/argoproj-labs/argocd-operator/pull/345 operator sdk upgrade.

[2021-08-05 06:26] iam-veeramalla commented on #391
Hi Maik, Thanks for raising issue with us.

If I can understand your request correctly, You are looking for a way to update the group policy(restrict or privilege a specific group with permissions on Argo CD).

If that is true, you can already do it using the RBAC field in the Argo CD CR. Below is the example for reference.
[code]

You can read more about it at [RBAC options](https://argocd-operat

[2021-08-05 07:07] maik-d commented on #391
Hi,

Thanks for the fast reply!

I do not want to set the RBAC policy but instead aim to only allow specific groups to login to ArgoCD at all.
This can be achieved with the groups parameter under a specific connector (as seen in my example from the initial post).
The issue is, that I can - as of now - only set this via the spec.dex.config portion of the ArgoCD operator instances manifest.
This bas

[2021-08-05 10:25] iam-veeramalla commented on #391
It makes much sense now, Thanks for the detailed explanation.

This looks like a sophisticated request :). This is what we can do currently, make any default logged in user a readonly user and allow only specific groups to perform specific actions.

[code]
**rbac.defaultPolicy**: 'role:readonly' (This will ensure by default every logged in user is a readonly user).

The overall Argo CD CR would lo

[2021-08-05 10:31] iam-veeramalla commented on #391
@maik-d  Can I consider your request would **only** have an additional advantage of blocking specific users/groups to log in to Argo CD over the current approach of supporting "read-only" as the least privilege for any user ?

Apart from that we can use the combination of `spec.dex. openShiftOAuth: true`,  `spec.rbac.defaultPolicy` and `spec.rbac.Policy` to achieve things.

[2021-08-05 12:16] maik-d commented on #391
Sorry I need to adjust my previous answer a little bit...

"Long story short, I am asking whether a feature can be added to the operator, which allows to directly mention user groups which should be _allowed (not denied)_ from logging into a given ArgoCD instance, but also still allow the automatic configuration of the openshift dex connector."

But yes, this feature would allow the specification

[2021-08-05 12:33] iam-veeramalla commented on #391
much clear :)

I haven't seen the usage of groups before in the spec.dex.config of ArgoCD CR. Can you please point me out to any documentation ?

[2021-08-05 12:45] maik-d commented on #391
Sure thing! :)
Unfortunately I am not able to find anything within the official ArgoCD documentation, however the parameter is mentioned and explained within the Dex docs:

https://dexidp.io/docs/connectors/openshift/#dex-configuration

[code]

Additionally it has been mentioned in an OpenShift blog post regarding ArgoCD:
https://cloud.redhat.com/blog/openshift-authentication-integration-with-argo

[2021-08-05 13:18] iam-veeramalla commented on #391
@maik-d , Thanks for the information. I also like the suggestion of adding this to the automated dex configuration generated by the operator when `openShiftOAuth: true`.

I will mark this as an enhancement request and a good first time for someone interested to pick :)

[2021-08-09 07:44] anneadema opened #392 "Installing ArgoCD operator 0.0.14 from the OperatorHub."
**Is your feature request related to a problem? Please describe.**
I would like to install ArgoCD operator version 0.0.14 in stead of version 0.0.15. In the OperatorHub it is only possible to install the latest.

**Describe the solution you'd like**
A choice of which version you will install initially

**Describe alternatives you've considered**
A clear and concise description of any alternative s

[2021-08-09 12:22] iam-veeramalla opened #393 "Remove the support to disable dex installation using DISABLE_DEX env"
**Is your feature request related to a problem? Please describe.**
In the current code, we can skip the dex installation using an environmental variable "DISABLE_DEX". It does not make any sense to maintain such wrappers/conditions in the upstream operator. Any downstream operator implementing the argocd-operator should handle such cases if needed.

Dex should be a default installation.

**Describ

[2021-08-09 14:27] tylerauerbeck commented on #393
@iam-veeramalla I know there have been a number of issues opened around being able to turn off Dex. Is there a bigger driver around removing that ability? It still seems like it would be useful to multiple folks (and not just downstream operators)

[2021-08-09 14:35] iam-veeramalla commented on #393
You mean a number of users would like to uninstall the dex using DISABLE_DEX ?

[2021-08-09 14:37] tylerauerbeck commented on #393
Ah. Okay. Maybe I misunderstood this one. I know a number of folks have expressed wanting to be able to decide whether Dex is deployed or not. I'm not sure if it's directly tied to the implementation of using the `DISABLE_DEX` env var (i.e. people want to be able to disable dex, I'm not sure they care "how")

[2021-08-10 06:30] iam-veeramalla commented on #392
OLM does not support this. However, you can workaround with this.
https://github.com/operator-framework/operator-lifecycle-manager/issues/1177

[2021-08-10 08:32] iam-veeramalla commented on #393
@tylerauerbeck unless configured using `openShiftOAuth: true` in the Argo CD CR, Dex installation is merely a pod creation. Can you point me to any issue or link what exactly is the users issue with having Dex installed ?

[2021-08-10 17:37] tylerauerbeck commented on #393
Here's an existing issue: https://github.com/argoproj-labs/argocd-operator/issues/142

A lot of the other conversation has happened in various chat's, so nothing that I can immediately dig up. Even though dex is _just_ a deployment, I can see a number of users having requirements for only running what is necessary -- due to things like resources constraints, security requirements (only run what yo

[2021-08-11 05:52] iam-veeramalla commented on #393
@tylerauerbeck thanks for bringing this discussion :). I will close this issue and we will continue to use the DISABLE_DEX env var.

[2021-08-11 05:52] #393 closed

[2021-08-11 16:17] radinv opened #395 "Ability add env to containers"
**Is your feature request related to a problem? Please describe.**
Hi, we are using our kustomize, which needs to read environment variables in the argocd-repo-server container. Can you add the ability to define variables like we did in a non-operator setup?
[code]

**Describe the solution you'd like**
I think it should look something like this.

[code]

[2021-08-12 05:50] radinv commented on #395
Hey! Thanks for the quick response!

Yes, I understand this nuance. But in env we pass a variable defining the name of the cluster. This is only used once when starting the container, we don't need to change this.

[code]

This is so that our little custom tool for kustomize can work the way we want.
We split the clusters at the level of one repository. Thus, we can describe applications where we

[2021-08-12 06:19] iam-veeramalla commented on #395
@radinv thanks for the explanation :)

[2021-08-12 17:05] tylerauerbeck commented on #172
So from the handful of use cases I've seen here, this probably looks like being able to define custom mounts and initContainers for the repo server right? Being able to specify an entire custom spec seems like it could turn into quite a large ball of yarn (at least IMO).

[2021-08-12 17:16] itewk commented on #172
@tylerauerbeck that would do it for us and our constitutents for sure:

priority wise if broken into two different peices of work:
1) ability to sepcify custom mounts on the repo-server
2) ability to specify custom init containers for the repo-server

Priorities this way because you can work around #2 with a custom container image and pass that in via the CR, but number 1 there is no work around o

[2021-08-12 17:46] tylerauerbeck commented on #172
@jomkz @iam-veeramalla @wtam2018 Any objections? This one seems fairly reasonable and is a frequent conversation that I think most of us run into. Just want to get some eyes on the approach before putting any time into a PR.

[2021-08-12 17:56] wtam2018 commented on #172
@tylerauerbeck I agree it is reasonable and useful.  Thanks for looking into it.

[2021-08-19 12:54] saumeya commented on #342
Please assign this to me

[2021-08-22 23:21] eformat opened #398 "uid_entrypoint.sh renamed to entrypoint.sh, breaks using v2.1.0"
**Describe the bug**
[code]
- because of hardcoded uid_entrypoint.sh which was renamed here

https://github.com/argoproj/argo-cd/commit/4ae1d876fd6c66ae665db996a0d2e9c43fdac7e6
https://github.com/argoproj/argo-cd/blob/master/entrypoint.sh

**To Reproduce**
install version 2.1.0 argocd

[2021-08-23 06:13] #370 closed

[2021-08-25 06:07] iam-veeramalla opened #403 "ApplicationSet controller Crashloopbackoff"
**Describe the bug**
I noticed a crashloopbackoff on the ApplicationSet controller. Pasting the error logs for analysis.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run the operator locally using `operator-sdk run local`

**Expected behavior**
No pods should run into backoff or error state.

**Additional context**
NA

[2021-08-25 06:21] iam-veeramalla commented on #403
@tylerauerbeck I think this is introduced due to #371 . Can you please verify ?

[2021-08-25 12:09] tylerauerbeck commented on #403
@iam-veeramalla Yepp, that's what did it. Just confirmed what's going on. Looks like the version of the applicationset-controller that is used in the operator by default doesn't have the `loglevel` flag. Does it make more sense to bump the version? Or remove the functionality for now?

[2021-08-25 12:21] iam-veeramalla commented on #403
@jgwest would be the best person to help us in this

[2021-08-25 14:11] jgwest commented on #403
Yup, log level is not in ApplicationSet v0.1.0, it was added in v0.2.0 as part of https://github.com/argoproj-labs/applicationset/pull/249. So the loglevel flag would be invalid until argocd-operator picks up v0.2.0 of AppSets.

[2021-08-25 14:13] iam-veeramalla commented on #403
Does v0.2.0 only work with the latest Argo CD release v2.1.0 ?

[2021-08-25 15:24] jgwest commented on #403
@iam-veeramalla ApplicationSet v0.2.0 should work with both Argo CD v2.0 and v2.1 (and should also work with previous versions too, but I have not tested here recently.)

[2021-08-26 15:05] jopit opened #408 "Failures in calls to controllerutil.SetControllerReference when reconciling roles and rolebindings"
**Describe the bug**

As part of the upgrade of the operator-sdk (PR #406), the linter reported errors in existing code where where the return value of calls to controllerutil.SetControllerReference were not being checked. After checks were added, the unit tests started failing which indicates an existing bug in the code.

In order to unblock the sdk upgrade, the checks were changed to log the err

[2021-08-30 04:03] iam-veeramalla commented on #323
Hi @bortek , The new release would add a lot of enhancements so we need to perform some good testing. we have plans to release a new version in Sep or probably early October.

The new release would have some breaking changes for sure but we will document the steps for a proper upgrade.

[2021-08-31 07:28] skuethe commented on #120
This would be a great enhancement, especially since there is already the possibility to use a custom image and ArgoCD encourages you to build your own image for specific solutions (f.e. with [custom helm plugins](https://argo-cd.readthedocs.io/en/stable/user-guide/helm/#helm-plugins) or [it's unopinionated stance about handling secrets](https://argo-cd.readthedocs.io/en/stable/operator-manual/cust

[2021-08-31 15:08] iam-veeramalla opened #416 "Update the documentation for build process."
**Describe the bug**
Creating this issue to track the documentation changes w.r.t build process.
Old Docs:
https://argocd-operator.readthedocs.io/en/latest/contribute/development/#build
https://github.com/argoproj-labs/argocd-operator/blob/master/docs/contribute/development.md

**Expected behavior**
Update the new documentation where build process is made easy by the operator-sdk upgrade.

[2021-08-31 17:18] #408 closed

[2021-09-01 08:00] jannfis commented on #398
This has been fixed in v2.1.1 of Argo CD, there now is a symlink `uid_entrypoint.sh -> entrypoint.sh`. Since upstream operator issue is closed, can we close this as well?

[2021-09-01 08:53] iam-veeramalla commented on #375
Hi @Kampe , You can also use your own kubernetes secrets.
[code]

Is this what you are looking for ?

[2021-09-01 09:40] eformat commented on #398
ah yes.

[2021-09-01 09:40] #398 closed

[2021-09-01 09:55] camilamacedo86 opened #420 "Operator projects using the removed APIs in k8s 1.22 requires changes."
### Problem Description

Kubernetes has been deprecating API(s), which will be removed and are no longer available in 1.22. Operators projects using [these APIs](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22) versions will **not** work on Kubernetes 1.22 or any cluster vendor using this Kubernetes version(1.22), such as OpenShift 4.9+. Following the APIs that are most lik

[2021-09-02 11:15] jannfis commented on #420
Hi @camilamacedo86 and thanks for the heads-up. Indeed, we noticed the `apiextensions.k8s.io/v1beta1` going away far too late.

We recently merged https://github.com/argoproj-labs/argocd-operator/pull/406, which updates the Operator SDK to a recent version and also updated our CRDs to use `apiextensions.k8s.io/v1`. Also, we do still have `Ingress` resources in another gone away API.

We plan to re

[2021-09-03 19:48] #403 closed

[2021-09-05 03:44] #298 closed

[2021-09-05 03:45] wtam2018 commented on #298
Fixed.

[2021-09-05 20:08] mpreu commented on #201
Unfortunately, #194 only applies the OCP cluster global proxy variables. I currently see no ability to overwrite / specify my own proxy related variables, which can be a huge issue since manually patching does not work either (corrections are welcome if I am wrong here).

[2021-09-05 21:42] wtam2018 commented on #201
@mpreu You can set these proxy environment variables in the controller container and they are propagated to the workloads by the operator.   It should work in other clusters.   Can you please state your requirements?

[2021-09-05 22:03] mpreu commented on #201
@wtam2018 Thanks for the response.

In my case I am using the OCP GitOps ArgoCD installation. I assume the environment variables can therefore be set/overwritten in the operator deployment within `openshift-operators`? That was indeed a fact I was missing.

But it still not necessarily solves my problem, as for this kind of `AllNamespace` installation I will change the proxy settings for all ArgoC

[2021-09-05 22:46] wtam2018 commented on #201
@mpreu Currently, it is not possible.   It sounds like we need the ability to set these environment variables in an ArgoCD CR which overrides cluster proxy environment variables.

[2021-09-06 04:15] iam-veeramalla opened #431 "Add support to restrict login to optional list of groups using Dex"
**Is your feature request related to a problem? Please describe.**
Dex allows the admin to restrict login to optional list of groups. Which means, only the users **who are part of any of the these groups** will be able to login into Argo CD.

**Describe the solution you'd like**
Enhance the Argo CD CR(specifically the Dex field) to support this.

**Describe alternatives you've considered**
NA

**A

[2021-09-06 07:49] #180 closed

[2021-09-07 09:01] duritong commented on #391
I worked around like this:

1. enable openShiftOAuth: `oc patch argocd/openshift-gitops -n openshift-gitops --type='merge' --patch='{ "spec": { "dex": { "openShiftOAuth": true } } }'`
2. Get the current config and extend itwith the groups you want: `oidc_config=$(oc get cm -n openshift-gitops argocd-cm -o json | jq '.data["dex.config"]' | sed 's@/callback@/callback\\n    groups:\\n      - cluster-

[2021-09-07 09:50] iam-veeramalla commented on #391
@maik-d  @duritong I have added this enhancement and got it merged to master. It will be available in the next release.
#431

[2021-09-07 09:50] #391 closed

[2021-09-07 09:51] #431 closed

[2021-09-08 10:17] #342 closed

[2021-09-08 22:14] #420 closed

[2021-09-09 03:49] #235 closed

[2021-09-10 06:20] jannfis commented on #390
Has been fixed by https://github.com/argoproj-labs/argocd-operator/pull/428 and https://github.com/argoproj-labs/argocd-operator/pull/406

[2021-09-10 06:20] #390 closed

[2021-09-10 06:21] jannfis commented on #302
First chunk of migration to `stretchr/testify` can be seen in https://github.com/argoproj-labs/argocd-operator/pull/437

[2021-09-13 04:17] #141 closed

[2021-09-13 04:17] #201 closed

[2021-09-13 04:17] #395 closed

[2021-09-14 06:38] aladrocMatiner opened #441 "Manual install documentation is old and not usefull"
**Describe the bug**
The documentation for manual install is too fuzzy... it speaks about a deploy/folder for several yaml files:

kubectl create -f deploy/service_account.yaml
kubectl create -f deploy/role.yaml
kubectl create -f deploy/role_binding.yaml
kubectl create -f deploy/cluster_role.yaml
kubectl create -f deploy/cluster_role_binding.yaml

kubectl create -f deploy/argo-cd

kubectl create -

[2021-09-14 07:28] iam-veeramalla commented on #441
@aladrocMatiner Thanks for reporting, I will take a look :)

[2021-09-14 10:01] aladrocMatiner commented on #441
theoretically all this can be fix on openshift using a subscription to install the operator, in any case the idea is the cli install or manual is not updated for long time and is kind of necesary on the process to automatize things... anyway thanks for taking a look :D i really appreciate it

[2021-09-22 09:59] iam-veeramalla opened #445 "Invalid Image location for ApplicationSets"
**Describe the bug**
Operator is not able to create an ApplicationSet pod due to default invalid Image location in the defaults.go

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run the operator locally using `make install && make run`
2. Create an Argo CD CR with the below configuration.
[code]
3. Verify that the application set pod moves in to `ImagePullBackoff` state.

**Expected

[2021-09-22 10:03] tylerauerbeck commented on #445
@iam-veeramalla Ah. Looks like v0.2.0 was released, but never pushed to quay. Any idea who to chat with to get that done?

[2021-09-22 10:23] iam-veeramalla commented on #445
looks like the images are now pushed to the `argoproj` repository

[2021-09-22 14:05] #445 closed

[2021-09-24 08:58] Carus11 commented on #441
If you are looking into this, the Operator Lifecycle Manager deployment method also relies on the deploy/ directory that appears to be eluding me at this time..

[2021-09-24 09:04] iam-veeramalla commented on #441
@Carus11 @jopit is already working on this.

[2021-09-28 05:47] iam-veeramalla opened #447 "Handle the case when both Keycloak and Dex are configured in the CR."
**Describe the bug**
Argo CD Operator currently supports two SSO providers `Dex` and `Keycloak`. `Keycloak` can be configured using the `.sso.provider: keycloak` and Dex can be configured using `.spec.dex`. This leads to a great chance of misconfiguration, A user can unknowingly or intentionally add both `Keycloak` and `Dex` to the CR.

This scenario should be handled.

**To Reproduce**
Steps to r

[2021-09-28 11:35] jannfis opened #448 "Changing log level or log format for repo server doesn't trigger reconciliation"
**Describe the bug**

The Operator doesn't change the Deployment spec when `.repo.logLevel` or `.repo.logFormat` is changed, if the Deployment resource existed before.

**To Reproduce**

1. Create basic minimal `ArgoCD` Operand, i.e.
[code]
2. Wait for reconciliation
3. Inspect `argocd-repo-server` deployment's container command line: `kubectl get deployment argocd-repo-server -o jsonpath='{.spec.

[2021-09-28 17:07] #447 closed

[2021-09-30 09:14] iam-veeramalla opened #450 "ApplicationSets, Keycloak deployments does not respect NodeSelector and Tolerations in the Argo CD CR."
**Describe the bug**
#410  adds support to NodeSelectors and Tolerations. When NodeSelectors and Tolerations are added to the Argo CD CR as described in the #410 all the workloads gets scheduled on the expected Node.

However, ApplicationSets and Keycloak are exceptions. Both ApplicationSets and Keycloak are not installed OOTB, A user needs to update them in the CR explicitly. When they are explic

[2021-10-05 02:21] #450 closed

[2021-10-12 11:48] SahilMutha opened #456 "Additional ENVs are not getting configured (HTTP_PROXY, HTTPS_PROXY, no_proxy)"
**Describe the bug**
Adding proxy ENVs while deploying basic argocd (after deploying argocd-operator), the ENVs are not reflected.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy ArgoCD Operator (Latest version v0.0.15)
2. Deploy basic ArgoCD (YAML attached)
3. Check ArgoCD Repo Server has ENV set
[ArgoCD-Install.zip](https://github.com/argoproj-labs/argocd-operator/files/7329635/Argo

[2021-10-13 09:40] iam-veeramalla commented on #416
This issue is partially fixed by #451.

we need to update the below doc.
https://argocd-operator.readthedocs.io/en/latest/contribute/development/#build

[2021-10-13 09:47] iam-veeramalla opened #457 "Example for grafana does not work"
**Describe the bug**
The example available for Argo CD with grafana does not seem to work. Operator is running into the error state.
Example:
https://raw.githubusercontent.com/argoproj-labs/argocd-operator/master/examples/argocd-route.yaml
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  Install the operator from Operator Hub or `make run`.
2.  Create Argo CD Instance with grafana and

[2021-10-13 10:40] iam-veeramalla commented on #456
Other ENVs also :)

[2021-10-14 04:29] #448 closed

[2021-10-18 05:40] iam-veeramalla opened #459 "Docs builds are failing from a past couple of weeks."
**Describe the bug**
Readthedocs builds are failing from a past couple of weeks.

**To Reproduce**
Steps to reproduce the behavior:
1. This can also be reproduced locally.
2. You need to install few plugins -> mkdocs, Material for MkDocs
3. Run `mkdocs serve`

**Expected behavior**
Docs builds should pass.

**Screenshots**
![Screenshot 2021-10-18 at 11 09 02 AM](https://user-images.githubuserconte

[2021-10-18 13:33] iam-veeramalla opened #461 "update operator-sdk version in the go.mod"
**Describe the bug**
`operator-sdk` version in the go.mod is very old. We need to update it to `v1.11.0`. Operator prints the sdk version using this dependency which will create a confusion to the users about the sdk version being used.

While it looks simple and straight forward, it is slightly complicated. The new version of operator-sdk has structural changes w.r.t to packages. Some of the pack

[2021-10-18 15:45] jaideepr97 opened #462 "Upgrade argo-cd dependency in go.mod from v1.8.7 to v2.1.2"
### Is your task related to a problem? Please describe.
Currently, argocd-operator pulls in `v1.8.7` of argo-cd as a dependency in go.mod, which is an old version of argo-cd

### Describe the solution you'd like
We should update the go.mod file to pull in argo-cd `v2.1.2` as a dependency instead

### Describe alternatives you've considered

### Additional context

[2021-10-27 08:51] iam-veeramalla opened #466 "Pods keep being recreated on clusters when env vars are added."
**Describe the bug**
Building a latest version of the operator from source(master) creates the below issue.

The PR #437 adds a logic to support adding custom environment variables into repo-server, server and controller. While this allows adding the env vars into the workloads, the order of the env vars is not same every-time. This is causing the below reconciliation condition on repo-server to f

[2021-11-02 09:52] RoboticHuman commented on #385
@shubhamagarwal19 , is there a temporary workaround at the moment to allow for this use case, even if it requires a manual intervention?

[2021-11-04 16:23] 13013SwagR opened #468 "Add support for ArgoCD server `--rootpath` parameter"
**Is your feature request related to a problem? Please describe.**
The ui being a single page app, I can't place the service behind an url with a different rootpath other than `/`.

**Describe the solution you'd like**
The server block should allow additional command parameters
and merge them with the default when creating the Deployment resource.

**Describe alternatives you've considered**
Havin

[2021-11-04 22:35] Kampe opened #470 "manual install and kustomize docs are wrong"
`deploy/` directory has nothing but operator yaml in it now.

[2021-11-05 13:42] brandon-piner-aruba commented on #375
@iam-veeramalla please can you elaborate on this because the documentation still seems to be missing information.

I have created a secret in the same namespace as argocd.
[code]

Then what should the config be?

[code]

[2021-11-05 15:31] jaideepr97 opened #471 "reconcile resource inclusions from Argo CD CR"
**Describe the bug**
Operator currently ignores changes to resource inclusions expressed in the argo-cd CR instead of reconciling them in the config map

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy operator
2. Update the argo-cd CR resource inclusions
3. wait for config map to be reconciled
4. config map does not reflect changes in resource inclusions

**Expected behavior**
changes

[2021-11-08 02:52] iam-veeramalla commented on #468
Hi @13013SwagR , Can you please provide more details regarding your request and use-case ? Thanks !!

[2021-11-08 13:53] 13013SwagR commented on #468
Sure,
**Context**
I am given an URL to access my instance as it runs in a segregated sub-net
e.g. `internal.domain.net/proxied_path/`

**Actual behavior**
I need to set the `rootpath` to `proxied_path` because when ArgoCD loads,
it updates the URL to `internal.domain.net/Application`
_This is a common problem with single page apps_

**Desired behavior**
I need ArgoCD to be aware of the `rootpath`

[2021-11-08 14:07] iam-veeramalla commented on #468
Are u using route or an ingress.

I think your problem should be solved by adding the path to your server spec in the Argo CD CR. Something like this.
[code]

https://github.com/argoproj-labs/argocd-operator/blob/b674bea5d139859ffae5d6b2add03db1975369d2/bundle/manifests/argoproj.io_argocds.yaml#L4106

[2021-11-08 14:23] 13013SwagR commented on #468
I am using a route
I tried your solution, but without success
The path is present in the ArgoCD CR, but not in the route or the deployment.

[2021-11-08 15:06] iam-veeramalla commented on #468
if it is not working then its a bug. Let me give it a try and see what is going on :)

[2021-11-08 16:06] divya-prakash2 opened #474 "argocd-dex-server configuration"
**Describe the bug**
Need help in configuring argocd with ldap authentication

**To Reproduce**
argocd-cm has been edited to have the dex.config information as follows
  dex.config: |-
    connectors:
    - type: ldap
      name: myad.local
      id: ldap
      config:
        # Ldap server address
        host: 172.28.8.3:10389
        insecureNoSSL: true
        insecureSkipVerify: true

[2021-11-08 16:25] #471 closed

[2021-11-08 18:41] #459 closed

[2021-11-09 05:02] iam-veeramalla commented on #474
Hi @divya-prakash2 , Have you already been through this doc ?
https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/#dex

[2021-11-09 21:48] jaideepr97 opened #478 "Application-scoped Argo instance fails to sync when a managed namespace is deleted"
**Describe the bug**

See https://github.com/redhat-developer/gitops-operator/issues/229 for details

[2021-11-10 07:41] divya-prakash2 commented on #474
Hi @iam-veeramalla  , yes i did go through the link .

My questions
Where do we configure dex server endpoint /api/dex/callback ? Is it on the argocd side or ldap server side ?

Since clicking on myad.local on the argocd UI , i see a 503 Service Unavailable where do we configure the argocd-dex-server specifications ?
Failed to query provider "https://172.28.8.9/api/dex": 503 Service Unavailable: <

[2021-11-10 14:02] #478 closed

[2021-11-12 06:19] jyniybinc opened #481 "Add support for `globalProjects` in `argocd-cm`"
It would be great if the new `globalProjects` feature were supported:
https://argo-cd.readthedocs.io/en/stable/user-guide/projects/#configuring-global-projects-v18

[2021-11-12 10:12] RoboticHuman opened #482 "The new version of the operator v.0.1.0 installs ArgoCD in Namespaced mode. (OLM)"
Previously on 0.0.15, the installation wasn't namespaced I believe, it was restricted through the CRB to only manipulate resources within the namespace of argo but it wasn't a namespaced installation. The problem we have now is installing CRDs or any cluster level resources isn't working with 0.1.0.

Is there an option to disable namespaced installation?

Example of what happens:
![image](https://

[2021-11-12 18:06] jaideepr97 opened #483 "Unify SSO configuration in Argo CD CR"
**Is your feature request related to a problem? Please describe.**
Currently, argocd-operator supports both dex and keycloak SSO providers, but the process to configure both of them differs and there's no intuitive, standard way to configure and switch between them.

**Describe the solution you'd like**
we should move `dex` configuration from `spec.dex` to `spec.sso` to align it with keycloak. Thi

[2021-11-13 17:02] jannfis commented on #482
Hey, there is actually a way to elevate certain instances to be operating in cluster-scoped mode. You need to edit the `Subscription` resource to add the environment variable `ARGOCD_CLUSTER_CONFIG_NAMESPACES` to include the namespace where you installed the `ArgoCD` operand to, e.g.

[code]
This can also take a comma-separated list of multiple namespaces, when you have more than one Argo CD that

[2021-11-14 00:31] RoboticHuman commented on #482
@jannfis , this actually solves the problem, thank you so much :)

[2021-11-14 00:31] #482 closed

[2021-11-14 07:38] RoboticHuman opened #485 "operator v0.1.0 ArgoCDExport Resource stuck in Pending phase"
creating an ArgoCDExport resource (after the ArogCD cluster is up and running) using v0.1.0 doesn't start a kubernetes job, it's just stuck in **Pending** state. Local and AWS backends tested.

![image](https://user-images.githubusercontent.com/5648506/141672793-fed4369b-0eae-4ecb-8e55-ac05ba40ad29.png)

The problem seems to be that it's looking for the service account "argocd-application-controll

[2021-11-16 12:54] bortek commented on #323
It's been a while since the last comment. Are there any updated on this ?

[2021-11-22 05:21] iam-veeramalla commented on #323
@bortek A new release v0.1.0 is out. Can you give it a try ?

[2021-11-22 19:20] yuriolisa opened #489 "Publish on quay.io - v0.1.0"
What's the argocd-operator cadence to be published on quay.io ?

https://quay.io/repository/redhat-cop/argocd-operator?tab=tags

[2021-11-24 07:24] iam-veeramalla commented on #489
Hi @yuriolisa, You can find it here under `argoprojlabs` org
https://quay.io/repository/argoprojlabs/argocd-operator?tab=tags

[2021-11-25 11:59] iam-veeramalla opened #492 "operator fails to install keycloak when resourcequota scope is terminating or no scope is set."
**Describe the bug**
when creating ArgoCD instances in user workload projects and defining `.spec.sso.provider: keycloak` the operator is creating a `DeploymentConfig` which is leading to a stuck deploy Pod due to missing resources in the `DepolymentConfig` and Quotas enforcing requests and limits set.
Please make sure, that the `DeploymentConfig` has resources set in the strategy or please migrat

[2021-11-26 12:47] muicoder opened #496 "When multiple envs are merged, the pods may be coordinated many times due to unsorted"
**Describe the bug**

argocd-operator: v0.1.0

**Fixed**
https://github.com/argoproj-labs/argocd-operator/pull/495

[2021-11-26 13:08] muicoder opened #497 "Using the volumes, volumeMounts and initContainers fields in the repo server is invalid"
**Describe the bug**

argocd-operator: v0.1.0

After the volumes, volumeMounts and initContainers fields are invalid in the repo server, the remaining coordination tasks can be completed through the following pr modification.

### > https://github.com/argoproj-labs/argocd-operator/pull/494

[2021-11-26 21:07] tylerauerbeck opened #498 "Publish latest operator build to quay workflow is failing."
**Describe the bug**
It appears that the workflow that publishes the latest operator build to quay has been failing. From looking at the latest push to `master`, the logs suggest that it's because it isn't using the appropriate credentials to talk to quay.

[code]

Earlier in the workflow it should authenticate against the docker repository with the following secrets:

[code]

This is likely becau

[2021-11-29 05:08] iam-veeramalla commented on #497
will be fixed by #467

[2021-11-29 05:10] iam-veeramalla commented on #496
will be fixed by #467 or #495

[2021-11-29 05:23] iam-veeramalla commented on #498
We need to fix this on priority. Its been a quite a good time we are seeing this issue.

[2021-11-29 06:05] iam-veeramalla commented on #497
@muicoder Thanks for raising issue with us. Can you please provide more information on this ?

[2021-11-29 13:19] tylerauerbeck commented on #498
@iam-veeramalla Agreed. Happy to help out where/if I can. Feel free to reach out as I'm the one who implemented the workflow I believe. Just don't have any visibility to what those values are on the backend (my suspicion is that the creds are probably fine and it's more around `REGISTRY_URL` not being configured as expected).

[2021-11-29 15:35] tylerauerbeck commented on #498
@iam-veeramalla No problem. For reference, the PR that merged this in is here: https://github.com/argoproj-labs/argocd-operator/pull/365

If you look at the notes it expects REGISTRY_URL to be quay.io/argocd-operator. So if the secret isn't set to that, then we can just make a small change to the workflow to utilize some other envvar's that are available in GHA to piece together the appropriate UR

[2021-11-30 09:23] bo0ts commented on #323
I'm a bit disappointed that despite this issue being reported and reproducibly confirmed 6 months ago and promises of improvement this has not happened. Especially since this issue seems like a no-brainer for a Helm chart.

Does the project need help with managing issues?

[2021-11-30 10:17] iam-veeramalla commented on #323
@splattner @bo0ts I agree that we have introduced some breaking changes in the latest versions but they were required due to the operator-sdk upgrade, enhancing the existing behavior and other reasons.

We have upgraded and released a new version v0.1.0 as there are breaking changes. We will make sure to avoid breaking changes going ahead.

[2021-11-30 10:45] bo0ts commented on #323
@iam-veeramalla Good that you mention it. What are the breaking changes in v0.1.0? I don't see them documented in the release notes.

[2021-11-30 20:14] #466 closed

[2021-12-02 04:39] #492 closed

[2021-12-02 15:27] tylerauerbeck commented on #170
Looks like this is available on ArtifactHub already: https://artifacthub.io/packages/olm/community-operators/argocd-operator

So this can probably be closed?

[2021-12-02 15:30] #170 closed

[2021-12-02 15:33] tylerauerbeck commented on #126
@jannfis Did this happen with the work that was done to bump operator-sdk v1.11?

[2021-12-03 15:58] tylerauerbeck commented on #206
It looks like all the default images pull from quay now and I believe the ability to specify images for each component is also in place. Can this be closed?

[2021-12-03 16:12] tylerauerbeck commented on #489
@iam-veeramalla I've seen a few issues that reference quay.io/argoprojlabs.argocd-operator vs quay.io/redhat-cop/argocd-operator. Is it maybe worth chatting with the CoP folks to see about cleaning up those images to reduce confusion moving forward?

[2021-12-03 16:18] tylerauerbeck commented on #328
I think this is addressed here: https://github.com/argoproj-labs/argocd-operator/blob/master/.github/workflows/ci-build.yaml#L44-L152 . Is there anything else that needs added for this?

[2021-12-03 16:43] iam-veeramalla commented on #489
Makes sense @tylerauerbeck  .. going ahead we will push only to argoprojlabs.

[2021-12-03 17:47] tylerauerbeck commented on #489
@sabre1041 Any chance you or someone from the CoP could lend a hand with this cleanup?

[2021-12-03 18:13] tylerauerbeck commented on #256
A few new releases have been cut since this issue was opened, so this can probably be closed

[2021-12-03 18:15] tylerauerbeck commented on #231
After the bump to the more recent version of operator-sdk, we've got a Makefile! So this can probably be closed.

[2021-12-03 18:20] tylerauerbeck commented on #230
Operator now supports Argo 2.X and the application-controller has been converted to use a statefulset (https://github.com/argoproj-labs/argocd-operator/blob/master/controllers/argocd/statefulset.go). So I think this can be closed?

[2021-12-03 18:26] tylerauerbeck commented on #142
@iam-veeramalla I believe this can be done with the `DISABLE_DEX` var correct? So I think this issue can be closed.

[2021-12-03 18:54] iam-veeramalla commented on #142
Thanks @tylerauerbeck  .. true.

[2021-12-03 18:55] #142 closed

[2021-12-03 20:43] sabre1041 commented on #489
@tylerauerbeck the concern is potentially breaking existing deployments who are still using images from the CoP.  We could mirror them so they get the updated content and then send out a deprecation announcement/plan

[2021-12-03 20:53] tylerauerbeck commented on #489
@sabre1041 That makes sense to me.

@iam-veeramalla Any thoughts? Regardless I think this issue is good to be closed. But maybe open another to track the cleanup/deprecation plan?

[2021-12-04 08:13] #256 closed

[2021-12-05 07:23] tylerauerbeck commented on #107
Just taking a look back at this issue and it looks like this functionality is in place by default now.

For example, if I deploy the operator with `make deploy IMG=quay.io/argoprojlabs/argocd-operator:v0.1.0`, then I get the operator running in `argocd-operator-system`.

If I then deploy the following two ArgoCD CR's in two seperate namespaces:

[code]

[code]

Then I will see the operator pick up

[2021-12-05 07:24] #107 closed

[2021-12-06 14:31] tylerauerbeck commented on #470
@iam-veeramalla I don't believe I see any instructions that reference the `/deploy` directory any longer. Looks to have been replaced with `make deploy` and `make deploy IMG=quay.io/my-org/argocd-operator:latest`. So I believe this can be closed?

[2021-12-06 14:45] #462 closed

[2021-12-06 14:47] iam-veeramalla commented on #470
@tylerauerbeck .. Yes, docs are updated by @jopit . Thanks for noticing this.

[2021-12-06 14:47] #470 closed

[2021-12-06 16:37] #441 closed

[2021-12-06 22:18] #498 closed

[2021-12-07 19:09] Nurik-K commented on #93
Hi! I have question about creating webhook through argocd shared secret. Can someone please explain how it works?
After creating githubSecret inside argocd-secret it automatically start using webhook(github) even i did not create webhook event in my github repository setting->webhook(did not specify my argocd url) How github know where to send notification?

[2021-12-08 03:40] dewan-ahmed commented on #230
Per @tylerauerbeck's comment, closing this issue. Thanks.

[2021-12-08 03:40] #230 closed

[2021-12-08 11:27] #485 closed

[2021-12-08 13:17] benruland opened #510 "kube-rbac-proxy Image with tag hinders disconnected deployments"
Hi community,

after upgrading to ArgoCD operator 0.1.0 from 0.0.15, we experienced issues with the argocd-operator-controller-manager Pod.

**Describe the bug**
Pod argocd-operator-controller-manager is not able to start, due to failing to access the image gcr.io/kubebuilder/kube-rbac-proxy:v0.8.0 https://github.com/argoproj-labs/argocd-operator/blob/755639898c156155085e1fcbe2c3c5e74fec332d/confi

[2021-12-09 23:50] tylerauerbeck commented on #416
@iam-veeramalla It seems to me like all of the docs have been updated. Is there anything else that you think is still missing?

[2021-12-10 01:15] laloyalo commented on #337
Hello @sylus , sorry to bother you with this old issue, but I just updated to the operator v0.1.0. Previous to that, I already had three namespaces with different ArgoCD CRDs installed, detected and running, but my way to do that with v0.0.15, was to modify the catalog source to watch for namespaces set to the empty string `""`, whenever I do that now, it throws an error mentioning that it cannot

[2021-12-10 01:31] laloyalo commented on #337
Sorry, I'll answer myself. I was able to fix it by editing the OperatorGroup and removing the spec, as described [here](https://docs.openshift.com/container-platform/4.3/operators/understanding_olm/olm-understanding-operatorgroups.html#olm-operatorgroups-target-namespace_olm-understanding-operatorgroups).

[code]

Not sure if that's the way it's meant to be, but it worked and generated a Cluster S

[2021-12-10 05:02] #416 closed

[2021-12-10 05:03] iam-veeramalla commented on #416
This can be closed. Thanks @tylerauerbeck

[2021-12-10 08:00] benruland commented on #350
I guess everybody is using ArgoCD 2.x now, so this need is obsolete now.

[2021-12-10 08:00] #350 closed

[2021-12-14 06:29] hzliangbin commented on #481
/assign

[2021-12-15 04:58] iam-veeramalla commented on #481
Hi @hzliangbin , Thanks for accepting to work on the issue.

[2021-12-20 07:59] EHSchmitt4395 opened #523 "Namespace Isolation Forced?"
**Describe the bug**
Namespace isolation mode is forced with operator install
**To Reproduce**
Steps to reproduce the behavior:
1. Install the operator described via docs

**Expected behavior**
Docs describe no method to install argocd via operator with namespace isolation mode off.  A

**Additional context**
I'd prefer to continue using argocd operator to install argocd. Otherwise i have to use g

[2021-12-20 08:36] iam-veeramalla commented on #523
Hi @EHSchmitt4395 , are you using Argo CD Operator version 0.1.0 ?

Do you want to use a single Argo CD instance for the whole cluster ?

[2021-12-20 08:42] EHSchmitt4395 commented on #523
Hey ! yeah using  0.1.0  - i do ! Would prefer to either be able to allow all namespaces as managed or just turn off namespace isolation all together. Thanks for the reply!

[2021-12-20 15:21] EHSchmitt4395 commented on #523
@iam-veeramalla is there another way thats not obviously stated that enables such functionality :o ? (to disable namespace isolation and enable all namespaces to be managed?)

[2021-12-20 18:27] EHSchmitt4395 commented on #523
also setting
[code]
in cluster settings does not work as expected
<img width="608" alt="Screen Shot 2021-12-20 at 10 26 37 AM" src="https://user-images.githubusercontent.com/58869136/146815186-9bba4f3c-cd84-42ca-a8fd-62e8efe40daa.png">

[2021-12-21 11:38] #483 closed

[2021-12-22 03:14] EHSchmitt4395 commented on #523
solved with subscription setting
[code]

[2021-12-22 03:14] #523 closed

[2021-12-22 03:20] EHSchmitt4395 opened #525 "Reconcile Pause For Custom Resource?"
**Is your feature request related to a problem? Please describe.**
Hey guys is there any available featuresets that allow for reconciliation to pause? I have a custom repo-server deployment that relies on some env vars. Reconciling and making sure i have my correct custom deployment of repo-server is a constant battle..

**Describe the solution you'd like**
Ideally i could avoid the reconcile feat

[2021-12-22 04:37] iam-veeramalla commented on #525
Hey @EHSchmitt4395 , Why dont you add those Env vars to the Argo CD CR ?

[2021-12-22 05:32] EHSchmitt4395 commented on #525
hey @iam-veeramalla  ---- its more than env vars -- its basically the viaduct sops setup for integrating mozilla sops and kustomize plugins to the repo server  :/

[2021-12-22 05:32] EHSchmitt4395 commented on #525
https://github.com/viaduct-ai/kustomize-sops

[2021-12-22 05:44] iam-veeramalla commented on #525
I think you have to use a custom build of ArgoCD operator and move repo-server out of reconciliation loop.

[2021-12-22 05:54] EHSchmitt4395 commented on #525
@iam-veeramalla   that sounds like allllooot more work than just stopping the operator from reconcile -- anything else i can do ? Shorter time frame?  -- something in the operator code? Or ? Thanks for the hasty replys !!

[2021-12-22 05:57] EHSchmitt4395 commented on #525
where is reconcile loop for repo server -- maybe i can just comment out and rebuild the dockerfile?

[2021-12-22 06:03] iam-veeramalla commented on #525
Here you go
https://github.com/argoproj-labs/argocd-operator/blob/2f43a08b7aa806a4468ba7e6c64404bdbb8fbacf/controllers/argocd/deployment.go#L333

[2021-12-22 06:19] EHSchmitt4395 commented on #525
@iam-veeramalla awesome many thanks!~ Ill give that a go !

[2021-12-22 06:20] #525 closed

[2021-12-22 23:59] EHSchmitt4395 commented on #525
@iam-veeramalla

Quick question -- Developer Docs demonstrate using
[code]
for modifying namespaces
The make install comand is just doing
[code]
But there is no reference to this var anywhere in the kustomization in the config/crd directory?   How would i add this manually if i dont want to use go? I just want kustomize to do this for me ?

in config/default kustomization there is a vars: section

[2021-12-23 00:04] EHSchmitt4395 commented on #525
i want to run completely open --  before i would add to my subscription file
[code]

This would allow me to deploy to any cluster.  Now through manual method of deploying CRDS and build - i get strict namespace scope to where argo was deployed + a
[code]
error :/

[2021-12-23 01:14] EHSchmitt4395 opened #528 "Cant Build Catalog | Error: Binary was compiled with 'CGO_ENABLED=0', go-sqlite3 requires cgo to work. This is a stub"
**Describe the bug**
On catalog build via
[code]
error recieved
[code]
Dockerfile by default includes:
[code]
**To Reproduce**
build catalog on Mac  catalina 10.15.7  - make no changes to dockerfile

**Expected behavior**
catalog builds correctly

**Additional context**
I fulfil all requirements, i would think that goach of amd64 with go is compatible?

go version go1.17.5 darwin/amd64

[2021-12-23 23:48] EHSchmitt4395 commented on #528
solved with opm v1.15.2.  not v1.15.1 in makefile

[2022-01-06 20:07] ken-ie opened #533 "ArgoCD Export fails - argocd-util: command not found"
**Describe the bug**
When the export job is created, the container crashes with the following error:
[code]

**To Reproduce**
First, bypass this issue https://github.com/argoproj-labs/argocd-operator/issues/347
Create SA, RoleBinding and Role w/ expected names in the target namespace.

Then set up a simple backup, in my case using GCS.

[code]

When the job is created, the error above occurs.

I c

[2022-01-11 00:32] trevor-viljoen commented on #457
I am experiencing this issue as well. Is there a missing configmap entry?

[2022-01-18 11:22] iam-veeramalla opened #535 "Bundle Installation fails due to the etcd limit of 1 MB."
**Describe the bug**
With the recent upgradation of ApplicationSets CRD to `v0.3.0` the operator bundle size has grown over 1 MB(~ 1.3 MB). This is a blocker for installing the operator using OLM.

OLM relies on etcd to store the bundle content. OLM copies the bundle files into a configmap and stores them in etcd which has a max object size restriction set to 1 MB. Unfortunately, the size of the b

[2022-01-19 15:28] #535 closed

[2022-01-20 15:53] rcfja opened #539 "Fix openshift documentation please"
### Is your task related to a problem? Please describe.
The file paths listed in the openshift documentation do not exist in the repository. Leaving me confused as to exact install process.
https://github.com/argoproj-labs/argocd-operator/blob/master/docs/install/openshift.md

oc create -f deploy/service_account.yaml
oc create -f deploy/role.yaml
oc create -f deploy/role_binding.yaml

oc create -f

[2022-01-20 17:37] iam-veeramalla commented on #539
Thanks for raising this @rcfja , we will take a look. Did you try the steps ? where did you get struck ? can you provide some more details ?

[2022-01-20 17:39] iam-veeramalla commented on #528
Thanks for that @EHSchmitt4395 , Do you want to raise a PR with fix version ?

[2022-01-20 18:12] maratsal opened #540 "add option to enable Service Monitor deployment"
**Is your feature request related to a problem? Please describe.**
Currently operator supports deployment of prometheus instance within argocd object deployment. It would be great to have option to enable deployment of just service monitors to collect metrics by existing prometheus installation on the cluster.

**Describe the solution you'd like**
would be something like this:
[code]
or more granu

[2022-01-21 02:20] rcfja commented on #539
Yeah even the very first command on the documentation fails ..

[code]

I can't find a file with the name service_account.yaml

[2022-01-21 06:49] iam-veeramalla commented on #539
Thanks for letting us know, we migrated to new version of operator-sdk. I thought we updated our documentation but seems like we need to do more work on this.

[2022-01-21 08:10] LinuxSuRen opened #541 "Request to support manual install with a single YAML file"
**Is your feature request related to a problem? Please describe.**
As we can see from the [document]() about how to install Argo CDoperator manually.

[code]

Users need to clone the git repository to the local environment. This is not convenient if they just want to install instead of exploring the codebase.

**Describe the solution you'd like**
Provide a single YAML file for that. Users can down

[2022-01-21 08:43] LinuxSuRen commented on #541
I'd like to help with this. But I didn't find the corresponding GitHub action script file. Please feel free to leave your comment below.

[2022-01-21 13:09] maratsal opened #543 "User defined service monitors get deleted if name would match ones that supposed to be created by operator."
**Describe the bug**
Not sure if this is a bug, but rather surprising behaviour.
User defined service monitors get deleted if name would match ones that supposed to be created by operator if deployment of
prometheus. Basically operator checks if there are any currently defined service monitors in the namespace and if there are and their name is matching ones that operator would create, operator is

[2022-01-26 01:11] #497 closed

[2022-01-27 18:17] Obirah commented on #543
Holy shit, thank you for this issue. I was going crazy over this. 🤡

[2022-01-27 19:38] maratsal commented on #543
I am glad this helped you. I spent half a day to troubleshoot this. The best to fix this would be giving thumbs up to the original post 👍🏻 I guess :)

[2022-02-03 06:49] iam-veeramalla opened #552 "argocd-tls-certs-cm is overwritten on any change as of v0.2.0"
**Describe the bug**
Prior to v0.2.0, certificates for TLS validation could be managed via the ArgoCD GUI or by controlling the argocd-tls-certs-cm ConfigMap directly. The value of argocd-tls-certs-cm was set initially when ArgoCD was deployed but not altered thereafter.

After upgrading tov0.2.0, this ConfigMap is reset to the value of tls.intitialCerts in the ArgoCD CR after any change. This ren

[2022-02-03 06:52] iam-veeramalla commented on #496
fixed in latest.

[2022-02-03 06:52] #496 closed

[2022-02-03 06:55] iam-veeramalla commented on #489
@sabre1041 @tylerauerbeck closing the issue as suggested. I dont have much context about the CoP repo/registry. I am not sure who is maintaining it.

@tylerauerbeck can you please provide more details on a new request.

[2022-02-03 06:55] #489 closed

[2022-02-03 06:57] iam-veeramalla commented on #456
we have released operator v0.2.0. Please feel free to re-open the issue if you still see this after upgrading.

[2022-02-03 06:57] #456 closed

[2022-02-03 06:59] iam-veeramalla commented on #385
Hi @seed-248 , you can now make use of the `ARGOCD_CLUSTER_CONFIG_NAMESPACES` env var. Please upgrade to the latest version.

[2022-02-03 06:59] #385 closed

[2022-02-03 07:00] iam-veeramalla commented on #312
Keycloak can automatically installed and configured to use.
[code]

[2022-02-03 07:00] #312 closed

[2022-02-03 07:03] iam-veeramalla commented on #217
This feature is released and available in the latest versions. Please upgrade.

[2022-02-03 07:03] #217 closed

[2022-02-03 15:16] #246 closed

[2022-02-04 06:03] #552 closed

[2022-02-11 13:50] ghost opened #558 "Changing host does not update ingress"
**Describe the bug**
When setting up an `ArgoCd`, and later changing the host the ingress will not be updated with the new host information.

**To Reproduce**
Do a kubectl apply on something like:

[code]

followed by a kubectl apply on something like:

[code]

then the host will still be set to the default value when describing the ingress

**Expected behavior**
That the ingress will be updated w

[2022-02-11 13:59] rfftrifork opened #559 "Allow more complete configuration of Dex"
**Is your feature request related to a problem? Please describe.**
When configuring Dex it seems that there's only a limited amount of configuration available in the operator. E.g., if I want to utilize Google Workspace and at the same time groups I need to do some additional setups of a secret and linking that to the `argocd-dex-server`. A task that logically - at least if you ask me - should be

[2022-02-12 00:09] arjunprasad2143 commented on #523
@EHSchmitt4395
Where in the operator subscription should I add the mentioned env? Could you explain so that I can fix the same problem

[2022-02-14 13:20] jonaslar opened #561 "Question about setting ArgoCD image to patch the argocd components"
**Is your feature request related to a problem? Please describe.**
Regarding CVE-2022-24348  "Path traversal and dereference of symlinks when passing Helm value files" I want to upgrade to ArgoCD version 2.2.5, quay.io/argoproj/argocd:v2.2.5.

I have set the property [Image](https://argocd-operator.readthedocs.io/en/latest/reference/argocd/#image) to argocd image 2.2.5:

[code]
[code]

**Expected

[2022-02-14 19:18] iam-veeramalla commented on #561
Hi @jonaslar, Please make the below correction to your CR.
[code]

[2022-02-14 22:31] jonaslar commented on #561
Hi,

setting version as described above solved the problem. I find now that the property version is documented, https://argocd-operator.readthedocs.io/en/latest/reference/argocd/#version

Thank you for the help

[2022-02-15 06:25] #561 closed

[2022-02-15 12:42] arjunprasad2143 commented on #327
Any chance of getting any kind of documentation on the upgrades? We have had major issues during the upgrade from 0.0.14 to 0.0.15 and from 0.0.15 to 0.1.0

[2022-02-15 12:59] arjunprasad2143 commented on #323
any updates on this? major breaking issues with such delays is not such a good thing (anybody who has to go through a lot of trouble just to fix issues related to a minor upgrade can second me on this)

[2022-02-15 13:54] iam-veeramalla commented on #327
Hi @arjunprasad2143 , sorry that you had a very bad experience with the upgrades. We are trying to make the product stable with each release.

We are currently on release v0.2.0 and planning to release v0.3.0 in next 2-3 weeks. I am afraid that documenting upgrade steps for `0.0.14 - 0.0.15` is out of our backlog and would not help a lot of users.

I would suggest you to upgrade to the latest vers

[2022-02-15 17:41] iam-veeramalla commented on #327
I am sorry for the experience that you had. Please understand that you are running a unstable version(<v0.1.0) of product which is prone to breaking during upgrades.

I understand that we should have documented the upgrade procedure, I will try to work on this -> upgrade from 0.0.14 to 0.2.0

[2022-02-16 10:34] lsambolino commented on #122
Hello, it seems we're facing the same issue in our OpenShift cluster.
We have written the ArgoCD yaml as the following but the ConfigMap is then cleared to 0 bytes just few seconds later:
`apiVersion: argoproj.io/v1alpha1
kind: ArgoCD
metadata:
  creationTimestamp: "2021-11-03T17:54:27Z"
  finalizers:
  - argoproj.io/finalizer
  generation: 345
  name: openshift-gitops
  namespace: openshift-gitop

[2022-02-16 10:56] lsambolino commented on #122
Apologies, we were overwriting the ArgoCD yaml from a repo without realizing it.

[2022-02-16 12:32] Skycelot opened #564 "Manual installation, controller-manager fails to start"
**Describe the bug**
I'm installing argocd-operator manually as in documentation. ArgoCD controller manager can't start

**To Reproduce**
Steps to reproduce the behavior:
1. git clone <argocd-operator-repo>
2. git checkout v0.2.0
3. kustomize build config/default > argocd-operator.yaml
4. kubectl apply -f argocd-operator.yaml

**Expected behavior**
ArgoCD controller manager is up and running

**Sc

[2022-02-17 07:48] adarshaj commented on #539
I am not sure if this is worthy of a new issue, but after installing argocd-operator using Operator Hub and configuring dex with openshift login as described here: https://argocd-operator.readthedocs.io/en/latest/usage/dex/#dex-openshift-oauth-connector . The authentication seems to fail with the following message:
`Failed to authenticate: openshift: user "<openshift_userid>" is not in any of the

[2022-02-17 14:29] iam-veeramalla commented on #539
@adarshaj Please open a new issue :)

[2022-02-17 15:21] kmanchik opened #565 "Requesting to support latest version of argocd installation using operator"
### Is your task related to a problem? Please describe.

- As we already there is an Argo CD High Severity Vulnerability and its impact on Kubernetes and fixes are available in the

   https://apiiro.com/blog/malicious-kubernetes-helm-charts-can-be-used-to-steal-sensitive-information-from-argo-cd-deployments/

### Describe the solution you'd like

-. [A patch](https://github.com/argoproj/argo-cd/s

[2022-02-17 16:05] adarshaj opened #566 "argocd-operator configured with Dex not working for openshift login"
After installing argocd-operator using Operator Hub and configuring dex with openshift login as described here: https://argocd-operator.readthedocs.io/en/latest/usage/dex/#dex-openshift-oauth-connector . The authentication seems to fail with the following message:
`Failed to authenticate: openshift: user "<openshift_userid>" is not in any of the required groups.`

I did create the groups and added

[2022-02-17 16:35] iam-veeramalla commented on #566
@adarshaj Can you please provide your dex configuration ? I think you are using the `groups` property, Please remove that from your Argo CD CR or add the openshift user to the group that you mentioned under the `groups` property.

[code]

[2022-02-17 17:28] adarshaj commented on #566
Here's my ArgoCD CR:
[code]

On Openshift, I've executed these commands:
[code]

[2022-02-20 14:56] ddops2468 opened #570 "Allow exposing application labels as Prometheus metrics"
**Is your feature request related to a problem? Please describe.**
ArgoCD conroller allow exposing of application labels in Prometheus metric argocd_app_labels (https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/metrics.md). This requires extra parameters to be provided to argocd-application-controller. When using the operator the StatefulSet for the controller is managed by the

[2022-02-22 11:00] romulus-ai commented on #523
Hey a question, where do I need to add those settings? Is it the deploy/subscription.yaml like this:

`
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: argocd-operator
spec:
  channel: alpha
  name: argocd-operator
  source: argocd-catalog
  sourceNamespace: olm
  config:
    env:
      - name: ARGOCD_CLUSTER_CONFIG_NAMESPACES
        value: '*'
      - name: DISABLE

[2022-02-24 19:39] jimmyjones2 opened #575 "Set application.resourceTrackingMethod via ArgoCD CRD"
Enable the operator / ArgoCD CRD to set application.resourceTrackingMethod - see https://argo-cd.readthedocs.io/en/stable/user-guide/resource_tracking/#choosing-a-tracking-method

[2022-03-04 08:04] Gentoli opened #581 "Missing LF in Redis HAProxy Config"
**Describe the bug**
haproxy crashes due to config issue.

**To Reproduce**
1. set ha proxy to enabled with version 2.5.4
1. the haproxy pod crash loops

**Expected behavior**
haproxy pod runs and do not crash

**Logs**

[code]

**Additional context**
Add any other context about the problem here.

[2022-03-07 11:32] romulus-ai opened #583 "Add "helm.valuesFileSchemes" for argocd-cm for usage of helm-secrets"
**Is your feature request related to a problem? Please describe.**
This Featurerequest is related to a problem, because of a change since ArgoCD 2.2.6, it is neccessary to configure helm.valuesFileSchemes in argocd-cm to be able to use helm-secrets with ArgoCD. See Issue: "https://github.com/argoproj/argo-cd/pull/8535"

Additionally see Documentation of helm-secrets: "https://github.com/jkroepke/h

[2022-03-09 02:27] EHSchmitt4395 opened #584 "keycloak sso does nothing"
**Describe the bug**
[code]
Triggers nothing. There is no verbosity within the operator logs to see why. The entirety of the Argo ended side of deployment with operator does deploy successfully

**To Reproduce**
Steps to reproduce the behavior:
[code]
Add to CRD
**Expected behavior**
Keycloak to build, or error to occur within operator container manager logs

argocd configmap to reflect the new ke

[2022-03-09 03:38] iam-veeramalla commented on #584
Hi @EHSchmitt4395 are you on openshift or kubernetes ?

[2022-03-09 03:41] EHSchmitt4395 commented on #584
Hey thanks for the speedy reply. I’m on kubernetes. Also tested without my custom operator and it still didn’t work despite other Argo resources kicking off.

Thanks !

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Abhishek Veeramalla ***@***.***>
Sent: Tuesday, March 8, 2022 7:39:14 PM
To: argoproj-labs/argocd-operator ***@***.***>
Cc: EHSchmitt4395 ***@***.***

[2022-03-09 03:43] iam-veeramalla commented on #584
let me try this real quick

[2022-03-09 03:46] iam-veeramalla commented on #584
can you share the `.status` of you argocd resource using kubectl `edit` or `get -oyaml` ? I want to see the value of ssoConfig field.
@EHSchmitt4395

[2022-03-09 04:31] EHSchmitt4395 commented on #584
@iam-veeramalla  hey sorry just got home!

[code]

[2022-03-09 04:33] iam-veeramalla commented on #584
ok looks good. I will give it a try and get back to you.

Do you want to tell me any specific steps that you followed at your end that I should know ?

[2022-03-09 04:43] EHSchmitt4395 commented on #584
my operator is built from
    commit: b5c30f9f17c53e158623fb94ee3d87957ff5f2ae
    repo: https://github.com/argoproj-labs/argocd-operator.git
    directory: /
    ref: v0.1.0

    as a base. But even when trying this version without changes just sso on, i get no response.

   Really appreciate you testing this, thankyou.  Outside of this, the operator by default does not support adding local users

[2022-03-11 15:26] jopit opened #586 "Panic due to missing init container"
**Describe the bug**

PR #562 introduced a bug where a panic occurs if a version of Argo CD is installed on the cluster by an older version of the operator that didn't have the CMP 2.0 support included.

[code]

[2022-03-14 20:44] RafPe commented on #375
@brandon-piner-aruba I have come across the same problem. For me, it did not work when I put the value in custom secret.

However with some tinkering :) I got it to run when I put the value `dex.github.clientSecret` into secret called `argocd-secret`.

All other attempts of using secret created by me with the name `sso` , failed with the same message of `level=warning msg="config referenced '$sso:

[2022-03-17 04:29] #586 closed

[2022-03-18 15:45] jopit opened #589 "feat: remove shared repo volume between repo-server and cmp-server"
ArgoCD has change how the repo-server communicates with the cmp-server to generate manifests (GenerateManifests) and check if the repo is supported (MatchRepository) by the plugin.  Need to update the ArgoCD Operator once ArgoCD has released the change and the operator adds support for that version of ArgoCD.

Seehttps://github.com/argoproj/argo-cd/pull/8600

[2022-03-18 15:51] leoluz commented on #589
Feel free to ping me if any clarification is required regarding https://github.com/https://github.com/argoproj/argo-cd/pull/8600.

[2022-03-22 18:49] jessesuen opened #591 "Add SECURITY.md"
The Argo maintainers recently agreed to require all Argoproj Labs project repositories to contain a `SECURITY.md` file which documents:
* Contact information for reporting security vulnerabilities
* Some minimal information about policies, practices, with possibly links to further documentation with more details

This will help direct vulnerability reporting to the right parties which can fix the

[2022-03-25 16:06] ken-ie opened #596 "ArgoCD Export to GCP backend fails - gcloud not in PATH"
**Describe the bug**
When the export job to a gcp backend is created, the container crashes with the following error:
[code]

**To Reproduce**
Set up an export to GCP:
[code]

The the export is created, the above error occurs.

Checking the pod, I find the following image:
`quay.io/argoprojlabs/argocd-operator-util@sha256:411388a09cbba0502639e0190a68d82ae2d7716863e35b2af7322384b2c6af48`

Run that

[2022-03-30 11:00] benruland commented on #510
Is nobody else experiencing these issues?

The issue should be fixable quite easily, by changing the shown line to:

`        image: gcr.io/kubebuilder/kube-rbac-proxy@sha256:db06cc4c084dd0253134f156dddaaf53ef1c3fb3cc809e5d81711baa4029ea4c # kube-rbac-proxy:v0.8.0`

It would then also comply to other images being referenced by sha256-digest rather than tag, such as in https://github.com/argoproj-l

[2022-04-01 07:46] #575 closed

[2022-04-04 11:01] sagikazarmark opened #600 "Disable creating initial secret for ArgoCD export"
**Is your feature request related to a problem? Please describe.**
Creating a default secret causes conflicts when the actual secret values are synchronized from an external store by some tool (eg. ExternalSecrets).

**Describe the solution you'd like**
Disable creating a default secret with a default backup key trusting that it will eventually be there.

**Describe alternatives you've considered*

[2022-04-05 05:17] iam-veeramalla commented on #279
Thanks alot @sagikazarmark . This should help :)

[2022-04-05 18:09] reginapizza opened #601 "Docs incorrectly use .url instead of .host"
**Describe the bug**
This bug was created by me, I'll make a PR shortly to update it.
In https://github.com/argoproj-labs/argocd-operator/blob/master/docs/reference/api.html.md#argocdstatus, it states that "URL is the url for the hostname to use for Ingress/Route resources" but it was renamed to be `Host` instead of `URL`. Docs need to be updated to reflect this.

[2022-04-06 08:30] renemifsud commented on #558
Is there any news on this please? Its a bit counter intuitive to have an operator but its still needed to alter the ingress directly after installation.

[2022-04-07 05:25] iam-veeramalla commented on #565
latest version of the operator install v2.2.5.

[2022-04-07 05:25] #565 closed

[2022-04-07 14:07] iam-veeramalla commented on #584
Hi @EHSchmitt4395 , Sorry for getting back late on this one.

I looked into the reported issue on my kubernetes cluster today and in my case the integration is working like a charm.

1. keycloak deployment created.
2. operator updated the argocd-cm for the required OIDC changes.
3. operator created realm, client and scopes required in the keycloak.
4. I was able to create a user in keycloak and lo

[2022-04-07 14:12] iam-veeramalla commented on #583
Hi @romulus-ai , Sorry for getting back late on this one.

We are discussing internally about allowing the users to update the configmap(argocd-cm). I will update this issue accordingly.

[2022-04-19 08:05] #601 closed

[2022-04-20 06:07] iam-veeramalla opened #620 "Argo CD .status.host field is not updated when using Ingress on OpenShift clusters."
**Describe the bug**
PR #514 adds a new field(host) to the Argo CD CR `.status`. This is useful to retrieve the Argo CD server host name.

While this feature works as expected when customers use `Ingress on Kubernetes` and `Route on OpenShift`, it does not work when a customer use `Ingress on OpenShift`.

**To Reproduce**
Steps to reproduce the behavior:
1. Get a OpenShift cluster.
2. Install and

[2022-04-21 09:58] benruland opened #623 "Repo Server Image should use spec.version if spec.repo.version is not set"
**Describe the bug**
When using a different ArgoCD version than the default version set by the operator, we set spec.version in the CR.
Documentation states for spec.version: "**The tag to use with the container image for all Argo CD components**." (https://argocd-operator.readthedocs.io/en/latest/reference/argocd/#version)

The repo server, however, does not respect this value but only looks at s

[2022-04-24 20:30] sagikazarmark opened #626 "Add ingressClassName to ArgoCDIngressSpec"
**Is your feature request related to a problem? Please describe.**
The `kubernetes.io/ingress.class` annotation is deprecated and replaced by the `ingressClassName` parameter in the latest ingress spec.

**Describe the solution you'd like**
Allow setting `ingressClassName` in `ArgoCDIngressSpec`. Setting `ingressClassName` should override any defaults that might be set currently.

**Additional con

[2022-04-25 04:17] iam-veeramalla commented on #626
Hi @sagikazarmark , I was about raise the similar issue. Thanks :)

Yes, Ingress Class annotation is deprecated(never formally support) and moved to IngressClassName in the spec.

I would like to see the below.
1. Remove the hard coded Nginx related Ingress annotations(IngressClass, SSLRedirect ..).
2. Allow users to provide their  IngressClassName through Argo CD CRD.
3. Allow users to provide cu

[2022-04-25 17:25] iam-veeramalla commented on #540
@jopit What do you think about this one ?

[2022-04-28 06:00] #468 closed

[2022-04-28 06:54] keskad commented on #385
The official documentation lacks information about the `ARGOCD_CLUSTER_CONFIG_NAMESPACES` parameter - could it be added to documetation? Is this parameter officially supported and will not be deleted in the future without notice?

[2022-04-29 20:20] jaideepr97 opened #627 "Missing applicationset controller status field in Argo CD CR"
**Describe the bug**
The Argo CD CR status section is currently missing a field to reflect the status of the applicationset controller. To be consistent with the rest of the components managed by the operator, the status of the CR should be updated to also indicate the present condition of the applicationset controller

**To Reproduce**
Steps to reproduce the behavior:
1. Install operator
2. Spin

[2022-04-29 21:53] jaideepr97 opened #628 "ApplicationSet resources are not cleared after config is removed from CR"
**Describe the bug**
ApplicationSet resources (deployment, serviceaccont, roles, rolebindings) are not deleted from cluster when appset controller is disabled by deleting `.spec.applicationSet`

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Argo CD operator on a cluster and create an Argo CD instance
2. edit the Argo CD CR and add `.spec.applicationSet` and set it to empty
3. Watch t

[2022-05-02 12:03] iam-veeramalla commented on #481
Hi @hzliangbin did you get chance to work on this one ?

[2022-05-02 12:28] iam-veeramalla commented on #626
@sagikazarmark you have shown interest in working on this issue. Please let me know if you would like me to assign this to you.

[2022-05-02 12:38] sagikazarmark commented on #626
@iam-veeramalla Yep, I'm happy to take this one.

A couple notes though:

This would be a breaking change. Is that acceptable?
(The behavior would change from using "nginx" to using the default ingress controller)

[2022-05-02 12:38] sagikazarmark commented on #626
Also, I'd rather classify this as an enhancement, not necessarily a bug. My two cents.

[2022-05-02 12:42] iam-veeramalla commented on #626
@sagikazarmark how about having nginx as default and allow users to configure a custom one through CRD ? If a custom Ingress controller is configured through CRD, we can remove the default Nginx.

That way this wouldn't be a breaking change.

[2022-05-02 15:36] sagikazarmark commented on #626
Well, it's not that simple unfortunately. When the `ingressClassName` in an `Ingress` resource is unspecified/`nil`, Kubernetes automatically falls back to the default Ingress Controller.

It would certainly be a reasonable expectation that the Ingress configuration for the CRD works the same way (which contradicts with the current behavior).

To be clear: I think breaking the current behavior is

[2022-05-02 19:12] iam-veeramalla commented on #626
@sagikazarmark I would agree with you.

The current behavior would not work down the line anyways as it is deprecated annotation. We can mention about the annotation removal in the release notes and also steps to configure the new Ingress Class.

[2022-05-02 19:32] kungfuchicken opened #633 "User-define imagePullPolicy"
When deploying on certain types of clusters, i.e. bandwidth limited edge clusters, it's preferable to not pull images unless absolutely necessary.

It would be great to be able to define a global `imagePullPolicy` for the operator that all ArgoCD instances and their component services respect.

It would also be suitable, though tedious, to be able to pass this config along in the various component

[2022-05-02 19:42] sagikazarmark commented on #626
Ok. I'll get to work.

[2022-05-04 08:00] Morriz commented on #142
Can this be re-opened? The var is not working and we see dex deployed.

[2022-05-04 14:38] Morriz opened #634 "Dex can't be disabled"
**Describe the bug**

Hi, the documentation describing how to disable Dex is not correct. The following subscription configuration does NOT disable it:

**To Reproduce**
[code]

**Expected behavior**

The configuration to stop dex from starting.

**Additional context**

Deployed version: v2.3.3-07ac038

[2022-05-04 14:58] iam-veeramalla commented on #634
Hi @Morriz , we havn't made any changes to this behavior recently and it is expected to work. Let me try at my end.

[2022-05-04 15:20] iam-veeramalla commented on #634
I can reproduce the error. Thanks for reporting the issue :)

[2022-05-05 05:44] hzliangbin commented on #481
@iam-veeramalla  sorry...just got busy recently

[2022-05-05 05:46] iam-veeramalla commented on #481
@hzliangbin np :) .. please let us know if you are  still interested in getting this done

[2022-05-05 10:17] sagikazarmark commented on #626
@iam-veeramalla please see the linked PR.

[2022-05-05 16:21] Morriz opened #637 "ability to set annotations+labels on pods created by argocd"
**Is your feature request related to a problem? Please describe.**
Hi, we need to set annotations on any pods running on our cluster, but I can't find the option to do so on pods deployed by argo.

**Describe the solution you'd like**
Something like:
[code]

[2022-05-05 16:46] bitvijays commented on #626
Hi @sagikazarmark Hope you are doing well. Just curious, would this change resolve the issue mentioned here https://github.com/argoproj-labs/argocd-operator/discussions/603

Thank you for your support :)

[2022-05-05 22:05] sagikazarmark commented on #626
@bitvijays I don't think it's related.

[2022-05-06 10:31] sagikazarmark commented on #279
@iam-veeramalla do you think we could change the upstream script and remove the bucket creation part?

I'd also consider creating a separate image just for the export (I don't really know what other stuff is included in the util image, but targeted replacement of different components would be easier with separate images IMO)

[2022-05-06 13:26] sagikazarmark commented on #279
Not sure if that's necessary. I mean, what would be the result? An error? Most probably the push commands would return anyway.

[2022-05-06 13:36] iam-veeramalla commented on #279
@sagikazarmark Does this need an EKS or can also be tested using a local kubernets cluster pointing to S3 for export ?

[2022-05-06 14:18] sagikazarmark commented on #279
Should work from local Kubernetes as well. (In fact it doesn't integrate well with AWS workload identities at all which is another problem to solve)

[2022-05-06 19:10] laloyalo opened #639 "Applicationset Controller does not deploy service or enable port to reach new webhook feature"
**Describe the bug**
As per [v0.3.0 of the Applicationset controller](https://blog.argoproj.io/applicationset-controller-v0-3-0-for-argo-cd-now-available-3f56bd643312), it has support for wehbook notifications, the current installation of the Applicationset controller being reconciled only installs a `Deployment`, `RoleBinding`s, `ServiceAccount` and `Role`, but no `Service`. The deployment is als

[2022-05-09 17:05] iam-veeramalla opened #641 "Allow users to add entries to Argo CD configmap to consume new Argo CD features."
**Describe the bug**

Problem Statements
As the Argo CD upstream project evolves, new features are continuously added and new config-cm configurations are constantly introduced. Argocd Operator is virtually impossible to keep up with Argo CD’s new configurations. Argocd Operator is lagging behind to support new Argo CD features in months or more
Oftentimes to support a new feature, it is as simple

[2022-05-11 03:10] hzliangbin commented on #481
@iam-veeramalla adding help-wanted label would be fine...

[2022-05-11 09:04] seb783191 opened #645 "wildcard on ignoreDifferences with resourceCustomizations"
Hi,
Dealing with resourceCustomizations is ok for all kind of objects.
In my case, it is for ignoreDifferences.

[code]

But can i use a wildcard ?
To consider every object with only one declaration in resourceCustomizations parameter ?

Something like :
[code]
or anything else ?!

It's seem that it's possible, as mentioned here :
https://argo-cd.readthedocs.io/en/stable/user-guide/diffing/#:~:tex

[2022-05-11 20:09] JUST1CEjohnson commented on #633
Would be fantastic if the default for all of these were set to IfNotPresent

[2022-05-12 08:09] minchao opened #648 "The affinity of the redis-ha-server is incorrect in the release-0.3 branch"
**Describe the bug**

The redis-ha-server pods being placed into a single node.

I look at the current affinity settings in the release-0.3 branch as follows:

https://github.com/argoproj-labs/argocd-operator/blob/df5eeb9eb1fe8203b2f07735f08624890543b4ec/controllers/argocd/statefulset.go#L140-L162

But this problem has been fixed in the pr [#517](https://github.com/argoproj-labs/argocd-operator/pu

[2022-05-13 07:26] iam-veeramalla commented on #278
This issue seems obsolete. we are currently at release `v0.3.0`. @lzecca78 Can I close this issue ?

[2022-05-13 07:53] iam-veeramalla commented on #637
@Morriz I agree it is very useful, but I see a concern with operator reconciling the labels and annotations. There is a good chance that operator may removes annotations/labels set by admission controllers. WDYT ?

[2022-05-13 08:14] iam-veeramalla commented on #584
Closing this due to lack of response. Please feel free to re-open the issue if you would like to.

[2022-05-13 08:14] #584 closed

[2022-05-13 08:15] iam-veeramalla commented on #583
will be fixed as part of #641

[2022-05-13 08:18] iam-veeramalla commented on #566
I revisited the documentation and the usage of `groups` is clearly mentioned. @adarshaj If you still find issues with documentation. Please feel free to open a new issue or PR.

[2022-05-13 08:18] #566 closed

[2022-05-14 08:39] adubkov opened #651 "Add service annotations"
We need to add ability to set annotations to the server object.
I'm trying to use external-dns to point it to internal ip address and have to annotate service manually instead of using operator.

[2022-05-14 09:58] adubkov opened #652 "Add ingressClassName field"
We need to add `ingressClassName` support to customize ingress.

[2022-05-14 10:02] adubkov commented on #652
and `host`

[2022-05-16 12:44] #591 closed

[2022-05-17 05:13] ishitasequeira commented on #652
Hi @adubkov, I guess this [PR](https://github.com/argoproj-labs/argocd-operator/pull/636/) might suffice the request. WDYT?

[2022-05-17 05:15] ishitasequeira commented on #651
Hi @adubkov, can you elaborate on this?

[2022-05-17 08:44] adubkov commented on #651
Argocd operator creates `kind: Service` object in response of `kind: Argocd` resource.
It would be great to be able set custom annotations for that service in configuration of `kind:Argocd` resource.

[2022-05-17 08:46] adubkov commented on #652
@ishitasequeira Yes, it looks like it would solve this issue.

[2022-05-17 11:37] #641 closed

[2022-05-17 19:16] jopit commented on #581
This was fixed as part of https://github.com/argoproj-labs/argocd-operator/pull/517

[2022-05-17 19:16] #581 closed

[2022-05-17 19:17] alancaldelas commented on #203
Was this eve implemented?

[2022-05-18 01:52] jaideepr97 opened #653 "Unify SSO under `.spec.sso` in a backward compatible way"
As an Argo CD admin/user I would like to see all the SSO provider under `.spec.sso` field in the Argo CD CR. Moving to this "provider" parameter will allow at most one SSO provider to be enabled at any time. We can then enforce Dex pods should only be created when `.spec.sso.provider: dex` is enabled

Background:
1. Currently Keycloak SSO provider can be configured using the `.spec.sso.provider` o

[2022-05-18 02:00] jaideepr97 opened #654 "Add support for creating argocd-notifications workloads"
In order for the operator to expose control over the notifications engine to the end user, we must provide a way to configure this via the Argo CD CR. The CRD spec and status must be updated to provide a `.spec.notifications` option that should control the deployment of the notifications controller pod. It should be set to false by default. The status must be updated to reflect the status of the n

[2022-05-18 02:03] jaideepr97 opened #655 "Create/delete notifications config/resources in operator"
The argocd-notifications controller uses the argocd-notifications-cm configmap to manage notifications. The configmap contains the notification triggers configurations as well as the available notification templates. We will have some triggers/templates configured in the cm out of the box.

We agreed not to override cm.  During this phase, we are not managing the content in the cm. We only perform

[2022-05-18 09:19] Morriz commented on #637
That is a matter of having a maature operator that allows for labels it does not manage. That is why one namespaces them, in order to filter.

[2022-05-18 10:01] iam-veeramalla commented on #637
LGTM. Would you like to work on this one ? If not I can add the label `help-wanted` and remove `traige-required`.

Thanks @Morriz

[2022-05-18 11:42] Morriz commented on #637
I am no Go dev unfortunately, and my calendar is rather full ;|

[2022-05-20 10:13] says-sag opened #658 "ArgoCD operator is more customizable: volumes / initContainers on deployment"
**Is your feature request related to a problem? Please describe.**
We are trying to use the ArgoCD operator combined with kapitan and are seeing difficulties editing certain components of the installation with custom stuff.

**Describe the solution you'd like**
Add a possibility to edites volumes and initContainers on the argo-cd-repo deployment.

**Describe alternatives you've considered**
/

**A

[2022-05-24 11:32] saumeya opened #661 "Update Doc for local openshift developement and installation after operator-sdk upgrade"
**Describe the bug**
The documentation for [development](https://argocd-operator.readthedocs.io/en/latest/contribute/olm-env/) and [installation](https://argocd-operator.readthedocs.io/en/latest/install/openshift/) is  not up to date with the latest steps

**Expected behavior**
Steps like `make install` and `make run`

[2022-05-26 11:36] saumeya commented on #634
Hi @Morriz, could you also provide the version of Openshift and the ArgoCD operator. Thanks

[2022-05-26 15:29] ishitasequeira commented on #654
@jaideepr97 can we close this ?

[2022-05-26 15:29] #654 closed

[2022-05-26 15:31] ishitasequeira commented on #652
closing this as its a duplicate of [626](https://github.com/argoproj-labs/argocd-operator/issues/626)

[2022-05-26 15:31] #652 closed

[2022-05-27 09:05] rishabh625 opened #663 "upon applying manifests, k8s suggest some security context to be set"
run make deploy
gives below error

W0527 14:34:01.484120   73360 warnings.go:67] would violate PodSecurity "restricted:latest": allowPrivilegeEscalation != false (container "kube-rbac-proxy" must set securityContext.allowPrivilegeEscalation=false), unrestricted capabilities (containers "kube-rbac-proxy", "manager" must set securityContext.capabilities.drop=["ALL"]), seccompProfile (pod or containe

[2022-05-27 13:24] nccurry opened #665 "Cluster-scoped vs Namespace-scoped information in docs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

ArgoCD can be cluster or namespace scoped.
It would be good to have information on how to control this behavior in the ArgoCD operator in the documentation.

**Describe the solution you'd like**
A clear and concise description of what you

[2022-05-27 13:45] nccurry commented on #665
Issue https://github.com/argoproj-labs/argocd-operator/issues/385 implies the solution is to manually add a list of namespaces ArgoCD is allowed to manage to the Subscription in an environment variable ARGOCD_CLUSTER_CONFIG_NAMESPACES.

i.e.
[code]

[2022-05-27 13:50] nccurry commented on #665
With the downstream Red Hat openshift-gitops opeartor, if you deploy the ArgoCD CRD into the openshift-gitops namespace, its cluster-scoped. If you deploy it anywhere else, its namespace-scoped.

https://developers.redhat.com/articles/2021/08/03/managing-gitops-control-planes-secure-gitops-practices

[code]

[2022-05-30 02:48] Morriz commented on #634
Not on openshift. ArgoCD operator is installed by OLM, so their maintainers should know what is published? All I am interested in is the maturity, which states level 5. That should mean we don't have to keep track of versions manually.

[2022-06-01 15:15] saumeya commented on #634
@Morriz could you provide some logs for the issue? Are the pods stuck in pending and have a service account related error? This issue seems intermittent to me, are you always hitting this problem?

[2022-06-01 16:09] shashanklmurthy opened #668 "RFE: Add the ability to define a destination k8s cluster(s) where ArgoCD is deployed"
**Is your feature request related to a problem? Please describe.**

A nice to have feature would be the ability to optionally define a target k8s cluster(s) that indicates where the ArgoCD instance is to be installed in the `Server` component of the ArgoCD CR as a secret. This would help us remove the cluster level scoping of the ArgoCD Operator that currently exists.

**Describe the solution you'

[2022-06-01 16:12] shashanklmurthy commented on #668
+cc @jannfis  @iam-veeramalla  @jopit

[2022-06-02 01:13] Morriz commented on #634
I always see Dex starting, yes. I am only offered a very simple interface, which is setting env `DISABLE_DEX` to `"true"`. Are you saying you don't see dex pods starting? Then that would be strange.  @iam-veeramalla seems to be able to reproduce

[2022-06-02 06:30] iam-veeramalla commented on #668
@shashanklmurthy If I understand the request correctly, you would like to see Argo CD Operator install Argo CD on a different cluster ? So, do you want to manage the Argo CD Installations for multiple clusters using a single operator ?

As suggested in the Alternative, you can achieve this already using the below 2 steps.
1. Add target k8s clusters to Argo CD.
2. Deploy Argo CD as an application t

[2022-06-02 06:33] iam-veeramalla commented on #665
@nccurry the behavior is same for both the upstream and downstream operators. You can configure an Argo CD for cluster scope(cluster configuration) by adding the namespace(in which it is installed) to the `ARGOCD_CLUSTER_CONFIG_NAMESPACES` env var of subscription.

[2022-06-02 06:52] shashanklmurthy commented on #668
@iam-veeramalla Yes. I'd like to manage multiple ArgoCD installations in multiple clusters using a single operator.

One advantage I see is that the operator that has such a capability allows us to manage the configuration of these different Argocd instances (regardless of whether they are in-cluster or external) from a central location. For context, we are contemplating using a management k8s clu

[2022-06-02 07:09] iam-veeramalla commented on #668
Thanks for the details @shashanklmurthy .

A cluster can have n number of Argo CD Instances(may be each for a project or a bunch of namespaces), Argo CD operator will be used to manage the configuration, upgrades and reconciliations for all these Argo CD Instances.

Yeah, managing multiple clusters with a single Argo CD instance might be a costly process even when you have setup HA and sharding. H

[2022-06-02 08:27] iam-veeramalla opened #671 "Missing Doc pages entries in mkdocs.yaml"
**Describe the bug**
We missed to add the entry of few recently added docs in the mkdocs.yaml due to which the docs are not published on our `readthedocs`.

I learnt this by running `mkdocs serve` locally.

<img width="1234" alt="Screenshot 2022-06-02 at 1 54 07 PM" src="https://user-images.githubusercontent.com/43399466/171588029-612399f6-2f36-4c08-9385-839af00150ba.png">

**To Reproduce**
Steps

[2022-06-02 17:29] mortya opened #673 "failures after upgrade to 0.1.0, 0.2.0, or 0.2.1"
**Describe the bug**
We've been running operator version 0.0.15 with argo-cd 2.1.10.  I tried upgrading to 0.1.0, but started getting a lot of errors like so:
[code]
The pod `argocd-application-controller-0` is run by service account argocd-argocd-application-controller.  That service account has cluster-admin privs.  So it's not a privilege issue.

Meanwhile, the controller pod is logging:
[code]

[2022-06-06 11:45] saumeya commented on #634
I do see dex pods starting by default, but when I disable dex in subscription - only sometimes, instead of deleting the deployment, it gets stuck in pending (and the log shows service account cannot be found error. ) and even this I see only in gitops-operator (which uses Argocd Operator as upstream) on Openshift. I cannot reproduce this for the community operator using olm.

[2022-06-06 16:31] wtam2018 commented on #634
@iam-veeramalla and @saumeya were not able to reproduce it in argocd operator, correct? Let's don't throw gitops operator into the mix.

[2022-06-06 16:43] Morriz commented on #634
We're on k8s 1.22 lately.
I'd have to run the installer again to check argocd operator version installed by OLM. Will do when I get to it.

[2022-06-06 18:56] iam-veeramalla commented on #634
@Morriz @wtam2018 @saumeya

Sorry for the confusion. I should have provided more details on the steps I followed to test it.

I was able to reproduce the issue on my latest version of Argo CD Operator on K8s cluster.

Steps Followed:
1. Follow the below steps to install OLM and Argo CD Operator on your Kuberentes cluster
    -  https://operatorhub.io/operator/argocd-operator   (Click on Latest)
2.

[2022-06-06 19:11] wtam2018 commented on #634
Do @Morriz have .`spec.dex.openShiftOAuth: true` in the CR?

[2022-06-07 04:28] ishitasequeira commented on #663
@rishabh625 can you explain a bit about your proposal?

[2022-06-07 15:09] Morriz commented on #634
Is that related to openshift? Did I not state twice already that we are _not_ on openshift?

So the answer is again: no. We have nothing from openshift.

[2022-06-07 15:13] iam-veeramalla commented on #634
@Morriz Thanks for the patience :). Were you able to get to your Kubernetes cluster and try to reproduce it one more time ? If you were able to reproduce it, Please share your Argo CD CR.

Will wait for your reply.

[2022-06-07 15:20] Morriz commented on #634
I will deploy now

[2022-06-07 21:32] wtam2018 commented on #634
@Morriz Thanks for your clarification and patient  It is very much appreicated.
@iam-veeramalla Your theory does not hold as the correspondent did not have `.spec.dex.openShiftOAuth: true` in the CR

[2022-06-08 04:34] iam-veeramalla commented on #634
@wtam2018 I asked @Morriz to reproduce the bug one more time and share the Argo CD CR with us.

[2022-06-09 06:32] rishabh625 commented on #663
Hi @ishitasequeira There is already a PR FOR THIS BY @jopit #675

[2022-06-09 20:27] reginapizza opened #679 "add documentation on how to build/run docs locally"
**Is your feature request related to a problem? Please describe.**
I was trying to test out a docs PR and couldn't find any documentation how to do so. Luckily one of my teammates knew and sent me over instructions, but they were only kept in our company slack and AFAIK not documented anywhere else.

**Describe the solution you'd like**
If we could add a README with instruction in the `docs/` fold

[2022-06-13 12:50] saumeya commented on #634
@Morriz any update on this?

[2022-06-13 14:13] ishitasequeira commented on #679
I guess [this](https://argocd-operator.readthedocs.io/en/latest/contribute/development) could be a good place to add it

[2022-06-13 14:15] ishitasequeira commented on #663
Closing this issue as https://github.com/argoproj-labs/argocd-operator/pull/675 has been merged

[2022-06-13 14:57] Morriz commented on #634
I redeployed everything fresh and could not reproduce it. I think this can be closed until we run into it again.

[2022-06-13 16:19] wtam2018 commented on #634
@Morriz Thanks a lot.

[2022-06-13 19:11] saumeya commented on #661
closed as duplicate of https://github.com/argoproj-labs/argocd-operator/issues/539

[2022-06-13 19:11] #661 closed

[2022-06-20 07:41] thomascube opened #684 "Ability to customize UI options"
**Is your feature request related to a problem? Please describe.**
Not all config options of ArgoCD server (argocd-cm) can be controlled by the operator (or I wasn't able to figure out how).
When running multiple ArgoCD instances I'd like to alter the UI with custom stylesheets in order to better distinguish them in the browser.

**Describe the solution you'd like**
Add a section in the ArgoCD ope

[2022-06-20 07:50] iam-veeramalla commented on #684
Hi @thomascube , Thanks for reaching out.

We have understood the problem that we currently do not support all the config options available for argocd-cm and these config options will keep growing. To fix the problem we have introduced the support for extraConfig in Argo CD CR through which you can add entries to argocd-cm.

PR:
https://github.com/argoproj-labs/argocd-operator/pull/642

This fix i

[2022-06-20 07:52] iam-veeramalla commented on #684
Please try this with the new release(once it is released) and feel free to re-open the issue. I am closing this as a duplicate of #641

[2022-06-20 07:52] #684 closed

[2022-06-20 08:12] thomascube commented on #684
Perfect. Thanks for the fast response!

[2022-06-22 09:56] gnanderson commented on #559
@rfftrifork I just came across this limitation, as a work around I deployed a simple Kyverno mutating policy:

[code]

[2022-06-28 10:21] rishabh625 commented on #663
Hi @jopit  in #675 fix i think we missed on this

Warning: would violate PodSecurity "restricted:v1.24": allowPrivilegeEscalation != false (container "kube-rbac-proxy" must set securityContext.allowPrivilegeEscalation=false), unrestricted capabilities (containers "kube-rbac-proxy", "manager" must set securityContext.capabilities.drop=["ALL"]), seccompProfile (pod or containers "kube-rbac-proxy", "

[2022-06-28 10:21] rishabh625 commented on #663
/reopen

[2022-06-28 11:50] #539 closed

[2022-06-29 09:18] anilreddy103 opened #706 "Help Needed: How to set environment variables for pods managed by Operator in Openshift"
**Is your feature request related to a problem? Please describe.**
We have installed argocd via operator in Openshift. But when I am trying to add a cluster I am getting forbidden error.

[code]
And I figured out that this is coming from our proxy server and need to add the cluster to no_proxy list.

But when I am editing the deployment openshift-gitops-server or openshift-gitops-dev-server, the o

[2022-06-30 09:14] anilreddy103 commented on #706
I figured it out myself. We need to add it in cluster wide proxy. Hence closing it.

[2022-06-30 09:14] #706 closed

[2022-07-14 02:15] sunmd01 opened #724 "ssh-know-host-cm configmap is overwritten"
When I use this command to upgrade ArgoCD ```kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/<version>/manifests/install.yaml``` , ssh-know-host-cm ConfigMap is overwritten.

After I upgraded, I had to update ssh-know-host again.

Is there a better way for me to avoid performing the operation?

[2022-07-16 08:04] vzemtsov commented on #457
If u start Prometheus Operator in local-machine (not container) - need to copy files from directory `grafana` to `/var/lib/grafana` like it's do in [DockerFile](https://github.com/argoproj-labs/argocd-operator/blob/master/Dockerfile).

Or use environment variable `GRAFANA_CONFIG_PATH` to change dir path from `/var/lib/grafana` to `<PROJECT_PATH>/grafana`

Of change ArgoCDDefaultGrafanaConfigPath i

[2022-07-19 13:34] iam-veeramalla commented on #671
Passing now
<img width="1020" alt="Screenshot 2022-07-19 at 7 03 52 PM" src="https://user-images.githubusercontent.com/43399466/179763271-c0d35fd0-e220-4687-ba87-b6d0d86b7e86.png">

[2022-07-19 13:34] #671 closed

[2022-07-19 13:37] iam-veeramalla commented on #724
Hi @sunmd01 , You need to update the Argo CD Image version in the Argo CD Custom Resource.
Please refer
https://argocd-operator.readthedocs.io/en/latest/reference/argocd/#image-example

[2022-07-19 13:37] #724 closed

[2022-07-19 18:43] #679 closed

[2022-07-21 12:05] #626 closed

[2022-07-28 02:10] minchao commented on #648
Note that has been fixed in v0.4.0.

[2022-07-28 02:10] #648 closed

[2022-07-28 12:13] darktempla commented on #264
Any update on this one in the past year or so?

[2022-07-28 13:37] iam-veeramalla commented on #264
Anyone in the community willing to contribute to this ?

[2022-07-28 13:52] tylerauerbeck commented on #264
I can take a look at this.

[2022-08-02 10:01] Obirah opened #748 "Documentation: update application-set controller default image"
### Is your task related to a problem? Please describe.
The default applicationset-controller image in the [documentation](https://argocd-operator.readthedocs.io/en/latest/reference/argocd/#applicationset-controller-options) points to the old appicationset-controller image.

### Describe the solution you'd like
Update the documentation with the information that the applicationset-controller is now

[2022-08-04 05:36] #748 closed

[2022-08-04 06:40] Obirah commented on #748
Thank you for addressing this issue so fast, guys! However, I think the image is still wrong as the applicationset controller moved into the regular `argoproj/argocd` to my knowledge.

When I migrated from 0.3.0 to 0.4.0, I had to switch to that image. The `quay.io/argoproj/argocd-applicationset` that is now in the docs failed to start with a missing security context and hasn't been updated in 5 m

[2022-08-08 05:51] iam-veeramalla opened #750 "operator resources should have unique labels."
**Describe the bug**
The operator deployment and other resources created by `operator-sdk` has the default label `control-plane: controller-manager` without any prefix or suffix. Also, by default all the operators running in `all-namespaces` mode will be installed in `openshift-operators` namespace. So, if the default `labels` and `selectors` are not updated a request from operator service `x` mig

[2022-08-09 05:36] #750 closed

[2022-08-11 05:33] iam-veeramalla commented on #481
This feature is implemented as part of #642

[2022-08-11 05:33] #481 closed

[2022-08-11 14:36] iam-veeramalla opened #752 "Add support for ArgoCD RBAC policy matcher mode."
**Is your feature request related to a problem? Please describe.**
Add support to allow users to choose RBAC policy matcher mode. There are currently two options `glob` and `regex`.
https://github.com/argoproj/argo-cd/issues/3717

**Describe the solution you'd like**
Add support to allow users to configure this in Argo CD CR.

**Describe alternatives you've considered**
NA

**Additional context**

[2022-08-12 18:13] QuingKhaos commented on #655
can be closed?

[2022-08-12 18:18] QuingKhaos opened #754 "Notifications log level not implemented"
**Describe the bug**

The `.spec.notifications.logLevel` is not reconciled on the notifications controller deployment as `--logvelel` argument.

**To Reproduce**

[code]

**Expected behavior**

The notifications controller should get the log level as arguments:

[code]

[2022-08-16 13:12] iam-veeramalla opened #755 "Terminating namespaces blocks new managed Argo CD namespaces"
**Describe the bug**
This bug occurs when you are using namespace-scoped Argo CD (e.g. using 'argocd.argoproj.io/managed-by' label on Namespaces).

If you have a managed namespace with the 'argocd.argoproj.io/managed-by' label, and that Namespace is in the process of being deleted ('Terminating'), it prevents any other managed Namespace from being created.

This is likely due to this error reporte

[2022-08-17 12:21] #639 closed

[2022-08-17 16:13] bmhkb4 commented on #369
This same problem exists for quite a few configurables required for modifying argocd for [argocd-vault-integration](https://argocd-vault-plugin.readthedocs.io/en/stable/installation/).

You can't set security context, mountSAtoken doesn't work, serviceAccountName doesn't work.

[2022-08-22 06:59] abdennour opened #759 "Add ability to customize Host of Route in ArgoCD CRD ( argocd.spec.server.route.host )"
**Is your feature request related to a problem? Please describe.**
ArgoCD CRD generates dynamically the Host of the Route which is very long host  : `openshift-gitops-server-openshift-gitops.apps.company.lan`
and not easy to memorize in a team environment.

**Describe the solution you'd like**
I would like to be able to customize that host:

[code]

**Describe alternatives you've considered**
For

[2022-08-22 18:49] iam-veeramalla opened #761 "Keycloak/RHSSO login yields in certificate signed by unknown authority"
**Describe the bug**
Argo CD Operator can make use of RHSSO & KeyCloak through OIDC in addition to Dex. However, with a recent security fix applied, the certificate of RHSSO  or Keycloak cannot be validated in some scenarios.

Single Sign On with Argo CD Operator can fail with the error message "x509: certificate signed by unknown authority" under the following circumstances:
[code]

This behavior

[2022-08-23 15:25] #755 closed

[2022-08-24 12:28] #752 closed

[2022-08-25 12:09] MichaelWarnecke opened #762 "HelpChat cannot be disabled via Operator-Property"
**Describe the bug**
When setting `helpChatURL: ''` within ArgoCD custom resource, the value is not propagated to the argocd-cm ConfigMap

**To Reproduce**
Steps to reproduce the behavior:
1. Configure ArgoCD custom resource with
[code]
2. Look at ConfigMap argocd-cm. There it says:
[code]

An empty string would hide the "Chat" button within ArgoCD. With the URL set, the button is always shown.

*

[2022-08-25 12:31] saumeya commented on #762
What would the requirement of an empty url string be?

[2022-08-25 12:49] #761 closed

[2022-08-26 06:35] MichaelWarnecke commented on #762
An empty URL string seems to be the only way to hide the chat button on the lower right side of ArgoCD UI. As we do not have a help chat, the button is rather pointless, so I tried to remove it from the UI.

https://github.com/argoproj/argo-cd/blob/1804d771c7fceacc0710de82b8edc3cc891f23b3/ui/src/app/ui-banner/ui-banner.tsx#L97-L103

[2022-09-01 03:51] abdennour commented on #759
Any update Ya Guys ?

[2022-09-01 05:02] iam-veeramalla commented on #759
Hi @abdennour , You can achieve this using the below example.
[code]

Yeah, I agree that the position of `host` in the `.spec` looks out of place. One reason I can think off is that the `host` field is common for ingress and routes , so thats the reason why it is under `.spec` and not `.spec.route`. However, I feel it should have been under `.spec.route` and `.spec.ingress` both.

[2022-09-01 05:22] iam-veeramalla opened #770 "Add support for env and cluster wide proxy for notification controller workloads."
**Is your feature request related to a problem? Please describe.**
Argo CD operator adds cluster-wide proxy env vars to its workloads such as controller, server, repo server, dex, keycloak and redis. This is required to access or communicate with this workloads in a disconnect or proxy cluster setup.

We need a similar support for notifications controller as well.

**Describe alternatives you've c

[2022-09-01 05:28] abdennour commented on #759
Awesome! Thanks for the info.
Tested & confirmed

[2022-09-01 05:28] #759 closed

[2022-09-01 11:47] juv opened #773 "Manage ArgoCD Image Updater lifecycle in the ArgoCD Operator"
**Is your feature request related to a problem? Please describe.**
When using the ArgoCD Operator, a lot of ArgoCD resources and their lifecycle can be managed by the Operator. Currently, the [ArgoCD Image Updater](https://argocd-image-updater.readthedocs.io/en/stable) resources need to be installed to the Kubernetes cluster manually. Mixing in a manual deployment process for some parts of the Arg

[2022-09-01 11:55] iam-veeramalla commented on #773
Hi @juv , we have this in our backlog list. I think we should get this done in the next release.

[2022-09-01 11:55] iam-veeramalla commented on #773
cc: @jaideepr97

[2022-09-02 16:36] juv commented on #773
@iam-veeramalla sounds great, looking forward to using this in our Openshift ArgoCD Operator 🚀
Is there a public roadmap and eta for the next release by any chance?

[2022-09-05 04:50] iam-veeramalla commented on #773
I dont have the exact release date yet, we are targeting something around 1st or 2nd week of November.

[2022-09-05 11:06] #770 closed

[2022-09-06 12:48] iam-veeramalla opened #774 "Argo CD Export not working for AWS S3 [aws: command not found]"
**Describe the bug**
I started exploring Argo CD Export and realized that it is completely broken for AWS.
[code]

**Prerequisites**
1. AWS account
2. AWS credentials which needs to be stored in a Argo CD Export Secret later.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the operator locally using `make install run`
3. Create an Argo CD Instance using
[code]
4. Create AWS secret and Ar

[2022-09-06 18:46] #774 closed

[2022-09-07 06:41] iam-veeramalla commented on #347
This is fixed in the latest version of the operator. Specifically by the PR #507.

[2022-09-07 06:41] #347 closed

[2022-09-07 10:06] iam-veeramalla commented on #279
@sagikazarmark sorry for taking ages to get back on this but it's never too late.

I got chance to play around with the export functionality in the last few days and I am totally up for refactoring/building a separate image for Argo CD Export. I also found an existing issue in the same lines created by @jomkz who is one of the authors of the export functionality.
https://github.com/argoproj-labs/a

[2022-09-07 11:39] sagikazarmark commented on #279
Thanks for getting back to me. Let me know if I can help.

[2022-09-07 16:34] #754 closed

[2022-09-07 19:57] saumeya commented on #762
Makes sense @MichaelWarnecke, I will fix this behaviour.

[2022-09-09 03:50] #165 closed

[2022-09-09 09:04] #762 closed

[2022-09-19 08:24] jimmyjones2 opened #780 "RBAC for web based terminal"
**Is your feature request related to a problem? Please describe.**
ArgoCD 2.4 supports a [web based terminal](https://argo-cd.readthedocs.io/en/stable/operator-manual/web_based_terminal/), but it requires manual tweaks to the argocd-server Role and a setting enabled in argocd-cm ConfigMap.

**Describe the solution you'd like**
An option in the ArgoCD CRD to enable the web based terminal, which aut

[2022-09-26 15:58] rcfja opened #783 "How do you set users.session.duration?"
How do I edit users.session.duration?

If I edit argocd-cm directly, any changes are reverted immediately by openshift.

[2022-09-26 22:14] carlostaffe opened #784 "ArgoCD Redis HA-Proxy service account missing prefix when got upgraded"
**Describe the bug**
An Argo-CD Operator upgrade to a 0.4.0 version (provided by Argo CD Community) led to an Argo-CD malfunction, did not sync any app anymore and a lot of application resources were not showed in UI console.
Taking a look to ArgoCD application controller logging showed this message:
`level=error msg="Failed to cache app resources: error setting app resource tree: dial tcp 172.30.

[2022-09-27 11:31] #655 closed

[2022-09-27 11:37] jaideepr97 opened #785 "Deprecation warning event spamming and incomplete association with operand"
**Describe the bug**
Currently the operator spams deprecation warning events on the cluster when any of the soon-to-be-deprecated SSO/dex related fields/env vars are used. There are too many events being generated and they aren't timestamped or properly associated with the affected CR

**To Reproduce**
Steps to reproduce the behavior:

Install/run the operator and have a CR using the old SSO confi

[2022-09-27 15:09] tongpu opened #787 "Add support for application namespaces"
**Is your feature request related to a problem? Please describe.**
In https://github.com/argoproj/argo-cd/pull/9755 Argo CD gained support for pulling in Application from outside of the namespace Argo CD is being deployed.

**Describe the solution you'd like**
As this feature will be added to Argo CD 2.5 I would be happy if argocd-operator would be able to support this parameter.

[2022-09-28 17:08] #785 closed

[2022-09-30 16:15] Vikaspogu commented on #620
First-time contributor; @iam-veeramalla, is this issue for grabs? If so, I would like to take a stab at it

[2022-09-30 16:18] iam-veeramalla commented on #620
Hi @Vikaspogu , This is actually fixed. I will close this with details.

Thanks for your interest in contributing. Please take a look at good-first-time labelled issues.

[2022-10-04 14:17] abdennour opened #791 "Supporting controller.config.repoServerTimeouSecondes"
**Is your feature request related to a problem?

Context dealine with gitea

**Describe the solution you'd like**
Extend controller spec to include a way to customize repoServerTimeoutSeconds
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**

**Additional context**
Add any other context or screeshots about the feature r

[2022-10-11 05:55] iam-veeramalla commented on #783
Hi @rcfja , sorry for getting back late on this one.

Yes, any manual changes to the Argo CD Config map are reverted back by the operator. You can make use of the extraConfig feild in the Argo CD CR.
https://argocd-operator.readthedocs.io/en/latest/usage/extra-config/

[2022-10-11 05:55] #783 closed

[2022-10-11 06:10] iam-veeramalla commented on #784
Hi @carlostaffe , sorry for getting back late on this one.

Which version of Argo Operator did you upgrade from ? Is it `< 0.1.0` to `0.4.0` ?  We introduced some breaking changes in `0.1.0`. After `0.1.0` the API is stable.

[2022-10-11 12:00] saumeya commented on #658
Hi @says-sag , are you looking for this https://argocd-operator.readthedocs.io/en/latest/usage/customization/ . This is already supported.

[2022-10-11 12:10] iam-veeramalla commented on #787
@ishitasequeira is already working on this one. Thanks for raising the enhancement @tongpu

[2022-10-11 13:35] rcfja commented on #783
thank you!

[2022-11-04 19:03] shakefu opened #799 "`deploy/catalog_source.yml` missing?"
**Describe the bug**
The installation documentation refers to a `deploy/catalog_source.yml` file. This isn't present in the repository at `deploy/`

Either the documentation is wrong or the repository is in flux? I don't see any recent commits however...

[2022-11-04 19:40] shakefu opened #800 "Incompatible with OLM 0.22.0?"
**Describe the bug**
Following the instructions on RTD using the 0.4.0 release codebase, I end up being unable to add the catalog:

[code]

Checking the logs for the pod, I see:

[code]

This looks identical to an issue from 2020: https://github.com/operator-framework/operator-lifecycle-manager/issues/1806

However, since 0.4.0 was cut in July 2022 I would assume it was working at the time.

This

[2022-11-04 19:55] shakefu commented on #800
It looks like this probably would be resolved by just updating the `registry` image to be based off of the OLM v1.26 builder image, since the current base registry image seems wildly out of date.

However I can't get the operator or registry image to build locally on OS X so that's just a guess:
[code]

[2022-11-06 09:23] abdennour commented on #791
Yeah! i got it actually. Thank you for your time!

[2022-11-06 09:23] #791 closed

[2022-11-07 07:43] iam-veeramalla commented on #663
Closing this issue as resolved.

[2022-11-07 07:43] #663 closed

[2022-11-08 10:35] davtex commented on #651
We are using Datadog to collect ArgoCD metrics. For this we need to configure annotations on the service, which is not currently possible.

Another usecase is configuring Prometheus with annotations instead of ServiceMonitor.

Configuring service annotations for services created by operator should be IMHO basic functionality same way as it is done for Ingress/Route.

[2022-11-18 11:04] #620 closed

[2022-11-18 15:14] carlostaffe commented on #784
Hi Iam,
As far as I remember ArgoCD operator installed last year was 0.0.15 .
Thanks for ask.

[2022-11-24 13:39] rectacoda commented on #800
Hello.

As mentioned by @shakefu, we try to use the latest registry version 0.4.0:
quay.io/argoprojlabs/argocd-operator-registry@sha256:a541110c0d2bde77e19643cf191d82937d4ed6e96f3bc2c38d2126f27351cb46
or
quay.io/argoprojlabs/argocd-operator-registry:v0.4.0

and the result remain the same when we deploy the catalog_source :
Error: open /etc/nsswitch.conf: permission denied

Can you update the argoc

[2022-11-25 12:16] iam-veeramalla opened #814 "Argo CD Server fails to connect to Dex"
**Describe the bug**
One of the ways to enable OIDC/OAuth with Argo CD is to use Dex. Argo CD Server connects with Dex to verify the authentication of a user.

However, this seems to be broken on the master.

![Screenshot 2022-11-25 at 5 42 04 PM](https://user-images.githubusercontent.com/43399466/203983519-05d3e547-be4d-4915-b0cd-3e754f1fe803.png)

This can also be reproduced by logging into the

[2022-11-25 12:54] iam-veeramalla opened #816 "Argo CD .status.host is updated with wrong value when using Ingress on OpenShift clusters"
**Describe the bug**

Argo CD .status.host is updated with wrong value when using Ingress on OpenShift clusters

`Openshift 4.11`
==================

Create test-namespace 'test-ns'

**Create Argo CD instance with the manifest** 
[code]

**Actual results:**

The ingress is created and it's getting Argo CD's .spec.server.host as HOSTS (.spec.rules[0].host):

[code]

**$ oc get ingress/example-argoc

[2022-11-28 17:55] #814 closed

[2022-11-28 18:38] #816 closed