[2019-12-10 19:38] jmckind opened #2 "Docs Need Update"
The docs need to be updated to integrate better with [Read the Docs](https://readthedocs.io).

[2019-12-11 16:20] jmckind opened #3 "Need Finer Control Over Ingress and Routes"
The ability is needed to selectively toggle ingress and routes independently for each exposed resource.

- Argo CD Server
- Grafana
- Prometheus

Specifically, the Prometheus component may not need to be exposed with an Ingress or Route.

[2019-12-11 16:23] jmckind opened #4 "Handle Argo CD Component Upgrades"
The operator should support the ability to upgrade one or more of the components that make up an Argo CD cluster. For example, upgrade the version of Redis server. Currently, the version can be set on the ArgoCD CR but the operator does not support changing this value after the cluster has been deployed. Ideally, the operator would notice the version change and update the component.

[2019-12-11 16:26] jmckind opened #5 "Handle Backup and Restore for Disaster Recovery"
Per the Argo CD documentation on Disaster Recovery, the operator should support export and import of backups.

https://argoproj.github.io/argo-cd/operator-manual/disaster_recovery/

[2019-12-11 16:27] jmckind opened #6 "Support H/A Deployments for Argo CD"
The operator should support being run in H/A mode, outlined in the official documentation.

https://argoproj.github.io/argo-cd/operator-manual/high_availability/

[2019-12-11 16:28] jmckind opened #7 "Verify Namespace Required for ClusterRoleBinding"
I think that `namespace` in deploy/role_binding.yaml can be removed. OLM handles the role bindings for the operator and on my OpenShift cluster, the ClusterRoleBinding does not have a namespace associated.

[2019-12-11 16:30] jmckind opened #8 "OpenShift OAuth Integration"
Per @disposab1e

argoproj/argo-cd#2574

[2020-01-13 12:07] disposab1e commented on #8
https://blog.openshift.com/openshift-authentication-integration-with-argocd/

[2020-01-23 19:33] jmckind commented on #5
Initial support for backup/restore has been [merged](https://github.com/argoproj-labs/argocd-operator/commit/799d5787f5ec7052bd5b4a1bc6040994f4102a21) into master. Anything further with that functionality should be a new issue.

[2020-01-23 19:33] #5 closed

[2020-01-24 20:01] siamaksade opened #10 "Publish to community operators"
The argocd-operator should get published in both [community-operators](https://github.com/operator-framework/community-operators/tree/master/community-operators) and [upstream-community-operators](https://github.com/operator-framework/community-operators/tree/master/upstream-community-operators).

Publishing to  _community-operators_ would automatically load the argocd operator into the embedded O

[2020-01-24 20:26] jmckind commented on #10
Thanks @siamaksade I will create a [community-operators](https://github.com/operator-framework/community-operators/tree/master/community-operators) PR for that.

[2020-01-27 18:50] ch-stark opened #11 "Additonal steps when installing on OpenShift 4.X"
When installing the Operator on Operatorhub you cannot use the upstream OLM but should use the OpenShift provided one.

Steps below worked for me to install argocd operator on operatorhub.io on an OCP 4 cluster using pre-installed olm

oc create ns argocd
cat <<EOF | oc create -f -
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: operatorhubio-catalog
  namespace: op

[2020-01-28 09:20] ch-stark commented on #8
see:
https://raw.githubusercontent.com/disposab1e/argocd-operator-helm/927a881d379e841971ac908034a0988d784ef706/deploy/crds/argoproj.io_v1alpha1_argocd_cr.yaml

[2020-01-28 16:39] jmckind commented on #11
I have [added a PR](https://github.com/operator-framework/community-operators/pull/1161) to add the operator to the OpenShift 4.x Operator Hub. This will allow installation via the normal mechanism in OpenShift.

[2020-01-28 16:43] jmckind commented on #10
I have [submitted a PR](https://github.com/operator-framework/community-operators/pull/1161) to add the operator to the OpenShift 4.x Operator Hub. Should be available in OpenShift once merged and added to the Catalog.

[2020-01-28 16:44] jmckind commented on #8
Will be adding support for OAuth as the next feature, thanks for sharing this!

[2020-02-05 22:43] jmckind commented on #8
Currently working on this in the [oauth_support](https://github.com/argoproj-labs/argocd-operator/tree/oauth_support) branch.

[2020-02-06 15:08] tylerauerbeck opened #14 "Add the ability to define content to be inserted into the argocd-cm configmap"
A lot of additional configuration is handled within the `argocd-cm` configmap. Is there currently a way to define this as part of the request to spin up an ArgoCD instance? I don't see anything that pops out after a quick scan of the docs -- but is this currently possible with this operator? If not, is this something that this operator would want to do in the future? Happy to help contribute some

[2020-02-07 11:22] ch-stark opened #16 "Prepare Operator so that is can be installed in Disconnected Environment"
This documents describes partially that Images used by the Operator should be made configurable so that the Operator can be installed in a Disconnected Environments https://github.com/operator-framework/operator-lifecycle-manager/blob/master/doc/contributors/design-proposals/related-images.md

all images used by the operator should be made configurable via env variables and be referenced via SHAs

[2020-02-07 19:20] jmckind commented on #8
This has been [merged](https://github.com/argoproj-labs/argocd-operator/pull/17) into master. Any further enhancements or bugs should use a new issue.

[2020-02-07 19:20] #8 closed

[2020-02-07 19:22] jmckind commented on #10
This has been [merged](https://github.com/operator-framework/community-operators/pull/1161) into community-operators and should land in the OpenShift embedded Operator Hub shortly.

[2020-02-07 19:22] #10 closed

[2020-02-07 19:34] jmckind commented on #14
Yes, I would like to provide the additional configuration through properties the ArgoCD Custom Resource. What sort of configuration is typically added? I would like to get an idea for what we should add as properties for handling the additional configuration. I assume things like the dex configuration, etc.

If we look at part of the default example, it helps to illustrate what I have been thinkin

[2020-02-09 00:44] jmckind commented on #14
I am working on some ideas for this in the [cm_options branch](https://github.com/argoproj-labs/argocd-operator/tree/cm_options).

[2020-02-10 19:32] jmckind commented on #14
I have a [PR](https://github.com/argoproj-labs/argocd-operator/pull/18) in that adds configuration properties for the underlying `argocd-cm` ConfigMap.

[2020-02-10 19:52] trv-akanse commented on #14
I was struggling with this too. I feel that argocd-cm and argocd-rbac-cm users should be able to update as part of installation.

[2020-02-10 22:13] jmckind commented on #14
I went ahead and merged the PR with the configuration options. I added more information in the [usage](https://github.com/argoproj-labs/argocd-operator/blob/master/docs/usage.md) doc about the new properties.

I am curious if there is something missing.

[2020-02-10 23:26] JTG2020 commented on #14
Thanks for making this change. I actually wanted to test because I would like to update image paths to openshift registry and also want to add configs for GitHub sso. I am wondering how can we update Rbac config map with permissions ?

[2020-02-10 23:47] jmckind commented on #2
I have updated the docs to use the same theme as Argo CD itself and the results are pretty good.

https://argocd-operator.readthedocs.io/en/latest/

This is a good start but more work is needed for documenting all aspects of the operator.

[2020-02-10 23:47] #2 closed

[2020-02-10 23:50] jmckind commented on #14
@JTG2020 Thank you for the feedback! Have a look at the `RBAC.Policy` property on the ArgoCD resource. It should allow you to pass through the same CSV that goes into the `policy.csv` field on the `argocd-rbac-cm` ConfigMap.

[2020-02-10 23:51] jmckind commented on #14
Also, I updated the docs and hopefully it's better. https://argocd-operator.readthedocs.io/en/latest/

[2020-02-10 23:57] jmckind commented on #11
The PR has merged and the operator starting from v0.0.4 forward should be available through the embedded OpenShift Operatoor Hub.

[2020-02-10 23:57] #11 closed

[2020-02-11 00:26] tylerauerbeck commented on #14
@jmckind Thanks for getting to this so quickly. I'll hack around on this tonight and let you know if I bump into any issues.

[2020-02-11 03:07] JTG2020 opened #20 "Issues with openshift installation"
In the openshift installation there are couple of things i am seeing issues. I have Openshift V4 -
1. The openshift install document says - oc create -f deploy/crds/argoproj_v1alpha1_argocd_crd.yaml however file argoproj_v1alpha1_argocd_crd.yaml doesnt exist.
2. The operator install is erroring out with below message -
2. The operator install is erroring out with below message -
oc logs argocd-ope

[2020-02-11 14:56] jmckind commented on #20
I will have a look at this shortly @JTG2020, I think just have some old file names in there with the recent refactoring that I did. Thanks for the feedback!

[2020-02-11 15:06] jmckind commented on #20
@JTG2020 I believe that I fixed the issue with the document that you referenced. I still had the old CRD filename in the documentation. I ran through that install doc and it worked for me after I made the change. The update should be available in master.

[2020-02-11 15:34] jmckind commented on #6
I have starting working on this is the [argo_ha](https://github.com/argoproj-labs/argocd-operator/tree/argo_ha) branch.

[2020-02-11 15:36] jmckind commented on #16
I am planning to start work on this soon, as the operator should support air-gapped installs where an internet connection is unavailable. The images used by the operator should use the SHA tags instead of standard version tags.

[2020-02-14 20:17] JTG2020 opened #21 "The Custom fields in the ArgoCD Edit form section changes focus to Prometheus section size field"
Installed operator successfully in OpenShift V4. When I tried to create instance of ArgoCD and clicked on the Edit form to update some of the configurations e.g. when I try to change the application name, the cursor changes the focus to Prometheus section "size" field. Currently Edit Form is unusable. Can someone please take a look ?
Thanks

[2020-02-14 21:23] JTG2020 commented on #14
I tried to do the manual install in openshift and looks like example/argocd-default.yaml need to be fixed. See below error -
}, "usersAnonymousEnabled":true, "version":"v1.4.1"}}: validation failure list:
spec.import.name in body is required
spec.tls.certs in body must be of type object: "array"

[2020-02-17 17:34] jmckind commented on #21
Thanks @JTG2020, will be making changes to clean up the issues with the Edit Form. Can you let me know the minor version of OpenShift that you are on? Example: 4.2 or 4.3

[2020-02-17 17:38] jmckind commented on #14
Thanks @JTG2020, I will look at this.

[2020-02-17 18:17] JTG2020 commented on #21
Using openshift 4.2.12

Sent from my iPhone

[2020-02-18 00:27] pmcjury opened #22 "argocd-operator Service Account Missing RBAC for v1.HorizontalPodAutoscaler when installing via OLM"
The argocd-operator Service Account Missing is missing RBAC for v1.HorizontalPodAutoscaler when installing via Operator Lifecycle Manager ( OLM ). An initial install works ( I believe ), but subsequent reconciles are blocked from the error. I think this has been added on master https://github.com/argoproj-labs/argocd-operator/blob/master/deploy/role.yaml#L50 , and it's just a version skew with wha

[2020-02-18 17:15] jmckind commented on #22
Thank you for reporting this @pmcjury . Will add a PR today to fix this.

[2020-02-19 13:37] pittar opened #23 "Add an option to give the argocd-application-controller cluster-admin (or similar) rights."
It would be nice to have the ability to grant Argo CD "cluster-admin" capabilities (or something similar) to allow for more cluster configuration to be controlled by Argo CD.

For example, with Argo CD 0.0.3 I had altered the argocd-application-controller role to allow Argo CD to:
* Create namespaces
* CRUD on secrets, even in `openshift-` namespaces.
* Update scc's.

This was nice because I could

[2020-02-20 17:29] pmcjury commented on #23
Also there's a discrenpecy, maybe intentional, with the default install of ArgoCD via kubectl

[code]

and the operator in the argocd-application-controller service account.

In the operator we have, to the best of my knowledge, 1 role and rolebindgs, and 2 clusterroles and clusterrolebinding. Which are very restrictive. Was this on purpose?

**Operator Generated Roles**
[code]

**Manual Install R

[2020-02-24 20:20] gnekic commented on #16
I'm evaluating Argo for air gapped envs, so this feature would be a game changer

[2020-02-27 13:41] Unb9rn opened #24 "Ingress annotations getting ignored"
While trying to configure ArgoCD resource with this operator I've got an problem when "annotations" for ingress would be ignored and resulting ingress gets "nginx" ingress class.
Maybe I'm doing something wrong(there is no example how this annotation should be written)
[code]

[2020-03-02 17:37] jmckind commented on #24
Thank you for this, will have a look to address the problem that you are seeing.

[2020-03-02 18:04] jmckind commented on #23
Yes, this was intentional at the time, as wide open cluster write permissions are not really something we want to allow by default on OpenShift. The decision was made to only provide read-only cluster permissions as documented in the Argo CD documentation initially.

https://argoproj.github.io/argo-cd/operator-manual/security/#cluster-rbac

That said, I understand that deploying Argo with cluster-

[2020-03-02 18:09] jmckind commented on #23
Question, are you all installing via [OLM](https://github.com/operator-framework/operator-lifecycle-manager/) or manually? If manual, I can include a version of the deploy manifests that is not as restrictive.

[2020-03-02 18:16] pittar commented on #23
I'm using OLM by applying these manifests (OpenShift 4.3):
https://github.com/pittar-gitops/00-gitops-setup/tree/master/manifests

As a hack, after the Argo CD instance is installed, I'm just giving main Argo CD controller cluster admin:
`oc adm policy add-cluster-role-to-user cluster-admin -z argocd-application-controller -n argocd
`

[2020-03-02 19:06] jmckind commented on #23
For OLM, it may just need to be a documentation item for those needing that capability. I want to ensure that the operator is not rejected from the embedded Operator Hub on OpenShift due to the cluster write permissions.

An option on the ArgoCD CRD would not help because OLM creates the roles/bindings/service accounts, etc. on behalf of the operator based on the ClusterServiceVersion manifest bef

[2020-03-02 19:44] gnekic commented on #14
I was able to take advantage of the image fields to get it to work with a disconnected install.
Now I'm working on using the "repositories" field in the ArgoCD CR, and it doesn't seem to be getting passed into the argocd-cm configmap. Any thoughts? I can't find any clear logs on the operator denying my configuration, and the argocd-cm, is showing up with no "data" section

[2020-03-02 20:46] jmckind commented on #14
Hmm, I will double check. I may have fixed that already in master

[2020-03-03 14:40] pittar commented on #23
Yeah, I get where you're coming from.  I don't think anyone wants Argo CD to become the new "Tiller".

I'm not sure how this would look, but if there was some documentation to for folks that want to use the OLM method of deploying/managing Argo CD, but also want it to handle more advanced configuration details (security context controls, namespaces, OAuth, etc...), that would likely satisfy those

[2020-03-04 23:34] jmckind commented on #22
The firx for this has been merged inot master and will go out with v0.0.5

[2020-03-05 01:07] jmckind commented on #24
@Unb9rn thank you again for the report. I have added a fix for this issue that you are seeing and will make it into the v0.0.5 release this week. I will also add better documentation for this feature here shortly prior to the release.

It should be noted that currently this is an all or nothing option for all Ingress resources that get created and will override any of the default annotations that

[2020-03-05 01:31] jmckind commented on #24
Added an example for advanced ingress options that includes custom annotations. This should be available in the official documentation for the v0.0.5 release.

[2020-03-05 02:09] jmckind commented on #23
I added a blurb in the OpenShift install section of the docs with the command to give cluster-admin to the ServiceAccount for the Application Controller. I feel like this could be explained a bit better and I am open to suggestions on that and would like feedback on how we can improve on it, if needed.

https://argocd-operator.readthedocs.io/en/latest/install/openshift/#rbac

 I will be adding a v

[2020-03-05 02:12] jmckind commented on #21
@JTG2020, I have made some modifications to the CSV to fix the Edit Form on OpenShift 4.x, as well as to add all of the currently available properties for the ArgoCD resource. This will be a part of the v0.0.5 release going out this week.

[2020-03-05 02:14] jmckind commented on #20
@JTG2020, Can you confirm, that this is fixed for you in the latest documentation?

https://argocd-operator.readthedocs.io/en/latest/install/openshift/#crds

Thanks!

[2020-03-05 02:22] jmckind commented on #14
@gnekic I confirmed that the repositories property should be passed down properly in master and this will be going out in the v0.0.5 release this week.

[2020-03-05 02:26] jmckind commented on #14
@JTG2020, I think that the argocd-defaults.yaml example should probably go away and instead be added to the actual documentation.

This file existed before I had proper documentation for the operator and my intent with that file was to show what the default values are internally when not specified in a manifest. However, attempting to actually use that file will result in the errors that you encou

[2020-03-05 02:28] jmckind commented on #6
This had been merged into master and will go out with the v0.0.5 release this week.

[2020-03-05 13:55] JTG2020 commented on #20
@jmckind Thank you. I'll test this out and provide you the feedback.

[2020-03-07 22:19] RichiCoder1 opened #26 "Operator Hub out of date"
Howdy! It looks like the operator bits in Operator Hub are out of date, as attempting to install from there will result in the a `Forbidden` error when accessing `argocds/status`. Looks like you just added this and it just hasn't been bubbled up yet?

[2020-03-09 13:27] pittar commented on #23
Hey @jmckind .  I've found that the best solution (for me, at least) is to create a new custom ClusterRole and ClusterRoleBinding to deal with the additional resources I want to manage.  This way I don't have to give the app controller cluster-admin.  For example:

`
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: argocd-custom-cluster-role
rules:
- apiGroups:
  - ""

[2020-03-09 15:53] pmcjury commented on #23
Would it make sense to create instructions for olm and non olm installs? I don’t use open shift and it made more sense for me not to with gke  I can help with this for whatever is agreed upon. We could open another ticket. Thoughts ?

Sent from Yahoo Mail for iPhone

On Monday, March 9, 2020, 8:27 AM, Andrew Pitt <notifications@github.com> wrote:

Hey @jmckind . I've found that the best solution (

[2020-03-09 16:22] jmckind commented on #26
@RichiCoder1 Thanks for trying the operator. I am working through getting the PR merged to update to the latest operator version. I will update this issue when it is available on Operator Hub.

[2020-03-09 16:45] jmckind commented on #23
@pmcjury Is there something beyond the [Manual](https://argocd-operator.readthedocs.io/en/latest/install/manual/) vs [OLM](https://argocd-operator.readthedocs.io/en/latest/install/olm/) install docs that would be helpful? Perhaps it just needs to be organized a bit better?

[2020-03-09 17:08] pmcjury commented on #23
Yeah I guess not. I just kustomized it to make it easier to add the rbac and configs I wanted. Maybe make the permissions ( which is always a pain ) a bit better. 
I also use an existing prometheus operator and Grafana so self installed the metrics and dashboard. It took me while and had to search through code that the Grafana dash and prom sm weren’t added unless the crds were present. It make se

[2020-03-13 11:52] Unb9rn opened #28 "Redis restarting issue"
After upgrading to v0.0.5 I am having a problem with Redis multiple restarts. Tried re-creating an empty namespace and using the most basic spec from examples, the result is always the same. It spawns multiple redis containers which terminate very rapidly. Describing them would return:
[code]

[2020-03-13 14:14] jresoort commented on #28
I'm having the exact same issue on a Rancher cluster (kubernetes v1.16.4)

[2020-03-14 10:14] myniva commented on #28
Same issue here

[2020-03-17 19:19] tylerauerbeck opened #29 "Create argocd password"
For folks who won't be using an outside authentication system, being able to create the initial argocd-server password would be beneficial (versus having to go through the process of grabbing the podname). Would this by something that could be added to the operator?

[2020-03-18 13:16] resamaraschi commented on #28
Sam here on Rancher

[2020-03-23 15:21] jmckind commented on #29
@tylerauerbeck Yes, the intention was to generate a password and store that in a secret, that would then be used for the server. This is already in place for the grafana dashboard.

[2020-03-23 16:30] jmckind commented on #28
Thanks for reporting this, working on a fix  for the issue that everyone is seeing.

[2020-03-26 12:03] RicardoDMAraujo opened #30 "Lauching application using an SSH repository"
Hello there,

I'm having an issue with the operator on Openshift 4.3 using the operator hub for installation.
Even though I can connect to an ssh repository in the repositories settings, when I try and create and application that uses that same repo I get the following error:
[code]

When trying to debug the issue, when I access the argocd-repo-server pod the "default" user is not present and I ge

[2020-03-26 19:59] tylerauerbeck commented on #30
@RicardoDMAraujo @jmckind You can look at my PR from `argo-helm` here to see what needs fixed. What needs done here is the repo-server needs to also run the `uid_entrypoint.sh` workaround that was added to argo-cd.

https://github.com/argoproj/argo-helm/pull/276

I can provide more details if necessary.

[2020-03-27 15:13] jmckind commented on #30
I see what you are saying. I will include this addition in the upcoming release.

[2020-03-27 15:25] werne2j opened #31 "Login with Openshift"
I was trying to deploy the operator with Code Ready Containers using this example:
https://github.com/argoproj-labs/argocd-operator/blob/master/examples/argocd-oauth.yaml

I am not seeing the "Login with Openshift" button. Is there any other setup that is required to get it to work?

Thanks!

[2020-03-27 15:27] jmckind commented on #30
https://github.com/argoproj-labs/argocd-operator/blob/master/pkg/controller/argocd/deployment.go#L84

[2020-03-30 02:40] pittar commented on #31
@werne2j , you also have to follow the instructions in this blog post:
https://blog.openshift.com/openshift-authentication-integration-with-argocd/

[2020-03-30 02:45] pittar commented on #23
I think this issue can probably be closed.  Docs is enough to get people pointed in the right direction for setting up the proper RBAC.  I agree that out-of-the-box Argo CD shouldn't have `cluster-admin`.  That should be something that an admin makes a conscious decision to give to Argo.

[2020-03-30 16:09] jmckind commented on #6
Released as part of v0.0.5.

[2020-03-30 16:09] #6 closed

[2020-03-30 16:10] jmckind commented on #14
Released as part of v0.0.5.

[2020-03-30 16:10] #14 closed

[2020-03-30 16:10] jmckind commented on #28
Released as part of v0.0.5.

[2020-03-30 16:10] #28 closed

[2020-03-30 16:11] #20 closed

[2020-03-30 16:11] #26 closed

[2020-03-30 16:11] jmckind commented on #24
Released as part of v0.0.5.

[2020-03-30 16:11] #24 closed

[2020-03-30 16:11] jmckind commented on #16
Released as part of v0.0.5.

[2020-03-30 16:11] #16 closed

[2020-03-30 16:11] jmckind commented on #21
Released as part of v0.0.5.

[2020-03-30 16:11] #21 closed

[2020-03-30 16:12] jmckind commented on #30
Released as part of v0.0.5.

[2020-03-30 16:12] #30 closed

[2020-03-30 16:12] jmckind commented on #22
Released as part of v0.0.5.

[2020-03-30 16:12] #22 closed

[2020-03-30 16:12] jmckind commented on #23
Released as part of v0.0.5.

[2020-03-30 16:12] #23 closed

[2020-03-30 16:32] pittar commented on #31
@werne2j , I was discussing this with @jmckind today and it should work "out of the box" in version 0.0.5.

[2020-03-30 19:07] werne2j commented on #31
Thanks @pittar

[2020-03-30 19:07] #31 closed

[2020-03-30 22:38] jmckind commented on #29
@tylerauerbeck How did you imagine this working?

Initially, my thinking was to have the operator generate the initial password and store it as a Secret. This single password would then be used as the initial admin password for Argo, Grafana, etc. The operator would then watch the secret for changes and update/restart Pods as necessary.

Like you mentioned however, Argo already generates an initia

[2020-03-30 22:40] #7 closed

[2020-03-30 22:42] jmckind opened #33 "Add Support for Backups to an AWS Bucket"
The operator should support storing exports/backups in an AWS bucket.

[2020-03-31 01:57] tylerauerbeck commented on #29
Yepp, this is the problem I'm looking to solve. I'd like to have an initial password created and then be able to be used by other systems. Then the operator would watch it for changes and alert the other components, so this sounds good to me.

[2020-03-31 16:24] jmckind commented on #29
I am working on this in the [admin_secret](https://github.com/argoproj-labs/argocd-operator/tree/admin_secret) branch.

[2020-04-02 01:07] jmckind commented on #29
Merged this into master and will go out in v0.0.6

[2020-04-02 01:21] jmckind commented on #3
Merged into master

[2020-04-02 10:52] Unb9rn opened #36 "Something is wrong with password passing"
I am trying to create a new instance with this config:
[code]
It creates everything and there is a pod named `argocd-main-server-765b55b765-pv6w7`
When I try to use it as a password to "admin" account it fails to log me in.
I even tried to patch a secret with password with something as simple as 12345 in bcrypt hash, yet it won't work for some reason. I think it may be related to #29 issue as OLM

[2020-04-02 11:02] Unb9rn commented on #36
And.. yep, I was right... After reading @jmckind notes to latest commits I've realized that another secret may override default argocd's behaviour. So I got this secret, unbase64'd the value and... voila =) I think it should be either fixed or properly documented.

[2020-04-02 13:02] jmckind commented on #36
@Unb9rn the new password features were just merged into master yesterday and 0.0.6 has not been released yet. The only thing that exists for that version are the initial CSV manifest in master. As long as you are on 0.0.5 nothing should have changed for you.

[2020-04-02 13:05] Unb9rn opened #37 "Keeps rewriting argocd-ssh-known-hosts-cm"
When I apply my own configmap with SSH known hosts it stays for several minutes and then gets re-written wit the default one. Is there any way to stop this? According to docs, I'm trying to do it the way it was supposed to...

[2020-04-02 13:05] jmckind commented on #36
Are you using the "latest" tag for the operator image?

[2020-04-02 15:53] RicardoDMAraujo opened #38 "ArgoCDExport getting InvalidImageName on pod creation"
Hey there!

First of all thank you for all the hard work on the operator!

I'm having problems with the ArgoCDExport on v0.0.5. I'm on Openshift 4.3 on aws.

The operator creates the PVC and the Job, but I'm getting an error on the pod creation.

I get `Error: InvalidImageName` error and upon further debugging I get:
[code]
I've tried pulling v1.4.2 instead, but I then get `/bin/bash: /backups/arg

[2020-04-02 15:57] jmckind commented on #37
The operator now manages the `argocd-ssh-known-hosts-cm` ConfigMap. The `SSHKnownHosts` property on the ArgoCD CRD made available in v0.0.5. See the latest docs for this, as they were updated recently.

https://argocd-operator.readthedocs.io/en/latest/reference/argocd/#ssh-known-hosts

Here is an example of setting the SSH known hosts.

[code]

Does this fix the issue that you are seeing? More imp

[2020-04-02 16:06] jmckind commented on #38
Thanks for your feedback @RicardoDMAraujo.

Unfortunately it looks like a bug with the operator in the export logic with how image tags are handled. That was changed recently to support disconnected installs, hence the SHA digest you see. I may have missed something in the export job with regard to that, so I will investigate. The othere problem here is that I have the image and tag hard-coded so-

[2020-04-02 17:01] jmckind commented on #38
Working on this in the [export_img](https://github.com/argoproj-labs/argocd-operator/tree/export_img) branch.

[2020-04-03 10:17] Unb9rn commented on #36
I think I am not good enough with OLM, although I like the concept pretty much(I thought it is supposed to auto update any operator I am subscribed on) So I am using the config mentioned in docs:
[Here](https://argocd-operator.readthedocs.io/en/latest/install/olm/)
After checking in kube subscription object I see:

That's why I thought it would be a good idea to have another channel (like beta) fo

[2020-04-03 11:35] Unb9rn commented on #37
Oh, sorry! I was using old docs. Now everything is great! Thanks!

[2020-04-03 12:53] #37 closed

[2020-04-03 19:23] jomeier opened #39 "[Feature] Support ArgoCD 1.5 (Helm 3, much faster, ...)"
Hi,

could you support ArgoCD v1.5 in the next release? It contains support for Helm 3 and is much (!) faster than ever.

Thanks a lot and greetings,

Josef

[2020-04-06 10:12] Unb9rn opened #40 "RBAC issues with 0.0.5"
I've tried setting up ArgoCD with this operator (both installed with OLM and manually)
And now when I create an Application I am getting this error:
`secrets is forbidden: User "system:serviceaccount:argocd:argocd-application-controller" cannot create resource "secrets" in API group "" in the namespace "clickhouse"`

Application yaml:

[code]

[2020-04-06 15:04] jmckind commented on #40
Was this working for you previously?

I believe that the issue here is that by default the ServiceAccount that is created for the Argo CD application controller does not have permission to manage resources outside of the namespace where the cluster is running. In this case, the `argocd` namespace.

The application controller out-of-the-box only has cluster read permissions through it's ClusterRole

[2020-04-06 15:09] jmckind commented on #39
Now that 1.5 is released, will add support for it in the next release.

[2020-04-06 15:14] jmckind commented on #40
Here is the section of the docs that mention how to do this on OpenShift.

https://argocd-operator.readthedocs.io/en/latest/install/openshift/#rbac

Does that work for you?

[2020-04-06 15:20] jmckind opened #41 "Update CRD Properties After Creation"
The operator is not watching for updates to all of the properties on the CRD. Once the CRD has been created, making changes to the `ResourceCustomizations` property for example, has no effect and the `argocd-cm` ConfigMap is not updated as expected.

[2020-04-06 16:09] jmckind commented on #36
I see now what is happening and I need to ensure that the images used in the manifests in the `deploy` directory in the master branch use tags/digests that point to the most recent release.

The CatalogSource that you were using from the `deploy` directory was using the `latest` tag, whch was using v0.0.6 version you saw.

I have updated the image digests in master to point to v0.0.5 and I will en

[2020-04-06 16:10] jmckind commented on #36
You should be able to follow the same process now and get the `v0.0.5` version.

[2020-04-06 19:46] jmckind commented on #38
Merged into master, will go out in v0.0.6

[2020-04-06 20:05] jmckind commented on #41
Working on this in the [crd_update](https://github.com/argoproj-labs/argocd-operator/tree/crd_update) branch.

[2020-04-06 21:16] jmckind commented on #41
This has been merged into master and will go out in the v0.0.6 release.

[2020-04-06 21:31] jmckind commented on #39
Working on this in the [argo_15](https://github.com/argoproj-labs/argocd-operator/tree/argo_15) branch.

[2020-04-06 22:10] jmckind commented on #39
This has been merged to master and will go out in the v0.0.6 release.

[2020-04-06 22:24] jmckind commented on #33
Working on this in the [export_aws](https://github.com/argoproj-labs/argocd-operator/tree/export_aws) branch.

[2020-04-07 07:23] Unb9rn commented on #40
I just re-defined Roles and Bindings from manual ArgoCD installation and of course that worked, yet I think it should be included into the operator installation.

[2020-04-07 07:24] Unb9rn commented on #36
Thanks! It seems to work)

[2020-04-07 07:24] #36 closed

[2020-04-14 17:09] jmckind commented on #41
Released as part of v0.0.6.

[2020-04-14 17:09] #41 closed

[2020-04-14 17:09] jmckind commented on #39
Released as part of v0.0.6.

[2020-04-14 17:09] #39 closed

[2020-04-14 17:09] jmckind commented on #38
Released as part of v0.0.6.

[2020-04-14 17:09] #38 closed

[2020-04-14 17:10] jmckind commented on #29
Released as part of v0.0.6.

[2020-04-14 17:10] #29 closed

[2020-04-14 17:10] jmckind commented on #3
Released as part of v0.0.6.

[2020-04-14 17:10] #3 closed

[2020-04-14 17:10] jmckind commented on #33
Released as part of v0.0.6.

[2020-04-14 17:10] #33 closed

[2020-04-15 16:31] jmckind commented on #40
Global cluster write permissions (cluster-admin) is not allowed for an operator to be included in the OpenShift Operator Hub. This is why the decision was made to ship the operator with cluster read permissions only and can be overridden by the user using the documentation referenced above if cluster-admin is something you need.

[2020-04-15 16:31] #40 closed

[2020-04-15 17:16] jmckind opened #47 "OpenShift OAuth Broken After Cluster Restart"
It appears that the Dex pod must be deleted/recreated when restarting the entire OpenShift cluster in order for OAuth to function correctly after the restart. Need to investigate if there is something that the operator can do to help prevent the need to recreate the Dex pod in this scenario.

[2020-04-16 15:37] jmckind opened #48 "Need Documentaion for Export Process"
There needs to be documentation added that explains in detail how to perform backup/restore operations using the `ArgoCDExport` resource that includes examples for both supported storage locations (local persistent volume and off-site AWS S3 bucket).

[2020-04-16 15:40] jmckind opened #49 "Upgrade Operator SDK Dependency"
Currently the operator depends on v0.12.0 of the operator-sdk. The operator needs to be updated to use the current version of the operator-sdk to prevent getting too far behind, resulting in a more challenging upgrade in the future.

[2020-04-16 17:55] jmckind opened #50 "Add Support for Backups to a GCP Bucket"
The operator should support storing exports/backups in a GCP bucket.

[2020-04-16 18:04] jmckind opened #51 "Add Support for Backups to an Azure Storage Container"
The operator should support storing exports/backups in an Azure storage container.

[2020-04-17 00:50] creiche opened #54 "New Secret for Admin Password Feature creates infinite loop if cluster is named argocd"
Being that the operator stores the admin password secret in {clustername}-secret and then updates argocd-secret, it creates an infinite loop of constantly updating the secret.  There should be a check for that to prevent an infinite loop and possibly a way to customize the secret to use.

[2020-04-17 07:39] jomeier commented on #54
I can't even set the passowrd anymore. It constantly gets updated and overwrites my manually set password.

[2020-04-17 07:45] jomeier commented on #54
How can I set my own password with the operator? Without the operator I can set it by encrypting my Password and setting it to the argocd-secret. This always worked before.

[2020-04-17 10:18] jomeier commented on #54
Somehow ArgoCD was hammering against our cluster API and crashed it :-) We deinstalled v0.6.

[2020-04-17 12:09] creiche commented on #54
According to the PR (https://github.com/argoproj-labs/argocd-operator/pull/34) you need to have a secret called {clustername}-secret which stores in the password in admin.password key.  The problem is if you named your cluster argocd, then the operator just gets caught in an infinite loop updating admin.password in argocd-secret, sees the change and then updates the password in argocd-secret and l

[2020-04-17 21:56] christianh814 opened #55 "Cannot add repo with argocd repo add command"
When I run the following command to add a repo

[code]

It does not actually add it. It seems like it's getting overwritten by the operator.

When I add a repo via the operator...

[code]

It'll add the repo...but I still can't add additional repos via the CLI.

I would like to be able to add additional repos, not only ones managed by the operator.

[2020-04-17 22:15] jmckind commented on #54
Thanks for reporting this @creiche. Will get started on a fix for this issue.

[2020-04-17 22:29] jmckind commented on #55
Thanks for reporting this @christianh814! This bug will also affect the SSH Known hosts as well.

[2020-04-18 21:12] wrichter opened #56 "Can't override hostname for route"
due to #54 I renamed my ArgoCD instance from "argocd" to "argocdinstance". This then causes the default route hostname to change from argocd-server-argocd.apps.my.cluster to argocdinstance-server-argocd.apps.my.cluster. According to the [docs](https://argocd-operator.readthedocs.io/en/latest/reference/argocd/#server-options), it should be possible to set the route hostname via spec.server.host, bu

[2020-04-20 15:49] jmckind commented on #56
Thanks for pointing this out @wrichter, I have a fix for this in the works.

[2020-04-20 15:59] wrichter commented on #56
Thanks by the way for the awesome operator :-)

[2020-04-20 17:26] jmckind commented on #56
Thanks for the kind words! I just merged #58 that will fix the issue that forced you to change the name of the cluster. Using `argocd` for the cluster name will be supported once again. In addion to that I am working on fixing the issue that prevents overriding the hostname on the Route.

[2020-04-20 19:35] jmckind commented on #47
I have created #60 as a fix for this issue. My theory is that when the cluster restarts, the Dex Service Account token changes. This causes the client secret for the Dex configuration to change. The Dex Pod needs to be restarted to pick up the new client secret.

[2020-04-21 10:59] orefalo opened #62 "default admin password issue"
To view it, i use : of course it's bcrypted
kubectl get secret -n argocd argocd-secret -o json | jq '.data|to_entries|map({key, value:.value|@base64d})|from_entries'

Tried the pod name as password for user admin, ie. "snapcore-argocd-server-66f8db6487-7m8tx"
Tried to force the password with
kubectl patch secret -n argocd argocd-secret -p '{"stringData": { "admin.password": "'$(htpasswd -bnBC 10 "

[2020-04-21 13:53] jmckind commented on #56
Released in v0.0.8

[2020-04-21 13:53] #56 closed

[2020-04-21 13:53] jmckind commented on #55
Released in v0.0.8

[2020-04-21 13:53] #55 closed

[2020-04-21 13:53] jmckind commented on #54
Released in v0.0.8

[2020-04-21 13:53] #54 closed

[2020-04-21 13:53] jmckind commented on #47
Released in v0.0.8

[2020-04-21 13:53] #47 closed

[2020-04-21 13:57] jmckind commented on #62
Hey @orefalo, thanks for using the operator! Can you provide me with a couple of things?

- What version of the operator are you running?
- What platform are you running on (OpenShift, vanilla k8s)?
- How are you installing it (olm/operator hub or mannually)?

[2020-04-21 14:34] orefalo commented on #62
What version of the operator are you running?
Latest as of today

What platform are you running on (OpenShift, vanilla k8s)?
rancher k3s cluster -

How are you installing it (olm/operator hub or mannually)?
I installed it manually. I don't think olm is an option on k8s

[2020-04-21 18:33] jmckind commented on #62
@orefalo the behavior of the operator with regard to the admin password changed in v0.0.6. The operator now manages a cluster secret that is used for Argo as well as Grafana if enabled. The idea is that the admin password can be managed in one place and the operator will keep everything synchronized.

You should have a Secret named [CLUSTER NAME]-cluster, where [CLUSTER NAME] is the name you gave

[2020-04-21 18:45] jmckind commented on #49
Merged into master and will be released in v0.0.9

[2020-04-21 18:45] #49 closed

[2020-04-22 13:53] jmckind opened #64 "Several Dashboard Metrics Not Working"
There are several items on the Argo CD dashboard in Grafana that are not working. Some items are using deprecated metrics and need to be updated.

[2020-04-22 14:24] jmckind commented on #62
Merged a doc update that I hope helps to describe the purpose of the cluster secret.

[2020-04-22 14:52] orefalo commented on #62
Clear, thank you for the prompt reply.

[2020-04-22 14:52] #62 closed

[2020-04-22 18:25] jmckind commented on #64
Merged into master and will go out in v0.0.9

[2020-04-22 18:25] #64 closed

[2020-04-22 19:12] jmckind opened #68 "Configure Grafana to Use OpenShift OAuth When Enabled"
The operator can be configured to automatically set up Argo CD to use the OAuth server present in OpenShift. It would be nice for the operator to also enable OAuth in Grafana as well.

[2020-04-23 19:20] jmckind commented on #48
Merged #67 to master, will go out in the v0.0.9 release.

[2020-04-23 19:20] #48 closed

[2020-04-28 22:24] jmckind commented on #50
PR #69 added for this. Working through the last of the documentation and should merge soon.

[2020-04-29 19:10] jmckind commented on #50
Merged into master and will go out in the v0.0.9 release.

[2020-04-29 19:10] #50 closed

[2020-04-29 22:21] jmckind opened #74 "Add Support for Custom TLSConfig on Routes"
The operator should allow a user to specify the TLS configuration for each Route that the operator manages.

[2020-04-29 22:29] jmckind commented on #51
Working on this in the [azure_export](https://github.com/argoproj-labs/argocd-operator/tree/azure_export) branch.

[2020-04-30 14:38] jmckind opened #75 "ArgoCD CR Should List Status for All Argo CD Components"
Currently, the operator only populates a Status value for the Argo CD server component. In addition, the value for the Status `Phase` is only computed currently based on the value of the server component Status currently.

The operator should list the status for each of the following Argo CD components and use each of these status values in the final determination for the Status `Phase` value.

-

[2020-04-30 16:21] jmckind commented on #51
Merged into master and will go out in the v0.0.9 release.

[2020-04-30 16:21] #51 closed

[2020-05-01 17:52] aelbarkani opened #76 "ArgoCD doesn't work in a disconnected environment"
Hi,

I've been testing ArgoCD operator version 0.0.8 and it seems the ArgoCD controller and server are deployed fine in a disconnected environment in OpenShift (using cluster-wide proxy). But when I tried to deploy an Application, the server cannot reach an external repository like Github.

Would be possible to add the cluster-wide proxy env vars to server ? Or any method so we can add custom envi

[2020-05-03 16:00] jmckind opened #77 "Update Operator to Argo CD v1.5.5"
The operator should support the latest version of Argo CD, currently [v1.5.54](https://github.com/argoproj/argo-cd/releases/tag/v1.5.5).

[2020-05-04 16:04] NormJohnIV opened #78 "Invalid Credentials Generated"
On a fresh install using the olm we cannot access argo via the ui or cli. All attempts respond with incorrect credentials. Checking the events and watching as the deployments come up we are positive this is the first container and not a recreated container. So, following this guide https://argoproj.github.io/argo-cd/faq/#i-forgot-the-admin-password-how-do-i-reset-it, we reset the password. No chan

[2020-05-04 16:59] NormJohnIV commented on #78
After further testing and troubleshooting we found that a change was made 14 days ago and the password is both neither the pod name nor stored in the argocd-secret secret. Instead, the password in now a randomly generated password that is stored in a new secret named argocd-cluster. https://github.com/argoproj-labs/argocd-operator/commit/80bd11aacb1ff26979653f71d58b8700bd15af9b . This was quite co

[2020-05-04 16:59] #78 closed

[2020-05-05 13:17] gregsheremeta commented on #78
thanks @NormJohnIV. Indeed this did it for me too. I was able to login with the password here:
`oc get secret argocd-cluster -o yaml | yq r - "data.admin*" | base64 --decode`

[2020-05-05 19:52] jmckind commented on #76
Hey @aelbarkani , thanks for trying out the operator!

I think the operator should be able to support this use-case with minor changes hopefully. :)

Have you been able to make this work using the standard upstream Argo CD install manifests? If so, would you mind sharing the ENV VARs that you added?

[2020-05-07 20:45] jmckind opened #79 "Transition to New Operator Bundle Format"
The format for operator bundles is changing and the operator should support this new format.

See

https://github.com/operator-framework/community-operators/issues/1680

and

https://github.com/operator-framework/bundle-example

[2020-05-08 12:14] eldis80 commented on #74
Hi. I was just checking an issue raised by our team. We'd like the argocd-server route to show same self-signed certificate as the routes we are using for other applications on OpenShift. So this would be a very welcome feature.

[2020-05-08 14:28] jmckind commented on #77
Changing to 1.5.4 that was just released.

[2020-05-12 22:06] tylerauerbeck opened #80 "Document Kustomize Deployment"
We added kustomize to the options for deploying this operator but need to go back and update the documentation to reflect that as well. This is a placeholder to remind me to get that updated.

[2020-05-14 16:06] garyedwards commented on #74
Hey it would be nice to have this for ingress as well.  Use of annotations such as `cert-manager.io/cluster-issuer: letsencrypt-staging` for each `host` that is set (server & grpc).

[2020-05-14 16:15] garyedwards commented on #74
It feels like ingress is almost working except `spec > tls > hosts` is using the name from ArgoCD `metadata > name` rather then then using the `host` as set and used by http:

[code]

[2020-05-14 16:42] tylerauerbeck opened #82 "initialSSHKnownHosts overrides default SSHKnownHosts provided by ArgoCD"
I believe this is currently working as designed, but I'd like to see if anyone has similar thoughts. Right now upstream ArgoCD provides the initial SSHKnownHosts for github, bitbucket, gitlab, etc. when you install the system. The current functionality of this operator overrides/removes them if you provide your own `initialSSHKnownHosts` to the operator. What I would like to see is something along

[2020-05-14 16:47] tylerauerbeck opened #83 "Ability to utilize repository.credentials in initialRepositories"
Right now when you add a repository via `initialRepositories` we have to specify credentials or keys for each individual repository that we would like to use. As of ArgoCD v1.4.X, we have the ability to specify a key to be used at a root of a repo (i.e org/project) level with `repository.credentials`. Not sure what the design of this would look like at this point, but I think it would be beneficia

[2020-05-14 19:26] tylerauerbeck opened #84 "Add the ability to customize the OpenShift route that is created"
Currently the operator provides the ability to customize the Ingress object that gets created, however right now the route setting in the operator is pretty vanilla. It would nice to be able to adjust some of the specifics of the Route object that gets created in a similar manner: `InsecureEdgeTerminationPolicy`, `host`, etc.

[2020-05-15 20:28] jmckind commented on #82
I like your suggestion for the default flag and this shouldn't be hard to implement.

[2020-05-16 18:35] tylerauerbeck commented on #84
Actually looks like the settings I need are already present, but looks like some enhancement would be needed for some of the additional configs (TLS, etc.) per convo in https://github.com/argoproj-labs/argocd-operator/pull/70

[2020-05-16 18:36] #84 closed

[2020-05-22 13:00] garyedwards opened #85 "Add support for setting OIDC redirect_uri in config"
## Description

Add option to set the host name of the argocd server in the OIDC config.

Currently this defaults to `argocd-server` which does not resolve correctly so SSO servers throw errors or redirect to a host that can not be resolved.

## Expected Behavior

Have an option to set this host name in the OIDC config or have the operator use the `server > host` value set in the server config.

#

[2020-05-22 16:34] jmckind commented on #85
Thank you @garyedwards for the detailed write up. This is something than needs enhancement for sure. I will get started on implementing a solution.

[2020-05-22 16:56] garyedwards commented on #85
Hi @jmckind thanks for your great work on this operator.  It may be worth doing an audit of all of the areas that can inherit the host value.  For example I have noticed that the tls settings for ingress also use `argocd-server` rather the the server config host value.  It may be I am missing something let me know if I can help with testing etc.

[2020-05-23 07:31] vmwiz commented on #80
It would be nice to provide too a single rendered yaml manifest generated from your kustomization, like they do in upstream argocd for manual deployment.

It would help for airgap scenarios when OLM cannot be used or github accessed.

[2020-05-26 19:53] jmckind commented on #77
Changing to 1.5.5 that was released.

[2020-05-26 22:54] jmckind commented on #77
This has merged into #87 and will go in the v0.0.9 release.

[2020-05-26 22:54] #77 closed

[2020-05-27 14:18] jmckind opened #89 "Add OLM Artifacts for v0.0.9"
Per the title, the CSV and other OLM artifacts need to be generated for the v0.0.9 release.

[2020-05-27 18:56] jmckind commented on #89
Merged to master

[2020-05-27 18:56] #89 closed

[2020-05-28 06:47] bortek opened #92 "How to upgrade Operator and then ArgoCD"
Hi guys!

I am looking through the documentation but cannot find the answer. ArgoCD operator in my cluster is v 0.0.8 while there is a newer version 0.0.9.

At the same time ArgoCD version out there is 1.5.5 while the one that operator is running is 1.5.1.

Operator says everything is up to date.

How do I make the operator update ArgoCD to newer version?

[2020-05-28 17:06] jmckind commented on #79
This has been added alogn with #91.

[2020-05-28 17:08] jmckind commented on #92
Hi @bortek, did you install the operator through OLM or manually using the manifests in the `deploy` directory?

[2020-05-29 15:00] paolocarta opened #93 "Webhooks secret not configurable"
I had a look at the reference docs and I did not find a way to configure the git webhooks secret in the ArgoCD custom resource.

I think it would be great being able to do that.

[2020-05-29 16:14] jmckind commented on #93
Hi @paolocarta, thank you for your feedback and interest in the operator.

To be clear, you are referring to the webhook secrets in the `argocd-secret` Secret?

[code]

[2020-05-29 16:31] jmckind commented on #83
@tylerauerbeck I am looking through the [Repository Credentials](https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/#repository-credentials) section of the Argo docs and I am trying to work though how to best support configuring this. I agree though that it would be nice to have the operator support this.

[2020-05-29 17:48] jmckind commented on #85
@garyedwards I have been thinking about this more and wouldn't #91 address this for you here? Overriding the Host on the IngressSpec would result in that being used in the redirect_uri because that would be the value in the host `url` from the `argocd-cm` ConfigMap that is managed by the operator. That should be how it is working, going to run through some tests of that setup.

[2020-05-29 18:21] jmckind commented on #74
@eldis80 As I have been thinking about all of this more I wanted to see if your particular case, have you tried the `Server.Insecure` flag?

[code]

That should disable the built-in argo cert and use what is provided by OpenShift on the Route automatically.

[2020-05-29 18:58] garyedwards commented on #85
I have just had another look and it does not seem to come through into the argocd-cm configmap:

[code]

My config reads:

[code]

I have ingress off currently as add my own manually as the tls does not respect the host value.  I can have another go with ingress enabled.  Does your testing bring through the `server > host` value?

[2020-05-29 19:51] jmckind opened #94 "Updates to Server TLS Secret Should Sync With Argo Secret"
First, a little background on how the operator works with TLS certificates.

When an ArgoCD resource is created, the operator either creates a new self-signed CA for the new cluster or uses the CA certificate and key found in the secret referenced by the `CA.SecretName` property.

With the CA certificate and key, the operator then mints a new self-signed sever certificate and key to use for the ar

[2020-05-29 19:54] bortek commented on #92
Well I have figured it out, turns out it was not installed as an operator but manually. :(  Thanks for responding.

[2020-05-29 19:54] #92 closed

[2020-05-29 21:05] seansund opened #95 "The `url` in argocd-cm is set incorrectly when using an ingress"
When an ingress is used, the value of the `url` field in the `argocd-cm` always gets set to the service endpoint (e.g. https://argocd-server) instead of the ingress host. Looking at the code, it appears that when the ingress is created it is named `${cr.Name}` but when the ConfigMap logic looks for the ingress it is looking for `${cr.Name}-server`. Since it doesn't find the ingress it keeps the se

[2020-05-29 21:13] seansund opened #96 "When a `host` is provided for the ingress it is not used for the TLS host"
When a `host` is provided along with ingress=true then the operator will create an ingress that uses the host value in the `rules` section. However, the TLS section will always use `${cr.Name}` for the TLS host. The result is that the TLS endpoint is not available.

It seems like if the host is provided it should be used in both places within the ingress

## ArgoCD CSV

`argocd-operator.v0.0.8`

#

[2020-05-29 21:42] paolocarta commented on #93
Hi @jmckind thanks for your reply.

Yes I was trying to configure this secret through the operator. I did not understand whether is possibile or not using the operator's custom resource.

Did I miss anything perhaps?

[2020-05-30 12:18] robertodocampo commented on #92
I have the same problem (i installed the operator through OLM). May be possible that the 0.0.9 was not published on the community-operators? (I'm using openshift 4.4)

Regards

[2020-05-30 21:46] eldis80 commented on #74
Hi. I haven't tried setting the Server.Insecure as false. I'll have to test it next week. Would the Dex and other components still use secure communication or would it just change the ArgoCD UI?

[2020-05-31 16:36] jmckind commented on #74
With `Server.Insecure` false (the default), argo-server (the UI) runs an HTTPS endpoint and the Route is configured to passthrough and use that for secured client connections.

When `Server.Insecure` is set to true, the argo-server does not provide TLS and simply exposes it's endpoint via HTTP. The Route is then configured to edge and will use the cluster TLS for secured client connections.

[2020-05-31 16:44] jmckind commented on #92
@robertodocampo The PR was merged at the end of last week for the v0.0.9 operator in the community operators (OpenShift Operator Hub), so it should show there soon.

[2020-06-01 15:24] jmckind commented on #95
Merged #98 to address this, thanks!

[2020-06-01 15:24] #95 closed

[2020-06-01 15:25] jmckind commented on #96
Merged #97 to address this issue, thanks!

[2020-06-01 15:25] #96 closed

[2020-06-01 16:58] jmckind commented on #79
Merged as part of #99 and will go out in the v0.1.0 release.

[2020-06-01 16:58] #79 closed

[2020-06-01 19:01] jmckind commented on #85
I think this was actually caused by #95, which the fix was just merged into master and will go out in the next release. In addition, I am going to submit a new PR that just includes the enhancements for Ingress and does not combine it with the Route changes.

[2020-06-01 19:35] jmckind commented on #93
One thing that you could do is to just create the `argocd-secret` Secret before or at the same time as the ArgoCD resource with the webhook secrets that you want to use and it should work. The operator is not managing those properties currently, so you should be able to modify them as needed and the operator should not get in the way.

The operator will create `argocd-secret` automatically, so you

[2020-06-02 22:16] Aenima4six2 commented on #78
So can we get the docs updated? This just cost me four hours of pain.
https://argocd-operator.readthedocs.io/en/latest/usage/basics/#secrets

[2020-06-03 11:03] paolocarta commented on #93
Cool thanks, for the moment it's ok.

Is there any plan to support it in the future with the ArgoCD custom resource? Otherwise we might have a mix of things managed both manually and with the operator.

[2020-06-03 14:11] jmckind commented on #93
@paolocarta Do you have ideas for how the operator could help you more in this scenario?

I do not want to enable setting those secrets directly in the CR, as that is what the `argocd-secret` Secret is used for and I am having trouble with what more the operator could do to help here.

[2020-06-03 14:13] jmckind commented on #76
@aelbarkani I just wanted to check in and let you know that I have not forgotten about this issue. Did you have a chance to see my question above?

[2020-06-03 18:09] robertodocampo commented on #92
Thanks a lot @jmckind ! The operator was upgraded to the 0.0.9 version this morning. However the argocd was not upgraded. I need to do something more? I usually rely on the automatic operators to do this upgrades ("full cycle operators")

Regards

[2020-06-04 11:31] paolocarta commented on #93
I think it would allow to have everything in one place. The operator then would manage all necessary configurations automatically.

For instance, let's assume a secret is added after the ArgoCD setup, it would require probably to get the existing secret, patch it manually and apply it. This would also apply while updating the secret I guess.

[2020-06-04 13:32] jmckind commented on #93
I thought that the webhook secret came from the other side like GitHub or Gitlab, etc and was not something that could be generated by the operator? Perhaps my understanding is  flawed here.

[2020-06-04 14:45] paolocarta commented on #93
As far I can see from the GitHub UI you can specify the secret while manually creating the webhook. I am not sure while using the GitHub APIs though.

[2020-06-04 16:28] jmckind commented on #93
Ahh OK... So you can provide the value, I think I see now what you mean.

Have the operator use the API to create the webhook and secret at GitHub or GitLab, etc.? That is certainly something that we can look at having the operator manage. I will do a little more research into the various webhooks and see if there is a way that the operator can support at least some of them.

[2020-06-04 18:18] paolocarta commented on #93
It could be configured also manually on GitHub at the beginning, with the secret created by the operator.

The version you suggests sound really interesting though, it could be really useful in a second version!

[2020-06-05 15:28] jmckind commented on #93
Feel free to submit the PR if you have something and we can work through anything golang related if you have questions or anything. :)

[2020-06-09 10:45] eldis80 commented on #74
Hi. I've now tested the changing the Server.Insecure to true and that seems to do what we require. I was maybe too worried by ArgoCD documentation stating that the --insecure flag should be used only for testing. I don't think that's such an issue with OpenShift as the external traffic is coming through the Route which has TLS already.

[2020-06-09 19:30] LaloLoop opened #102 "Add support for Workload Identity authentication in GCP"
Hello ArgoCD team, I have been recently using ArgoCD and I think it's awesome, now I am deploying the operator in PoC clusters and soon I hope in prod ones.

I wanted to raise the idea of adding support for [GCP's Workload Identity](https://cloud.google.com/blog/products/containers-kubernetes/introducing-workload-identity-better-authentication-for-your-gke-applications) to the `ArgoCDExporter` com

[2020-06-10 12:30] gorantornqvist opened #103 "Where to configure argocd-cm url property in ArgoCD CR?"
The argocd-cm configmap holds a property like:
[code]
I have configured dex.config for openshift oauth and when I click login with openshift it redirects to https://example-argocd-server/api/dex/auth?client_id=argo-cd... (which doesnt resolve)

I guess I need to set url to https://argocd.apps.mydomain.com which is the route name I have created? But not sure how to do this ...

Thanks ...

EDIT:
Th

[2020-06-11 06:52] LaloLoop commented on #102
Thank you for the quick reply, @jmckind . It'd be awesome if we can collaborate on it, I will begin by setting up my dev environment following the development guide and start looking into the code, I can make some time in the upcoming days to submit a PR. I will also check the docs to see if I can add the _GCP IAM configuration_ section.
Later I can have a look into the exporter and discuss the id

[2020-06-11 08:53] gorantornqvist commented on #103
Thanks, setting server: route: true in CR did the trick!
Being able to change default hostname in CR from example-argocd-server-argocd to just argocd would be nice :)

Thanks for your help ...

[2020-06-17 14:54] jmckind commented on #75
This has been merged into master as part of #104 and will go out in the next release.

[2020-06-17 14:54] #75 closed

[2020-06-17 14:55] jmckind commented on #74
The Route enhancements have been merged into master as part of #100 and will go out in the next release.

[2020-06-17 14:55] #74 closed

[2020-06-17 14:56] jmckind commented on #85
The Ingress enhancements have been merged into master as part of #101 and will go out in the next release.

[2020-06-17 14:56] #85 closed

[2020-06-17 14:57] #103 closed

[2020-06-18 16:56] tylerauerbeck opened #107 "Allow operator to watch all namespaces"
Currently the operator only watches the namespace that it is deployed in. As I have a number of teams that are interested in experimenting with ArgoCD, it would be nice to only have to deploy the operator once and then allow these seperate teams to deploy their own ArgoCD CR in their projects.

[2020-06-25 16:31] AndriiOmelianenko opened #108 "route creation in Openshift"
Hello,
I'm trying to create ArgoCD with Routes in my OCP 4.4 following this page: https://argocd-operator.readthedocs.io/en/latest/usage/routes/
ArgoCD operator `0.0.9 provided by Argo CD Community `

[code]

[2020-06-25 16:38] AndriiOmelianenko commented on #108
I was using example from 0.0.10 operator version while running 0.0.9, my bad :)

[2020-06-25 16:38] #108 closed

[2020-06-26 18:28] tylerauerbeck opened #109 "Operator isn't respecting version field after CR update"
In the following scenario, I'm seeing that the operator isn't picking up an updated version field if it wasn't originally specified as part of the ArgoCD CR:

At first I deploy an ArgoCD that doesn't specify a version as I just wanted to deploy whatever the latest is. However after some time I realize I want to pin to an older version (ex: v1.5.4) so I updated the CR with `version: v1.5.4`. After

[2020-06-26 19:21] tylerauerbeck opened #110 "Allow mounting of ServiceAccountToken / specifying of ServiceAccount in Repo Server"
Currently the repo server component has `automountServiceAccountToken` set to false. When attempting to use the `lookup` function with helm, this causes us some issues because it has no idea how to communicate with the cluster. It would be nice to be able to override this if this was desired and also to specify the serviceAccount that I would want to use here.

[2020-06-29 14:17] jmckind commented on #83
Support for this has been added in #105 and will go out in the next release.

[2020-06-29 14:17] #83 closed

[2020-06-29 14:20] jmckind commented on #110
Thanks for your continued contributions! I am going to merge this and will go out in the next release.

[2020-06-29 14:21] #110 closed

[2020-06-29 14:24] jmckind commented on #109
This is a bug that I am currently investigating. You are correct that the operator should notice the version, if specified and redeploy the components.

[2020-06-29 15:22] jmckind commented on #107
This is actually something that I considered initially but I left out due to operators not being supported on OpenShift Dedicated (OSD) if they allow deployment to all namespaces through the `InstallModes` section in the ClusterServiceVersion (CSV) for the operator (See [v0.0.9](https://github.com/argoproj-labs/argocd-operator/blob/02c424615559b40c33447bf3e3b9ac86550cb4ab/deploy/olm-catalog/argocd

[2020-06-29 17:55] tylerauerbeck commented on #107
@jmckind Yepp, I think that would work for me.

[2020-06-30 15:19] flickerfly opened #112 "Missing 0.0.10 package in argocd-operator/deploy/olm-catalog/argocd-operator/"
I'm running my own catalog and still using the older folder based bundle format. I went to argocd-operator/deploy/olm-catalog/argocd-operator/ to grab that and found that version 0.0.10 isn't available in there. Could we get that generated?

[2020-06-30 15:23] jmckind commented on #112
Hey @flickerfly! I am working on that right now. :)

[2020-07-01 16:54] jmckind commented on #109
I have added #115 to address this. Will go out in the next release.

[2020-07-01 16:58] jmckind commented on #82
This has been merged into master and will go out in the next release.

[2020-07-01 16:58] jmckind commented on #4
This has been merged into master and will go out in the next release.

[2020-07-01 16:58] #4 closed

[2020-07-01 16:59] jmckind commented on #109
This has been merged into master and will go out in the next release.

[2020-07-01 16:59] #109 closed

[2020-07-01 17:19] tylerauerbeck commented on #82
@jmckind Did this get merged in? Maybe I’m just overlooking but I didn’t see any changes around the SSHHosts.

[2020-07-01 17:30] jmckind commented on #82
Whoops my bad, I closed the wrong issue. Sorry about that.

[2020-07-01 17:32] tylerauerbeck commented on #82
@jmckind No problem. I've actually got a PR about ready for this one, so you can go ahead and assign this to me if you'd like.

[2020-07-01 19:20] jmckind commented on #112
Like I mentioned in the [PR](https://github.com/argoproj-labs/argocd-operator/pull/113), I have rolled forward to v0.0.11 and it has been released along with the OLM artifacts. I will be adding the PRs to get v0.0.11 included in the Operator Hubs as well.

[2020-07-01 19:20] #112 closed

[2020-07-02 02:31] christianh814 opened #119 "ArgoCD Version"
I know I can set the ArgoCD version [under `.spec.version.`](https://github.com/argoproj-labs/argocd-operator/blob/master/docs/reference/argocd.md#version)

But it would be nice to bump the default version up to 1.6.1 since it's been out for a while.

[2020-07-02 12:01] jmckind commented on #119
Perfect timing! v0.0.11 just reased yesterday with 1.6.1 as the default version. I am submitting the PRs for the Operator Hubs and should show up there as soon as those can get merged.

[2020-07-02 20:50] jmckind commented on #119
The [PR](https://github.com/operator-framework/community-operators/pull/1938) was merged, so expect v0.0.11 to land in the Hub soon.

[2020-07-02 20:50] #119 closed

[2020-07-03 07:21] saprette opened #120 "Pull secret setup"
Hello,

Would it be possible to setup a custom pull secret in the ArgoCD CRD?

I'm building a custom ArgoCD image as I need to add binaries for my plugins, and that custom ArgoCD image is available only in a corporate external image registry that requires a pull secret.

[2020-07-07 08:08] daufinsyd opened #121 "Argocd failed to update (openshift - argocd 0.0.11)"
Hello

I'm using Argocd on openshift 4.4 using the argocd-operator. Unfortunatelly after the update (0.0.9 -> 0.0.11) the following components were deleted : service accounts, roles, rolebinding (preventing pods from starting).

In order to solve the issue I had to uninstall/reinstall the operator and execute most the steps described here https://www.openshift.com/blog/openshift-authentication-int

[2020-07-07 08:28] ThomasVitt commented on #121
Hello
same problem here. There was a new installplan for 0.0.11 this morning, and when approving it, the operator lifecycle manager inside openshift deletes all serviceaccounts "argocd-*" and all rolebindings "argocd-*" in the namespace. The pods for argocd operator v0.0.11 can not start because of this.
Thanks!

[2020-07-07 08:40] ThomasVitt opened #122 "configmap argocd-tls-certs-cm does not get populated with cr.spec.tls.initialCerts (v0.0.9)"
Hello,
we want to insert a root CA certificate into argocd repo server in order to connect to our private Git Repos without the "insecure" option. According to the documentation (https://argocd-operator.readthedocs.io/en/latest/reference/argocd/#tls-options) we are using the following spec:

[code]

But the configmap "argocd-tls-certs-cm" contains no data after configuring the argocd object:

[cod

[2020-07-07 15:25] jmckind commented on #121
I am still investigating this but my initial thoughts are that it is related to the [breaking change](https://github.com/argoproj-labs/argocd-operator/releases/tag/v0.0.10) in v0.0.10, which didn't make it to the Operator Hub. Seeing this in an upgrade from v0.0.9 -> v0.0.11 would make sense. Do you have Ingress or Routes enabled for your Argo CD clusters?

[2020-07-08 06:26] ThomasVitt commented on #121
Yes we do. But the ArgoCD Cluster is not affected. Just the operator upgrade fails.

[2020-07-08 09:49] alekonko commented on #121
I have same problem on different ocp clusters ( 4.2, 4.4 and 4.5.0-rc6).

[code]
In my clusters also argocd cluster is ko

bye
Alessandro

[2020-07-08 13:38] Numblesix opened #124 "Argocd failed to deploy (openshift - argocd 0.0.11)"
Hello,

we are using OpenShift 4.4 deploying ArgoCD using the Operator fails starting from 0.0.11 because of this:
[code]

[2020-07-08 13:55] Numblesix commented on #124
When checking the created Rolebindings i couldnt find the needed rolebinding
[code]
[code]
[code]
[code]
[code]
[code]

[2020-07-08 15:39] jmckind commented on #124
Duplicate of #121

[2020-07-08 15:41] jmckind commented on #121
For some reason OLM is removing all of the ServiceAccount, RoleBinding, etc. resources when the upgrade fails.

[2020-07-08 15:56] jmckind commented on #124
After further review, I am not sure that this is a dup. :) Looking at this now as I am getting this on OpenShift 4.5.0-rc.7, however everything works as expected for new installs on OpenShift 4.4

[2020-07-08 16:57] Numblesix commented on #124
I installed a fresh cluster on bare metal yesterday on 4.4.11 and it failed another colleague had the same issue on aws. Ill reinstall my cluster this week and will test if this issue persists.

[2020-07-08 17:36] jmckind commented on #124
I tested on 4.4.10, so that is strange. Will try 4.4.11 and see what I get. One thing that I noticed is that the rules are the same for the `argocd-redis-ha` AND `argocd-redis-haproxy`. So I am wondering if there is an issue now when OLM sees that the two are identical, so fails to create the second "duplicate" role as it's parsing the CSV.

Still testing on my end and will report back what I find

[2020-07-08 19:11] jmckind commented on #124
Just confirmed that I am seeing the same failure on 4.4.11, so that appears to be the version where something changed that causes this issue.

[2020-07-08 20:40] Numblesix commented on #124
If i rember correct the cluster where a deployment worked was 4.4.10 but god news it still works after an update to 4.4.11 :)
If u give me some hints i could maybe try to make a PR for the fix :))

[2020-07-09 00:16] jmckind commented on #124
My colleague has opened up a bug with the OLM team on this and I will report back with what they say.

[2020-07-09 11:47] camabeh opened #125 "Namespaced install"
Hello,

is here a setting for installing without cluster-admin permissions? Eg. namespaced-install.yaml from https://github.com/argoproj/argo-cd/tree/master/manifests.

[2020-07-09 12:31] jmckind commented on #125
Hello @camabeh, thank you for trying the operator. This is something that I looked at initially but will revisit now that the operator has matured a bit.

[2020-07-09 13:22] camabeh commented on #125
Ok, great, thanks for answering.

I guess I could delete `https://kubernetes.default.svc` credential from argocd clusters and use more restricted service account to access cluster (cluster-reader + admin for specific namespaces).

[2020-07-09 21:46] jmckind commented on #124
This does appear to be an OLM issue.

https://github.com/operator-framework/operator-lifecycle-manager/issues/1625

I have a possible workaround for this that I am testing now and would result in a new release for the operator.

[2020-07-10 16:16] jmckind opened #126 "Migrate to Kubebuilder Project Layout"
The Operator SDK will be migrating to the Kubebuilder style project layout as part of the 1.0 release. When the time is right, this project should migrate to the new format.

https://github.com/operator-framework/operator-sdk/pull/2851

[2020-07-13 03:26] eformat commented on #124
Hi, FWIW .. i am seeing the same thing on a 4.5.1 cluster .. seems related to this permission (and OLM bug referenced)
[code]

[2020-07-13 13:51] jmckind opened #127 "Upgrade to Operator SDK v0.18.0"
The project currently uses v0.17.0 of the operator-sdk. This should be upgraded to the latest version in anticipation of the move to SDK v1.

[2020-07-14 15:53] jmckind commented on #124
A workaround for this issue has been merged into master and will go out in the next release.

[2020-07-14 15:53] #124 closed

[2020-07-14 15:53] jmckind commented on #127
This enhancement has been merged into master and will go out in the next release.

[2020-07-14 15:53] #127 closed

[2020-07-15 15:40] raelga commented on #93
We have a similar issue, but in this case, for the Oauth configuration.

A possible solution is having an `argocd-operator-secrets` secret deployed by the user. Managing the secrets outside the operator is quite common, as is sensible information that you don't want to have in the CRD yaml spec.

The operator can retrieve the user managed secret data and merge them into the `argocd-secrets` secret

[2020-07-16 09:37] robertodocampo commented on #124
@jmckind  When this operator will be pulled on the "community operators"

[2020-07-16 09:38] robertodocampo commented on #121
@jmckind  When this operator will be pullet on the "community-operators" ?

Regards

[2020-07-16 12:30] ccdgrundhoefer opened #131 "Add possibility to change haproxy image"
Hello,

it seems, that you can change all images via the ArgoCD CRD except for the redis haproxy image, which is unfortunate in a disconnected environment.
Is it possible to add support for this?

[2020-07-17 01:58] christianh814 opened #132 "RFE: Add the ability to define clusters at deployment"
It would be cool to be able to define clusters you want your ArgoCD installation to manage when you deploy an instance with the operator.

Example:

[code]

The token should come from a user (or serviceaccount) with the proper privileges (for example, the `kubeadmin` user token).

[2020-07-17 13:08] jmckind commented on #124
The PRs for both Operator Hubs have been submitted and the new version should be available after these get merged. Thanks!

https://github.com/operator-framework/community-operators/pull/2007
https://github.com/operator-framework/community-operators/pull/2008

[2020-07-17 13:14] jmckind commented on #121
The PRs for both Operator Hubs have been submitted and v0.0.12 should be available after these get merged. Thanks!

https://github.com/operator-framework/community-operators/pull/2007
https://github.com/operator-framework/community-operators/pull/2008

[2020-07-17 13:14] #121 closed

[2020-07-17 13:15] jmckind commented on #131
Hey @ccdgrundhoefer, thanks for trying the operator. This can be added, sorry for the oversight on that image

[2020-07-17 13:16] jmckind commented on #132
Would it make sense to have those tokens stored in a secret that can be referenced in the CR, rather than have the actual token in there?

[2020-07-17 13:33] christianh814 commented on #132
+1 I think that would be a better approach.

[2020-07-19 04:57] briantopping opened #133 "Unable to get a working install, bare metal kubeadm 1.18"
Greetings, thanks for such a promising tool set!

I'm trying to install the operator using the OLM on bare metal k8s 1.18 via Kubeadm. Not having much luck. The manifests off operatorhub.io use a namespace of `my-argocd-operator` and that's the only place I can put an `ArgoCD` CR that it will get picked up.

Once it does, the sample app in the primary docs does not work to the default namespace:

[2020-07-20 02:53] tylerauerbeck commented on #133
@briantopping I believe this is expected. Using OLM, you should be able to deploy the argocd-operator to any namespace that you want. However, with the current implementation of this operator, it will only pick up ArgoCD CR's in the namespace that the operator is deployed in. There is an open issue for this one here: #107

As for the second part of your issue, it looks like this is just because th

[2020-07-20 03:01] briantopping commented on #133
Hi @tylerauerbeck thanks a bunch for the quick response. I will have to apologize in advance if this turns into a support ticket.

The example I did is against `argocd` namespace because I saw some slack threads that indicated the stack did not work well from other namespaces, so I was just being sure that I wasn't missing anything (it being a weekend and all).

Sounds like the right thing to do i

[2020-07-20 14:23] #133 closed

[2020-07-20 19:11] pittar commented on #132
+1 I like this idea.

[2020-07-21 01:22] soharaki opened #135 "ArgoCD Operator doesn't have enough authority to deploy Azure Files PVC on OpenShift on Azure"
**Checklist:

* [x] I've searched in the docs and FAQ for my answer: http://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**

ArgoCD Operator doesn't have enough authority to deploy PVC on OpenShift on Azure.
Failed to sync the repository which has the Azure Files PVC resources.

[code]

**To Reproduce**

1.

[2020-07-21 13:20] tylerauerbeck commented on #135
@soharaki Do you happen to have the error message that you received when you tried to create this PVC?

[2020-07-21 13:43] soharaki commented on #135
This is an error message for "delete" from the ArgoCD web console, but the same error happens with "patch".
The ArgoCD-controller is deployed on the same ns as PVC.

[code]

[2020-07-21 14:16] jmckind commented on #135
@soharaki So the PVC gets created fine but cannot be deleted?

[2020-07-21 14:22] jmckind commented on #135
I believe that this is an issue with the roles for the argocd application-controller/server and not the operator itself based on that error and your workaround.

Just for some background with regard to the roles, I mirrored those defined [upstream](https://github.com/argoproj/argo-cd/blob/v1.6.1/manifests/install.yaml#L2028-L2069) but notice that the non cluster roles do not allow for managing PVC

[2020-07-21 18:43] AbdulR3hman opened #137 "Enable Routes Not allowed?"
Hi,

We have attempted to create a new ArgoCD object using the operator, and when we enable the route on the server we get the following error:

`Error "Invalid value: "boolean": spec.server.route in body must be of type object: "boolean"" for field "spec.server.route".`

The following is an example of ArgoCD Object that we know it worked prior to 0.0.9:

[code]

I have also attempted to enable th

[2020-07-22 00:09] soharaki commented on #135
the PVC cannnot get created, patched and deleted.

@jmckind

Thanks for the answer.
I understand the background of different Role given to ArgoCD's argocd-application-controller and ArgoCD operator's.

https://github.com/argoproj-labs/argocd-operator/blob/e540fb87289969e76c95dbba2927d71161778f02/deploy/role.yaml#L89
https://github.com/argoproj/argo-cd/blob/v1.6.1/manifests/install.yaml#L2078

And

[2020-07-22 16:07] jmckind commented on #137
Hi @AbdulR3hman, thank you for trying the operator. The spec for Routes changed in [v0.0.10](https://github.com/argoproj-labs/argocd-operator/releases/tag/v0.0.10), please see the [Routes documentation](https://argocd-operator.readthedocs.io/en/latest/reference/argocd/#server-route-options) for the new way to enable Routes.

Using the example you provided, you would use the following:

[code]

[2020-07-27 10:55] tylerauerbeck commented on #137
@jmckind Just noticed this as well. Looks like some of the examples in the repo just need updated (https://github.com/argoproj-labs/argocd-operator/blob/master/examples/argocd-oauth.yaml)

[2020-07-28 16:17] #82 closed

[2020-07-29 16:28] jmckind commented on #131
Merged into master and will go out in v0.0.13

[2020-07-29 16:28] #131 closed

[2020-07-29 16:28] jmckind commented on #94
Merged into master and will go out in v0.0.13

[2020-07-29 16:28] #94 closed

[2020-07-30 16:04] lhw opened #141 "RFE: Allow setting environment variables via operator"
For quite a few cases the option to supply environment variables via operator would be really useful. Especially for corporate proxies, but also secrets.
I suggest something simple in the form of:
[code]
Which, while verbose, should translate well to the actual deployments. I could imagine this as global for all deployments or service specific.

[2020-07-30 16:07] lhw opened #142 "RFE: Support for disabling Dex"
As ArgoCD works quite well with already existing OIDC providers it would be nice to have the option to completely disable the deployment of the bundled Dex server.

[2020-08-03 16:39] jmckind commented on #142
Thanks for the suggestion @lhw! That is something that I also noticed in the past and meant to come back to fix.

[2020-08-03 16:41] jmckind commented on #141
@lhw You envision these for the operator container or the actual argocd components?

[2020-08-03 21:30] lhw commented on #141
Hey. Thanks for your work on this project.

I meant these mostly for the ArgoCD components themselves. I skimmed the operator source code and couldn't find any way to add generic environment variables to the resulting deployments. I based my suggestion on the vault-operator here.

[2020-08-04 08:47] ccdgrundhoefer opened #144 "RFE: Add support to configure --app-resync for application controller"
We use ArgoCD in a medium sized environment (currently four clusters with in total 96 application) which already induces a high load on the central git repo server, due to ArgoCD polling the repo server every 3 minutes. The number of applications and clusters will increase significantly in the near future, which will eventually lead to problems.
Since it's possible to increase that inverall by mod

[2020-08-04 19:06] tylerauerbeck commented on #141
I could see this being useful even for making values available to the build environment while using `config-management-plugins`, especially if you happen to also be using your own custom build of the `repo-server` image.

@lhw In your example above, you mention being able to read these values from secrets/configmaps. I would assume that the user would be responsible for creating those outside of t

[2020-08-04 20:36] lhw commented on #141
Separating the secrets from the deployment is a good practice in my opinion. The way we add secrets to the deployment namespaces in most of our cases is using bitnamis sealedsecrets or godaddys external-secrets. This way no secret is found anywhere in a non-encrypted form outside the cluster. And inside the cluster we can easily limit the access to these secrets as well.

Syntax-wise this should t

[2020-08-05 12:34] jmckind commented on #144
@ccdgrundhoefer Thanks for trying out the operator and for the suggestion.

[2020-08-07 12:10] geoL86 opened #145 "Changing the properties of the ArgoCD resource has no effect"
Our stand is:

- OpenShift 4.5.2
- ArgoCD Operator v0.0.12 (is installed from UI)
- ArgoCD Resource:

`apiVersion: argoproj.io/v1alpha1
kind: ArgoCD
metadata:
  name: argocd
  namespace: argocd
spec:
  server:
    route:
      enabled: true`

If we add or modify some specifications on ArgoCD resource - should the ArgoCD operator detect these changes and make changes to the required resources (argo

[2020-08-10 08:23] usamaahmadkhan commented on #68
@jmckind any update on this? Having Openshift Oauth for **Grafana** and **Prometheus** both would be a nice to have.
Also can you update this issue to incorporate Prometheus as well?

[2020-08-10 14:07] itamar-marom opened #146 "ArgoCD Operator in a disconnected env"
Hi !
I'm trying to create argocd deployment on openshift.
I used this operator and the installation guide in: https://argocd-operator.readthedocs.io/en/latest/install/openshift/
I tried to create the basic example: https://argocd-operator.readthedocs.io/en/latest/usage/basics/

But it tries to use images from internet.
I have those images in my registry, but what images do I need to build again ?

[2020-08-26 13:54] geoL86 commented on #122
@ThomasVitt Hi, it works for me (v0.12.0) and your yaml looks working.

[2020-08-27 11:28] kameshsampath opened #147 "Using custom TLS certificates with ArgoCD"
/question

I am trying to deploy Argo CD on OpenShift,  my OpenShift router is patched to use my TLS certs (letsenctypt). When I try to use the same certificates with argocd via secret in the Operator CR, it does not pick it up.

[code]
Anything I am missing here?

[2020-08-27 12:33] jmckind opened #148 "Add Support for Argo CD v1.7+"
Argo CD v1.7.1 is the  current release and the operator should deploy this version by default.

[2020-08-27 19:45] stewartshea opened #149 "argocd-cm is not deleted when instance is deleted"
When removing an argocd instance, the configmap `argocd-cm` hangs around which causes new changes in the instance spec to be ignored when applying a new configuration. For instance, trying to switch from `insecure: false` to `insecure: true` will be ignored unless the configmap is first deleted.

[2020-08-27 19:49] stewartshea commented on #149
Looks to be a transient issue, closing this out. Cleared everything out and could not reproduce the issue again.

[2020-08-27 19:49] #149 closed

[2020-08-28 07:05] kameshsampath opened #150 "Operator Status Condition"
/question

Can we have the Argo CD operator status to be reported in a standard Kubernetes way  with `status -> conditions[*]`, that will help the automation tools like Ansible or others to query the install status of the Operator/CR and do the needed actions.

[2020-08-30 02:47] eformat commented on #148
Hi, at a minimum, it looks like new GPG feature breaks latest deployment 1.7.2 ..
[code]

[2020-09-03 10:16] Unb9rn opened #152 "OLM version mismatch/initialSSHKnownHosts validation error"
Hello! Looks like OLM CatalogSource still holds 0.12 hash, after replacing it to `sha256:5c5aae9e6fae7ec03b92185389178fd20749a47f881ed520a24492ee347d4a77` I was able to install 0.13 operator, but it looks like 0.13 feature with inclusion of default ssh hosts won't work
Adding this to ArgoCD yaml:
[code]
Produces validation error on apply -

[2020-09-08 07:21] tomqwpl opened #153 "Question: Relationship between operator versions and argocd versions"
This is a question about how/whether the operator is intended to support different versions of argocd.

The operator has a default docker image tag for the argocd images. This is a very specific sha tag. But there's also a version field in the spec for me to provide my own version.
However, looking at the code, it looks like the intention is that operator version 0.0.13 is only intended to be able

[2020-09-09 10:51] aelbarkani opened #154 "Security issue due to wide permissions"
Hi,

I'm seeing that the controller has read access on all the resources of a cluster: https://github.com/argoproj-labs/argocd-operator/blob/master/deploy/olm-catalog/argocd-operator/0.0.13/argocd-operator.v0.0.13.clusterserviceversion.yaml#L520

Are these permissions necessary  even in namespaced installs ?

Regards

[2020-09-09 15:41] geoL86 commented on #147
We are using the following:
`  tls:
    initialCerts:
      example.com: |
        -----BEGIN CERTIFICATE-----
        Mx ..`

[2020-09-09 17:56] aelbarkani commented on #154
and for multi-tenant clusters this security issue a very big impact

[2020-09-10 11:41] bortek commented on #148
I am also using an operator and wonder when do you plan to support v1.7 ?

[2020-09-10 12:44] jmckind commented on #150
This is a good suggestion @kameshsampath and has been in my thoughts to change for a while.

[2020-09-10 12:55] jmckind commented on #154
Hi @aelbarkani. The operator was set up this way as per the guidance from the official Argo CD documentation.

https://argoproj.github.io/argo-cd/operator-manual/security/#cluster-rbac

Perhaps raising the issue upstream could get more insight into why Argo CD is designed this way.

That said, we can probably come up with a documented process that people who are concerned with the default behavior

[2020-09-11 19:56] aelbarkani commented on #154
Thanks @jmckind. I see here though that there are two types of installations: standard and namespaced.

https://github.com/argoproj/argo-cd/tree/master/manifests

I think having the two options in the operator would be great (and more secure).

[2020-09-13 20:03] nwalens opened #155 "Question: Custom Tools"
Is it possible to add custom tools as described here: https://argoproj.github.io/argo-cd/operator-manual/custom_tools/

[2020-09-14 07:37] Numblesix commented on #154
Oh yes :))

we had the same concern and opted out to install the operator for our application teams and went back to the normal install for them :)

I see a huge use case for having multiple namespaced ArgoCD instances in bigger companies :)

[2020-09-15 09:17] aelbarkani commented on #154
@Numblesix yes, we are considering the same here. For big companies having multi-tenant clusters in production it's a huge concern. So we are considering uninstalling the operator and get back to normal install.

[2020-09-15 10:03] Numblesix commented on #154
You will still have to either fix a lot of rbac permissions or to blacklist basically everything in argocd which is on cluster-lvl

[2020-09-15 10:13] aelbarkani commented on #154
@Numblesix thanks for the tip. did you use this manifest https://github.com/argoproj/argo-cd/blob/master/manifests/namespace-install.yaml ? I don't see any ClusterRole or ClusterRoleBinding there...

[2020-09-15 10:55] chrisob commented on #154
@aelbarkani I had some success starting with that namespace-install.yaml, but I also had to make some significant changes before Argo CD was able to manage only namespace-scoped resources in other namespaces.

Regardless, here's some points on how I got it working:
- Create a rolebinding giving `argocd-application-controller` a namespaced admin role from your namespace
- Use [resource.inclusions](

[2020-09-15 12:07] aelbarkani commented on #154
thanks @chrisob ! will try that

[2020-09-17 14:34] jmckind commented on #155
Hi @nwalens, you could use an alternate container image by specifying your custom image in the Spec.Image and Spec.Version properties on the ArgoCD custom resource. The Version property is the container image tag to use. This is similar to what is described in the Build Your Own Image section.

https://argoproj.github.io/argo-cd/operator-manual/custom_tools/#byoi-build-your-own-image

That would r

[2020-09-17 14:36] jmckind commented on #148
Starting work on this and will go out in the next release.

[2020-09-17 14:49] tomqwpl commented on #153
That's fine. That was what I was expecting, I just wanted to confirm.

[2020-09-17 14:49] #153 closed

[2020-09-17 14:51] jmckind commented on #152
Going to look into this @Unb9rn.

As a side note, the 0.0.13 version should show up in the Operator Hub soon, as the PRs have been submitted to upgrade to v0.0.13.

[2020-09-17 22:58] Aenima4six2 commented on #94
Is there no way to just provide a custom TLS cert for use in `argocd-secret`, instead of having the operator creating a new self signed cert from a provided CA and key?

[2020-09-18 01:47] jmckind commented on #94
@Aenima4six2 If you create the `*-argocd-tls` certificate with your cert and key before you create the ArgoCD resource, the operator will not generate the self-signed certificate. You need to make sure the secret is named correctly. If your ArgoCD custom resource is named `example`, then the secret must be named `example-argocd-tls`. We should probably add the ability to pass the name of the secre

[2020-09-18 13:15] Aenima4six2 commented on #94
@jmckind Thanks so much for the quick response! One other interesting find, I noticed the cert that is generated uses the ArgoCD `metadata.name` in the `SAN`. Since the operator supports providing a `host` field, it might make sense to use that if provided, and fallback to the CRD name if absent, for the SAN hosts.

[2020-09-18 14:14] jmckind commented on #94
Good catch @Aenima4six2 on the host field. I will add a bug to address that.

[2020-09-18 14:15] jmckind opened #157 "Use Host Field for TLS Certificate"
The certificate that is generated for Argo server uses the ArgoCD metadata.name in the SAN. Since the operator supports providing a host field, it might make sense to use that if provided, and fallback to the CRD name if absent, for the SAN hosts.

[2020-09-21 13:31] mcanevet commented on #152
Same problem here. Deploying the Operator with this yaml file on OpenShift v4.5.9:
[code]
Generates this CRD:
[code]
While the application expects a map since https://github.com/argoproj-labs/argocd-operator/pull/134.
Why did the operator installed from scratch with v0.0.13 deployed the CRD of v0.0.12?
BTW, why did you do incompatible changes in the CRD definition without increasing its version to

[2020-09-21 13:55] mcanevet commented on #152
The CRD for the OLM catalog still refers to the old version of the CRD : https://github.com/argoproj-labs/argocd-operator/blob/8c2aae890864a975031f4aa7dd5aa4c4c9d17a73/deploy/olm-catalog/argocd-operator/0.0.13/argoproj.io_argocds_crd.yaml#L341-L344
I guess this is why we retrieve the old CRD when using OLM.

[2020-09-21 15:58] jmckind commented on #148
It looks like this bug still exists, but a PR has been opened with the fix.

https://github.com/argoproj/argo-helm/pull/450

I am going to wait on the upgrade to 1.7.x until that has been released.

[2020-09-22 21:52] jdziedzic opened #158 "How to Disable Admin User"
I see that you can edit the ArgoCD Config Map in a manual install to disable the operator, but don't see an option you can include in the "kind: ArgoCD" spec to do so with the OLM managed install.

Manual:
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  **admin.enabled: "fal

[2020-09-22 23:07] jdziedzic opened #159 "Initial TLS Known Hosts"
I see that adding additional known SSH hosts is well documented and populates the necessary CM, however, I don't see any documentation on populating known TLS hosts in the CR. Is this supported by the operator? We have an internal GitHub and are looking to add its CA to the known TLS config map using the operator. I assume as an alternative I could have argo manage the argocd-known-tls-certs-cm bu

[2020-09-22 23:15] jdziedzic commented on #159
Closing as I see the documentation now under TLS, it was a little unclear at first as it says it is for configuring Grafana.

"TLS Options¶

The following properties are available for configuring the Grafana component."

[2020-09-22 23:15] #159 closed

[2020-09-23 10:22] nwalens commented on #155
Hi @jmckind, thanks for reply. Indeed there is a use case where I want to add SOPS to the argocd repo server.

[2020-09-23 12:19] jmckind commented on #158
Hi @jdziedzic, the operator does not support this directly but you should be able to use the approach from the Argo CD docs like you mentioned.

https://argoproj.github.io/argo-cd/operator-manual/user-management/#disable-admin-user

You have a couple of options. You could either add that key/value to the `argocd-cm` ConfigMap after the operator creates it or you could create the `argocd-cm` Config

[2020-09-24 03:58] sbose78 commented on #154
https://github.com/argoproj-labs/argocd-operator/blob/master/deploy/olm-catalog/argocd-operator/0.0.13/argocd-operator.v0.0.13.clusterserviceversion.yaml#L520

[code]

This effectively enables `argocd-application-controller` to read all resources, but without being able to create/update, is this of any use?

I think, this rolebinding gives `argocd-application-controller` the powers it needs to be

[2020-09-24 04:13] sbose78 commented on #107
In order to get one argocd operator manage multiple ArgoCD instances, this is what I did to get things working :

1. Install operator the usual way in namespace `foo-argocd`
2. Update the created clusterserviceversion object to support ["multiple namespace" install ](https://github.com/argoproj-labs/argocd-operator/blob/master/deploy/olm-catalog/argocd-operator/0.0.13/argocd-operator.v0.0.13.clust

[2020-09-24 04:23] sbose78 commented on #125
Hi @camabeh! Thank you for reporting this.

I've been looking into this, however I don't see any cluster-admin-ish privileges being granted, I do see that there's a grant to `argocd-application-controller` to read all cluster-scoped/namespace-scoped resources. Is that what you intended to refer to ?

https://github.com/argoproj-labs/argocd-operator/blob/master/deploy/olm-catalog/argocd-operator/0.

[2020-09-24 13:25] sbose78 opened #160 "Avoid use of Routes in the ArgoCD API"
Generally speaking, wondering if any API field which is applicable only to a specific Kubernetes distribution ( in this case OpenShift ) should be a part of the strongly typed API ?

Given that this is an upstream Kubernetes operator and the `Route` API  is a vendor-specific Ingress implementation, should we consider moving it out of the strongly typed API ?

One of the ways to handle this without

[2020-09-24 17:16] camabeh commented on #125
Hello @sbose78 , not exactly. Argocd operator is okay, I am talking directly about argocd. If you install argocd with [install.yaml](https://github.com/argoproj/argo-cd/blob/master/manifests/install.yaml) it creates `argocd-application-controller` cluster role. It has de-facto full system:admin access to your cluster.

Below is the diff between install.yaml and namespaced-install.yaml.

[code]

[2020-09-24 17:36] #125 closed

[2020-09-24 18:06] sbose78 commented on #125
Correct, https://github.com/argoproj/argo-cd/blob/master/manifests/install.yaml is pretty wide.

Thank you!

[2020-09-25 20:47] HumairAK commented on #155
+1
Being able to access the spec allows us to provide credentials securely to repo-server (via mounting secrets etc.) so it may decrypt sops encrypted files.

[2020-09-28 10:58] bigkevmcd opened #162 "Operator doesn't handle deletion of an ArgoCD resource"
If you delete an `ArgoCD` resource, it continues to reconcile the resources while it's being deleted.

[code]

This is UTC

[code]

[code]

It's reconciling for around 6 minutes at that time, the ArgoCD server resources keep being removed and recreated.

[2020-09-29 00:15] sbose78 opened #164 "Opt out of cluster-scoped resources"
* As an Argo Admin, I wish to enable ArgoCD to manage namespace-scoped resources only.
* As an Argo admin, I wish to enable ArgoCD to manage cluster-scoped resources too.

While the above is a configuration in ArgoCD itself, based on the intention of the admin, the underlying roles/rolebindings/clusterbindings should be created based on the principle of minimum privilege.

If the admin doesn't wis

[2020-09-29 01:18] sbose78 commented on #146
This is being tracked here as well https://github.com/argoproj-labs/argocd-operator/issues/76 we are yet to address this.

[2020-09-29 12:02] wouter2397 opened #165 "Unable to setup ArgoCDExport for Azure"
I'm trying to setup ArgoCDExport to make an export to Azure.
I followed your docs to setup ArgoCDExport for Azure.

I created a self-signed certificate and added it to the Azure SPN.

The azure.service.cert is in the following format.
[code]

The export container shows the following logs. Do you have any idea what could cause this issue?
[code]

[2020-09-29 13:04] jdziedzic commented on #122
I have found that deleting the config-map and allowing the operator to re-create it resolves this. However, the server containers don't seem to pickup the change until they are rolled. Perhaps there is a watch missing on the config-map for changes to initialCerts? Or was the intention that this value would only be set at initial cluster creation and not updated after the ArgoCD cluster is up?

[2020-09-29 15:31] sbose78 commented on #125
Note: Namespaced installed is to be used when the objective is to not deploys apps in the same cluster as argocd, it is for remote cluster usage
"Use this manifest set if you do not need Argo CD to deploy applications in the same cluster that Argo CD runs in, and will rely solely on inputted cluster credentials"

[2020-09-29 23:33] jdziedzic opened #166 "Support for cert-utils-operator"
https://github.com/argoproj-labs/argocd-operator/blob/2f087b7f879c0b5469faeaa26b7c771b834f5d55/pkg/controller/argocd/secret.go#L85

We are attempting to setup a route a with re-encrypt so that we can use certificates generated by cert-manager with our custom enterprise CA. When adding the annotation **cert-utils-operator.redhat-cop.io/destinationCA-from-secret: "argocd-devops-ca"** cert-utlis is e

[2020-09-30 08:12] bigkevmcd commented on #166
My take is that this is a failure in the cert-utils-operator.

Yes, we could add an additional key, but reading the documentation...I'm not sure why `ca.crt` was chosen over `tls.crt`.

[code]

[2020-09-30 08:50] bigkevmcd commented on #122
/assign

[2020-09-30 10:10] bigkevmcd commented on #137
The documentation was clarified in #140

[2020-09-30 10:10] #137 closed

[2020-09-30 15:46] jmckind commented on #165
Hi @wouter2397 thank you for the report. I will have a look at this.

[2020-09-30 17:11] jdziedzic commented on #147
Is there any update on this at all? As an alternative to using re-encrypt on our route, it would simplify things if we could just use passthrough on the route and have ArgoCD use our cert that we are generating with Cert-Manager instead of the self-signed cert that the operator is generating.

[2020-09-30 17:20] jdziedzic commented on #147
I am specifying the cert that we are generating in the CR like this:

`tls:
    ca:
      secretName: argocd-devops-cert`

But even after deleting the CR and allowing the entire instance to rebuild all resources, I still see that it is using the self signed cert.
![Screen Shot 2020-09-30 at 1 18 36 PM](https://user-images.githubusercontent.com/20927898/94718344-a5796d00-031f-11eb-823f-381dbe9a80c3

[2020-09-30 17:22] bigkevmcd commented on #147
I'll take a look into this.

[2020-10-01 08:32] tegioz opened #170 "Consider listing operator in Artifact Hub"
Hi! 👋🏻

Have you considered listing the **argocd** operator directly in [Artifact Hub](https://artifacthub.io)?

At the moment it is already [listed there](https://artifacthub.io/packages/olm/community-operators/argocd-operator), because the Artifact Hub team has added the [community-operators](https://github.com/operator-framework/community-operators/tree/master/upstream-community-operators) repo

[2020-10-01 09:57] #162 closed

[2020-10-01 14:47] wouter2397 commented on #165
Hello @jmckind,

We found the issue regarding this problem.
Within the azure.service.cert you need to specify both the private key and the certificate.
After you do this the export works as expected.

I would suggest to add this to the documentation so its clear for others

[2020-10-01 15:58] stephennimmo opened #171 "Ability to customize the route url for the UI"
One of the things I dislike is the route ends up being janky. it comes out as "https://argocd-server-argocd.apps.ocp.domain.com" when I want it to be something simpler like "https://argocd.apps.ocp.domain.com" so I end up having to add in an adjuster.

DOMAIN=oc get ingress.config -o jsonpath='{.items[0].spec.domain}'
oc patch route/argocd-server -n argocd -p "{\"spec\":{\"host\":\"argocd."$DOMAIN

[2020-10-01 17:27] HumairAK opened #172 "Ability to provide a custom spec for repo-server"
As per  #155, making this into a new issue as the other one is labelled as a "question".

I think it would be very useful to have the ability to provide a custom spec for repo-server (and possibly the other components) as described in the argocd docs [here](https://argoproj.github.io/argo-cd/operator-manual/custom_tools/#adding-tools-via-volume-mounts). There are certain use cases where having a c

[2020-10-02 10:50] bigkevmcd commented on #147
I've setting up to do some manual testing for this, but this is where my implementation's at:

[code]

It looks up the secret named `my-dev-ca`, and if there's a `ca.crt` key in the Data, then it uses it with the `spec.server.host` to generate the key into the `argocd-tls-certs-cm` configmap.

If this sounds ok, I might change that `secretName` to be a _LocalObject_ called `secret` so you'd do:

[

[2020-10-02 13:01] jdziedzic commented on #147
Maybe I'm misunderstanding the thought behind the original purpose of that value. Currently the operator is generating a self-signed certificate and storing it in a secret named <name>-tls. In our case, our chosen name is argocd-devops, so our secret that it is generating by default looks like this:

[code]

We use [CertManager](https://cert-manager.io/docs/) in our cluster to interface with our V

[2020-10-02 13:14] bigkevmcd commented on #147
@jdziedzic the `tls.ca.secretName` is not actually doing anything (it doesn't get used in reconciliation)

My interpretation is that it's within the `ca` key, which implies that it's defining a CA Certificate?

It feels like there are perhaps two different issues? one for the CA issue, and another for your use case?

[2020-10-02 13:40] jdziedzic commented on #147
@bigkevmcd I am re-reading the initial post again and I guess I misunderstood what they were trying to achieve. I can open a new issue.

[2020-10-02 13:43] jdziedzic opened #174 "Support for using customer certificates instead of self-signed"
Currently the operator is generating a self-signed certificate and storing it in a secret named _name_-tls. In our case, our chosen name is argocd-devops, so our secret that it is generating by default looks like this:

[code]

We use [CertManager](https://cert-manager.io/docs/) in our cluster to interface with our Venafi server to issue certificates with our enterprise CA. We are generating a cer

[2020-10-02 14:38] bigkevmcd commented on #147
@jdziedzic Upon rereading it, I come to a different view, and I think it's the the same thing, I suspect that it's confused by the use of the previously unused field `ca`.

Most of the work I've done here is reusable, I'll come up with something that works, probably outside of that key, along the lines you're describing there.

[2020-10-05 16:56] amitkrout opened #175 "Installation of argocd operator stuck on status "UpgradePending" in a fresh openshift cluster"
Steps to reproduce

Step 1:
Spinup a fresh 4.6 openshift cluster

Step 2:
Login to the cluster as kubeadmin

Step 3:
Apply the sealed-secrets-operator subscription through oc command
[code]
Step 4:
Check the operator status from the openshift console

<img width="1136" alt="Screen Shot 2020-10-04 at 9 09 25 AM" src="https://user-images.githubusercontent.com/19851115/95109122-c693f080-0759-11eb-9a8

[2020-10-06 05:29] amitkrout commented on #175
The steps i have mentioned above works fine after one round of creation and deletion of sealed secrets operator through web console.

[2020-10-07 09:00] robpblake opened #177 "Add Support for Managing Resource Inclusions"
Currently, Resource Exclusions [can be managed via the Operator](https://argocd-operator.readthedocs.io/en/latest/reference/argocd/#resource-exclusions). However, it is not possible to do the same for [Resource Inclusions](https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/#resource-exclusioninclusion).

In the scenario where I only want ArgoCD to manage a small subset of Resourc

[2020-10-07 15:54] #177 closed

[2020-10-08 09:30] bigkevmcd commented on #120
/assign

[2020-10-08 09:54] ampc commented on #148
Hi, I've noticed a pull request closes this issue. After that, will the release be ready? Currently I'm using the previous version and we get some syncing issues which might be fixed by the new version.  Thank you.

[2020-10-09 14:25] dsanchor commented on #152
I just faced the same issue... Is there any work in progress or possibility to have it in next release?

[2020-10-09 14:26] jmckind commented on #152
Hi @dsanchor, yes working on the next release (v0.0.14) right now that will include the fix for this issue.

[2020-10-09 14:38] #144 closed

[2020-10-09 14:43] #166 closed

[2020-10-12 13:32] #148 closed

[2020-10-12 22:20] #122 closed

[2020-10-13 11:52] jonaslar opened #180 "Set logformat json on argocd components"
Hi,

We have installed ArgoCD on OpenShift using the argocd operator and are shipping the logs from the ArgoCD-components to a external log management system, and would like the logs to be structured in json format.

I found that ArgoCD 1.6+ added the option --logformat, and I have indeed tested it successfully by setting the option manually in the Deployment spec for argocd-server:

     name: ar

[2020-10-13 13:02] jmckind commented on #171
Hi @stephennimmo, thank you for the suggestion. This is something that we can look at when we start work on the Route handling as part of #160.

[2020-10-13 13:09] tegioz commented on #170
Awesome, thanks! 👍

[2020-10-13 14:24] #152 closed

[2020-10-13 16:38] jomkz opened #182 "Remove Need for Util Image"
Currently the operator makes use of a [custom image](https://quay.io/repository/jmckind/argocd-operator-util) that is based on the upstream argo-cd container image for the utilities needed to perform an export. The operator should be refactored to perform the export steps without the need for this image, as it quite large and makes the operator release process as well as offline installs more diff

[2020-10-14 08:40] amitkrout commented on #175
Even after removing the white spaces from the subscription yaml, i am hitting the same issue on a fresh cluster.

Steps to reproduce:

1. Create a fresh cluster (Use cluster-bot)
2. Fetch pr redhat-developer/kam#54
3. login to the cluster
4. create namespace cicd and argocd
[code]
5. Run the operator script
[code]
Details log - https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test

[2020-10-14 11:54] Numblesix opened #186 "Pods stuck in crashloop after update to 0.0.14"
Hi :)

First thanks for the great Operator :)!

I updated our Dev Cluster today from 0.0.13 to 0.0.14 and since then two pods are crashlooping :(

See below logs :)

argocd-repo-server
[code]
argocd-application-controller
[code]

[2020-10-14 12:58] amitkrout commented on #175
Reference - https://docs.openshift.com/container-platform/4.5/operators/admin/olm-adding-operators-to-cluster.html#olm-installing-operator-from-operatorhub-using-cli_olm-adding-operators-to-a-cluster

[2020-10-14 12:58] #175 closed

[2020-10-14 13:47] jmckind commented on #186
Hey @Numblesix thanks for the kind words and I am sorry that you are having an issue. I thought we had that handled, let me do a little digging to see if I can get a solution for you.

[2020-10-14 14:01] Numblesix commented on #186
No Problem.

Ill try to make a rollback to v0.0.13 and put some words in the Docs about how to do that :)

[2020-10-14 14:01] Numblesix commented on #186
Or should i leave it as is ? Currently it doesnt hurt me to much then i could help with logs etc

[2020-10-14 14:23] jmckind commented on #186
It's up to you. I am somewhat familiar with this issue and new clusters are not impacted, so this appears to be related to upgrading from 0.0.13 to 0.0.14

[2020-10-14 14:26] Numblesix commented on #186
ill leave it then as is for you to request logs etc :)

Depending on if it might start hurt ill do a downgrade then and would write some small doc on how to do so :)

[2020-10-14 15:03] wouter2397 commented on #186
We have the same issue as @Numblesix.
We have a broken ArgoCD now....

How can we rollback to 0.0.13?

[2020-10-14 15:17] Numblesix commented on #186
Hi @wouter2397

Didn't had time to dig into this but in theory you should be able to create a backup of all your crds created (for application projects etc) and just redeploy the Argo crd. As far as I understood this issue only happens at an update :)

[2020-10-14 15:42] wouter2397 commented on #186
@jmckind Can you update us within this issue when the problem should be solved and we can remove the spec.version within the ArgoCD custom resource?

[2020-10-14 15:48] jmckind commented on #186
Thanks for the comment @BostjanBozic, yes that would work.

There are two issues here, the first GPG issue can be worked around by deleting the Deployment for the repo-server. The operator will recreate it and that issue will be resolved. This is due to a new Volume being needed for the GPG functionality and the old Deployment obviously didn't have this.

The second issue is related to how the ope

[2020-10-14 15:49] jmckind commented on #186
@wouter2397 I am sorry that we let this get through and will provide an update when we have a proper fix in the operator.

[2020-10-14 18:13] jgradyntst commented on #186
Thanks for the workaround to get my lab back up and running again.  Great operator appreciate all your efforts!

[2020-10-15 08:02] Numblesix commented on #186
@jmckind Can confirm both workarounds from [above](https://github.com/argoproj-labs/argocd-operator/issues/186#issuecomment-708491787) work :) !

[2020-10-15 08:44] geoL86 commented on #186
It works for me as well

[2020-10-15 13:54] robertodocampo commented on #186
Works!!!

[2020-10-15 14:31] wouter2397 commented on #120
+1 for this feature

[2020-10-19 17:01] alekonko commented on #186
it works also for us, thank you so much. (same problem on many ArgoCD instance on OCP 4.5.x)

bye
Alessandro

[2020-10-19 22:21] alekonko opened #188 "Support to change Grafana datasource to custom prometheus"
Hi,
 We use openshift, and we will adopt  "User Workload Manager" instead to install different Prometheus Instances into a cluster [ref here](https://docs.openshift.com/container-platform/4.5/monitoring/monitoring-your-own-services.html#enabling-monitoring-of-your-own-services_monitoring-your-own-services), the feature will be in GA in next ocp 4.6 release.

Is there any way to configure Grafana i

[2020-10-19 22:38] vassilvk commented on #155
@HumairAK , @nwalens,

Until this is implemented, one can use a [KubeMod](https://github.com/kubemod/kubemod) ModRule to customize any of the resource specs produced by the operator.

[2020-10-19 22:39] vassilvk commented on #172
As per my comment on #155, until the operator is extended to expose the spec of the repo-server, one can customize any spec generated by the operator with a [KubeMod](https://github.com/kubemod/kubemod) ModRule.

[2020-10-20 16:14] jmckind commented on #188
Hi @alekonko, thank you for the suggestion. Still doing a bit of research on it but I feel that it is something that the operator can support.

[2020-10-20 20:44] alekonko opened #191 "missing gpg configmap after update argocdoperator 0.0.13 to 0.0.14"
Hi.
  i found same bug reported [here](https://github.com/argoproj/argo-helm/issues/457) after update operator from 0.0.13 to 0.0.14 (argocd version from 1.6.2 to 1.7.7).

I Resolved issue apply a suggested workaround, create missing cm in argocd namespace

[code]
bye
Alessandro

[2020-10-21 18:51] arctiqhart opened #192 "Username of logged in user"
Add user mapping of logging in user (via OAuth) to `USER INFO` section - it is currently blank. There is currently no way to see which user is logged in, just group memberships.

Not sure if this is possible considering the supported RBAC options, but would be helpful.

![image](https://user-images.githubusercontent.com/33630630/96768889-5d90b780-13ac-11eb-8036-43b5b579121c.png)

[2020-10-23 04:46] jonaslar commented on #186
Deleteing resource.customizations from config map argocd-cm and deleting the deployment for the repo server worked for us as well. We upgraded from 0.0.12 to 0.0.14.

Thx :-)

[2020-10-26 19:07] jdziedzic commented on #147
Hi @bigkevmcd,

I upgraded the operator to .14 and I do see the ca.crt in the secret now, which is great. However, when I switch the route to re-encrypt with the annotations for the cert-utils operator to modify the route, the operator is constantly overriding the changes to the route that cert-utils is making. Any idea why this is happening?

**Spec:**
[code]

**Error in operator logs:**
{"level"

[2020-10-27 09:32] bigkevmcd commented on #147
@jdziedzic I'll take a look and see

Let me see if I understand what you're doing, you've got a TLS secret `argocd-devops-cert` and a CA in `argocd-devops-ca` you're configuring these in the operator, and it's writing them out correctly to the argocd secrets,  _but_ the route is being rewritten by the operator, and it's causing issues with cert-utils?

[2020-10-27 10:20] bigkevmcd commented on #147
@jdziedzic How are you applying those annotations? manually?

The operator applies annotations from the server route configuration, something like this should work:

[code]

[2020-10-27 13:30] jdziedzic commented on #147
@bigkevmcd, yes, I am including the annotations in the ArgoCD spec, I just only included the relevant part of the yaml. When I go to the route in the OpenShift Console, I can see the page constantly flashing between the certificate boxes being populated and then blank. That message above is from the ArgoCD operator logs and appears each time it resets the certificates back to null (which is about

[2020-10-27 13:54] bigkevmcd commented on #147
@jdziedzic thanks for the update, I'll do some digging and see what we can do

[2020-10-27 13:59] jdziedzic commented on #147
Thanks @bigkevmcd!

I am not sure if this alternative would be any easier to implement, but it would almost be more ideal to just be able to tell the operator to use the certificate we are generating with cert-manager instead of having to do re-encrypt. This way the server side would just present the custom cert and I could use passthrough on the route avoiding the need for the annotations and rou

[2020-10-28 13:43] jmckind commented on #192
Hi @arctiqhart, thank you for the suggestion and trying out the operator. I will have a look to see if this is something that we can add from the operator side, but it may be that Argo CD itself would need a change for this.

@bigkevmcd Any ideas?

[2020-10-29 09:22] bigkevmcd commented on #120
@saprette I'm realising that you want a custom _image pull_ secret, not a custom Git pull secret.

I'm not quite sure how you'd like this to work, but I can see that if you provide the name of a Secret of type `kubernetes.io/.dockerconfigjson`, the operator ensures that the serviceaccount that's created has access to that secret?

[2020-11-02 11:00] bigkevmcd commented on #157
I think this was fixed by the v0.0.14 release?

[2020-11-11 13:11] east4ming opened #200 "openshift system:serviceaccount:argocd:argocd-application-controller create svc error"
In openshift, system:serviceaccount:argocd:argocd-application-controller can't create svc or deployment because the serviceaccount doesn't have corresponding permissions.
So, I have to run this command "oc adm policy add-cluster-role-to-user cluster-admin system:serviceaccount:argocd:argocd-application-controller" manually

[2020-11-11 13:14] east4ming opened #201 "Requirement: Add proxy function to support air-gap environment."
Support these ENVS:

- http_proxy
- https_proxy
- no_proxy

to connect Internet pages(such: github) via proxy.

[2020-11-16 11:22] bigkevmcd commented on #201
This should be fixed when https://github.com/argoproj-labs/argocd-operator/pull/194 is released.

[2020-11-16 13:55] Numblesix opened #202 "Unable to pull from internal repo"
Hello :)

at my work we have a gitserver which is only reachable internally thereby signed by our inhouse CA while im able to add the Server Cert under the Settings/Repositories im not able to create an application with this repo.
I get the following error

```Unable to create application: application spec is invalid: InvalidSpecError: Unable to get app details: rpc error: code = Internal desc = F

[2020-11-17 09:01] Numblesix commented on #202
Link to upstream bug: https://github.com/argoproj/argo-cd/issues/4840

[2020-11-18 09:06] Numblesix commented on #202
issue has been found in the upstream issue :)

[2020-11-18 09:06] #202 closed

[2020-11-18 15:49] BostjanBozic opened #203 "Add resource compare option to CRD"
Hello,

ArgoCD supports capability to ignore aggregated `ClusterRoles` by adding following to Argo's ConfigMap:
[code]

It would be great if this could be configured using ArgoCD CRD.

Best regards,
Bostjan

[2020-11-20 15:23] jaideepr97 commented on #192
Hey @jmckind
upstream argo-cd does display the user's name in user-info

![user-ino-argo](https://user-images.githubusercontent.com/21956986/99816905-3bf52e00-2b1a-11eb-9637-847e0f6c159f.png)

I think there should be a way to fix this in the operator

[2020-11-23 14:39] geoL86 commented on #188
@alekonko Did you try to combine any other custom grafana with "User workload monitoring"?

[2020-11-23 19:58] werne2j opened #204 "Custom tool InitContainer"
Sorry if this has been addressed before, but is there a way to specify an initContainer for a custom tool like https://argoproj.github.io/argo-cd/operator-manual/custom_tools/#adding-tools-via-volume-mounts

I see there is a `configManagementPlugins` option but nothing to actually download and load in the custom tool

[2020-11-23 23:26] nnachefski commented on #76
+1.  We need a way to tell the operator to set proxy server params in each relevant pod.  In the meantime, do this....

[code]

[2020-11-24 14:13] wouter2397 opened #205 "ArgoCD Export running before import is completed"
# Summary
We configured ArgoCD export to make an export to a Azure storage account every 5 min.
We just redeployed our OpenShift cluster and synced our basic cluster configuration with FluxCD.

In this unique situation we found out the ArgoCD export was ran before the ArgoCD import was completed.
This resulted in a backup that only contained the basic ArgoCD configuration, after which this was app

[2020-11-26 11:59] ctron opened #206 "Installation fails due to rate limits"
The installation fails due to rate limits on Docker Hub:

[code]

It would be great to provide an alternate location of the container images.

[2020-11-26 12:14] bigkevmcd commented on #205
@wouter2397 sorry to hear that, personally, I'd recommend using Git for storing your ArgoCD configuration, perhaps following this https://argoproj.github.io/argo-cd/operator-manual/cluster-bootstrapping/#app-of-apps-pattern

We'll discuss ways of improving the functionality tho'

[2020-11-26 15:33] bigkevmcd commented on #206
@ctron This is really an issue with the upstream images

[2020-11-26 15:38] ctron commented on #206
I see … I will raise an issue there …

However, I think the operator could be more open to accepting other versions. It looked like it pulled a specific sha. I wasn't able to re-upload the image to another container repository, as that changed the shasum.

[2020-11-26 15:49] bigkevmcd commented on #206
You can override the images in the `ArgoCD` CR, and we're working on being able to configure this through OLM too.

[2020-11-26 16:38] ctron commented on #206
I was trying to do this, but it didn't work. It continued to pull the specific sha256 images

[2020-11-26 16:50] bigkevmcd commented on #206
Can you share an excerpt from the CR?

[2020-11-27 00:04] alekonko commented on #206
two days ago i had got similar problem, tomorrow i'll try to recover some logs or try to another installation. We try to use another image but operator  put a sort of override inside at the deployment

[2020-12-02 13:09] wouter2397 commented on #205
@bigkevmcd Thank you for you reply. We are using Git for storing our ArgoCD configuration, but only affects the initial code.

The issue we have with storing everything in Git is that we want a fully automated process to manage repo's within ArgoCD.
Because the repo's are not know to us at initial configuration we cannot include it in this config.

At a later point in time we want to fully automat

[2020-12-02 21:46] u849296 opened #208 "argocdexport fails on Openshift 4.5"
Describe the bug

When running the argocd export the job fails to run with permission issues to the /backups folder on local storage PV in Openshift 4.5.

Logs from argocdexport pod:
exporting argo-cd
creating argo-cd backup
encrypting argo-cd backup
Can't open /backups/argocd-backup.yaml for writing, Permission denied
139760326087808:error:0200100D:system library:fopen:Permission denied:../crypto

[2020-12-03 13:58] wtam2018 commented on #76
I will take on this.

[2020-12-04 02:25] MichaelWasher opened #210 "Deployed image is of v1 Schema"
Hi Team,

The ArgoCD image on OperatorHub (quay.io/redhat-cop/argocd-operator@sha256:d661aba8a5bc7c8a69cd7d5da8193585118b93f3e7ef14a213e1fa9c2684b47c) is of manifest type v1 schema and not v2.

V1 is legacy and has been deprecated by Docker and this project should really be used v2.
https://docs.docker.com/registry/spec/deprecated-schema-v1/

This is also limiting the ability to perform disconnect

[2020-12-04 02:44] Obirah opened #211 "argocd-dex-server Deployment's init container does not use image variable"
When specifying an image in the `ArgoCD` resource as documented [here](https://argocd-operator.readthedocs.io/en/latest/reference/argocd/#image), the init container `copyutil` of the `argocd-dex-server` deployment does not use the specified image (contrary to all the other deployments).

[2020-12-04 06:05] bigkevmcd commented on #211
Hello, thanks for the report, can you confirm which version of the operator, and how you're configuring the image?

[2020-12-04 08:28] Obirah commented on #211
Sorry, could've said that from the beginning. It's the ArgoCD operator 0.0.14 installed via OLM on OpenShift 4.6 and my configuration is looking like this:

[code]

I have already seen that the `dex` section of the CR has an `image` field for the dex image itself, but this obviously doesn't have anything to do with the init container.

[2020-12-04 08:50] bigkevmcd commented on #211
Hi, I've had a look, and the init-container is not using the Dex image.

The container that is executed is doing the equivalent of:

```$ cp /usr/local/bin/argocd-util /shared``` so, it's using the image from the top-level image declaration

https://argocd-operator.readthedocs.io/en/latest/reference/argocd/#image-example and **not** the dex image.

[2020-12-04 08:52] Obirah commented on #211
Hi, yes I know. What I wanted to say is: in my case every component of ArgoCD (server, application-controller, and so on) is correctly using the image `redacted.company.docker.mirror/argoproj/argocd` I declared in the top-level declaration but the init container of dex is still using `argoproj/argocd` (so using the cluster's default registry) instead `redacted.company.docker.mirror/argoproj/argocd

[2020-12-04 10:03] bigkevmcd commented on #211
Hi @Obirah Sorry, I've had a look, and there was a bug in v0.0.14 which I'm just about to open a PR for, while it is using the ArgoCD `spec.image`, it doesn't update the init-container's image if you change after it was initially created.

You can try deleting the dex Deployment object, and it should be recreated with the correct init-container image from `spec.image`.

[2020-12-04 10:05] Obirah commented on #211
Awesome, deleting the Deployment worked as predicted. I'll leave this issue open though so that other people can find it in the meantime and you can link the PR.

[2020-12-07 14:16] arve0 opened #213 "Unable to create project on OpenShift with RBAC"
Hi 👋 I've followed the [example in the documentation|https://argocd-operator.readthedocs.io/en/latest/reference/argocd/#dex-openshift-oauth-example] for RBAC on OpenShift.

Login is successful. User-info request returns:
[code]

The group _OCP-admins_ has a ClusterRoleBinding to `cluster-admin`:
[code]

Relevant ArgoCD configuration is:
[code]

**Note**: I believe the documentation is wrong, with

[2020-12-07 14:22] arve0 commented on #213
Log in argocd-server:
[code]

[2020-12-07 15:08] arve0 commented on #213
OK, so I got it working by changing the `rbac.policy` to:
[code]

Seems the documentation is incorrect.

[2020-12-07 15:10] arve0 commented on #213
The ArgoCD documentation on RBAC is a bit light on `g, kubernetes-group, argocd-role` too, https://argoproj.github.io/argo-cd/operator-manual/rbac/

[2020-12-08 22:07] tylerauerbeck commented on #204
I think it's probably a good idea to add something to allow for this (since this is a method that the Argo docs provide for doing things like this). But based off of some experience, it's really better to have a custom repo-server image that has your tool built into it (and then specify using your custom repo-server image instead)

[2020-12-09 18:18] sbose78 commented on #210
Ack. This is problematic. @jmckind could you re-build and re-push the specific image ?

[2020-12-09 18:23] sbose78 commented on #213
Hi :) Glad this worked.

Would you have guidance on how you would want the docs to be improved in this area?

[2020-12-09 20:06] #211 closed

[2020-12-10 22:35] mogsie commented on #172
I found a simple way to work around this, albeit a bit hackish.  I created an ArgoCD job that uses strategic merge to patch in the desired secrets.  The ArgoCD operator doesn't mind those extra mountpoints and volumes.  This allowed me to automatically boot up an ArgoCD *with* a GnuPG key for SopsSecretsGenerator, which then (when it rolled out) is able to decrypt the secrets it has.

The applicat

[2020-12-11 18:58] HumairAK commented on #172
@mogsie

Trying to understand your solution, by `ArgoCD job` you mean an ArgoCD application that applies this manifest as a patch?

[2020-12-11 19:00] HumairAK commented on #204
I believe this is very much similar to the request  here #172

[2020-12-11 20:55] mogsie commented on #172
Yes.  I found that by manually adding the mountpoints to the argocd-repo-server, the operator thankfully didn't remove them.  Then I figured that I could get ArgoCD to do it, by making an `Application` that applies this.  If the operator ever decides to recreate the Deployment (e.g. because of a new image perhaps) this Application will apply the pgp keys, making them available to the other applica

[2020-12-14 11:58] tormig-softronic opened #217 "Unable to get route to work in Openshift 4.6"
I have installed the ArgoCD Operator 0.0.14 on OCP 4.6.6 and then an ArgoCD instance. If I choose "Insecure = False" and "Route = True" it creates a passthrough route which enables access to ArgoCD but you need to accept the insecure warning.
If you select "Insecure = True" instead (and "Route = True")  it creates an edge route but you cannot access ArgoCD and will get a ERR_TOO_MANY_REDIRECTS.
I

[2020-12-15 08:48] wouter2397 commented on #205
@bigkevmcd To come back on this issue. I really like the idea on using apps of apps for storing all configuration within Git. The only thing I don't know how to store in Git is the repo information. If we can manage this from Git also then the app of apps mechanism would indeed be an option to implement.

Do you have any idea/experence on how to manage the repo code from Git?

[2020-12-15 09:12] bigkevmcd commented on #205
@wouter2397 I'm not quite sure what you're asking, the "app of apps" (AoA)...which is being replaced by a formalisation of this in https://github.com/argoproj-labs/applicationset, is a way to bootstrap multiple `Application` objects.

So, each of the sub-applications would need to record which git repository that it was deploying from, adding new applications to the AoA repository results in the n

[2020-12-16 09:28] wouter2397 commented on #205
@bigkevmcd Thank you for making time to help us. I will try to explain our situation better.

We use ArgoCD as our application delivery platform. All teams connected to our OpenShift clusters also get an AppProject we provision for them. Al this AppProjects are stored and provisioned using GitOps. We can store almost all ArgoCD config within Git except the git repository config. As far as I know t

[2020-12-16 11:42] bigkevmcd commented on #205
Hi @wouter2397 ok, I think I understand your requirements a bit better.

If I'm reading it correctly, you need to be able to do the equivalent of this:

[code]

These are actually stored in a config-map by ArgoCD https://argoproj.github.io/argo-cd/operator-manual/argocd-cm.yaml

Ideally, these would be separate objects, and you'd simply create a new `Repository` object and it would solve the probl

[2020-12-16 12:17] wouter2397 commented on #205
@bigkevmcd You are exactly on the point!

I agree that the best solution would be to manage those repositories individually.

If you cannot find a workable solution from within the operator, wouldn't the next step be to make a feature request to ArgoCD itself?

[2020-12-16 15:07] bigkevmcd commented on #205
@wouter2397 This is something I'm interested in pursuing, I think there are two issues tho', delegation of repository configuration, and a slightly more fundamental one, the backup/restore mechanism isn't safe to use.

I'm also trying to think about how we can lock the backup, while the restore is happening.

[2020-12-16 15:12] bigkevmcd commented on #205
@wouter2397 I'm not sure if you're aware of https://argocd-operator.readthedocs.io/en/latest/reference/argocd/#initial-repositories I appreciate that it doesn't allow delegated Repository access, so it may not fit your needs.

[2020-12-16 15:59] wouter2397 commented on #205
@bigkevmcd I'm aware of the initial repo setup. But indeed this does not solve our issue.

I agree with you that there are 2 issues:
1) delegation of repository configuration
I discussed this again with a co-worker of mine and if we fix the delegation of repo config we still have not all configuration in Git as the ArgoCD Application config is also not within our control. Due to this fact improvin

[2020-12-16 17:02] tormig-softronic commented on #217
It seems you need to pick the options you want when you create ArgoCD, you cannot change, at least some of them, once created. So when I choose "Insecure = False" and "Route = True" at the time it is installed it works. If I choose just "Route = True" and realize later that I need "Insecure = False" it will not work, this "--insecure" flag will not be added to the argocd-server command (but the ro

[2020-12-16 19:10] bigkevmcd commented on #217
Hello @tormig-softronic apologies, this does indeed look like a bug, I've just opened PR #220 to address this bug and hopefully we'll get a release out shortly.

Thanks for your patience.

[2020-12-17 14:03] arve0 commented on #213
I guess one should reach out to argocd and verify the meaning of `g, <maybe-group-name>, <maybe-argocd-role>`?

Has the current variant worked in other versions of openshift? We are running openshift 4.6.4.

[2020-12-18 08:58] Kampe commented on #141
Being able to use a separate secret for dex client secrets or even external TLS would be great addition, or argocd root password from secret even

[2020-12-23 16:38] arjunprasad2143 commented on #208
I was trying with the same config and the have got the same error.
Any chance of looking into this?

[2021-01-01 12:11] snorwin opened #222 "Segregation of multiple ArgoCD instances in a shared cluster"
Dear ArgoCD fellows,
I really love the recent changes done in this project. So far we use an additional self-made operator in order to mange the service accounts and role bindings of all ArgoCD instances.

However, I don't like that for the "read all" role a cluster role binding is used, as I have many security concerns when running a third-party operator with the permission to create cluster role

[2021-01-04 18:55] wtam2018 commented on #146
proxy environment variables have been added to argocd pod by https://github.com/argoproj-labs/argocd-operator/pull/194

[2021-01-04 21:01] lcc3108 opened #223 "ConfigMap url"
Hi, I use argocd-operator with kubernetes and istio and custom Dex as shown below yaml
[code]
However, redirection url expected ARGO_FQDN, but ServiceName came out when I log-in to Custom Dex.

I find return server.host only if Ingress is set or Route is set

I am using Istio and do not want to be complicated by creating objects such as Ingress

I think function (getArgoServerURI OR getDexOAuthRed

[2021-01-06 14:57] bigkevmcd commented on #223
Hello @lcc3108 if I'm understanding this issue correctly, you're configuring the `spec.server.host` and would like that to be the login URL provided to Dex, but because there's no ingress or route, it's not working?

[2021-01-07 10:56] lcc3108 commented on #223
Yes. When I'm using Istio and I'm not using Ingress and Route, can't login dex.

When
server.host set ARGOCD_FQDN,
route and ingress not set

argo-cm
[code]

![image](https://user-images.githubusercontent.com/38449269/103884533-14860f00-5122-11eb-9ded-54fc1970cc3f.png)

[2021-01-07 13:58] madchr1st commented on #147
Hi @bigkevmcd @jdziedzic
I got this working by using a certificate generated by cert-manager (storing the certificate in the already existing secret `argocd-tls`) and setting the `spec.route.termination` to `passthrough` in the ArgoCD definition.
Unfortunately, the documentation of the operator is missing those use cases IMHO.

[2021-01-08 10:22] #146 closed

[2021-01-13 13:08] wouter2397 commented on #205
@bigkevmcd Do you have any updates on this topic? It's been some time now.
Would be nice if we can find a solution to improve this.

[2021-01-13 13:34] bigkevmcd commented on #205
Hi @wouter2397 We've had discussions internally on the backup/restore functionality, and what to do about it, but we don't _yet_ have a plan to fix the functionality.

I've looked into the feasibility of preventing backups while the import is running, and it's not particularly easy.

We've also looked at things like timestamping the backup files (which is actually a nice option), but this adds com

[2021-01-13 14:34] wouter2397 commented on #205
@bigkevmcd Good to hear that you are (still) actively working on this. I understand that the issue is not something you can solve with a minor change to the code.

I will wait for you to come back on this with additional information.
If you need/want help from my side, please let me know.
I will do my best to help in the best way possible.

[2021-01-15 17:08] jmckind commented on #208
Thank you for raising this issue @u849296. I will look into this.

[2021-01-18 12:34] snorwin commented on #222
Update: I created another version of the operator extension using labels instead of a customer resource in order to define the subset of namespaces which are managed by an Argo CD instance running in namespaced mode.

Check it out: https://github.com/snorwin/argocd-operator-extension

Furthermore, I added a detailed description of the use case to the repo: https://github.com/snorwin/argocd-operato

[2021-01-20 11:45] tsterk opened #228 "Unable to change admin password"
Hi,

I used the ArgoCD 0.0.14 OpenShift operator to deploy an ArgoCD cluster, however we seem to be unable to change the admin password using the instructions documented here: https://argoproj.github.io/argo-cd/faq/#i-forgot-the-admin-password-how-do-i-reset-it

Our cluster looks like this:
[code]

The logs are showing these errors:
[code]

We would like to use the OpenShift OAuth, however we also

[2021-01-20 12:48] bigkevmcd commented on #228
The operator sets up the password using a different mechanism.

You'll want to modify the secret https://argocd-operator.readthedocs.io/en/latest/usage/basics/#secrets which is based on your argocd resource name, for example "example-argocd-cluster"  in the "argocd" cluster.

This needs to be a bcrypt hashed string and can be generated in the same way as the argocd documentation recommends.

[2021-01-20 12:53] tsterk commented on #228
Ok, I feel like an idiot now. Thanks for your help. Case closed.

[2021-01-20 13:45] bigkevmcd commented on #228
@tsterk I think we can maybe improve the documentation around this, I'd definitely say it's non-trivial to find (I only knew because I have read the code).

[2021-01-20 13:45] bigkevmcd commented on #228
I'm reopening this, because I think we can do a better job of documenting this problem.

[2021-01-20 15:03] buehlmann commented on #223
We have exactly the same issue. We're using ArgoCD on OpenShift. The Routes are managed externally in Git and the certificates are injected by acme-operator (https://github.com/tnozicka/openshift-acme) dynamically (which even will not work in combination with ArgoCD operator).

Imo there should be the possibility to explicitly set the redirect-url in case when ingresses nor routes are managed by A

[2021-01-21 15:43] dewan-ahmed opened #230 "Update operator to use ArgoCD version 1.8.x"
With many recent changes in version 1.8.x, the ArgoCD operator might need to be updated to use ArgoCD version 1.8.x.

[2021-01-21 20:18] shubhamagarwal19 opened #231 "Add a Makefile to the project."
Its a pretty common practice to have a Makefile for a project as it enables the developer to execute certain operations (trivial but important) very easily like building a docker image or running unit/integration tests etc ..
So it would be great to have one for this project as well !

[2021-01-22 16:53] iam-veeramalla commented on #230
@bigkevmcd
Should we change this to point to the latest when the user doesn't worry to specify `cr.Spec.Image` and `cr.Spec.Version`.

https://github.com/argoproj-labs/argocd-operator/blob/53da9a9e5d3554eae98dc652f9b8270834ed5a42/pkg/common/defaults.go#L46

[2021-01-22 17:22] #228 closed

[2021-01-22 17:35] jmckind commented on #231
Hi @shubhamagarwal19 , thank you for the suggestion.

For a bit of background, this operator was created prior to operator-sdk v0.18.0 and represents the project structure in use at that time, which did not include a Makefile. While I prefer using make for the tasks that you describe, the decision was made at the time to use regular shell scripts that live in the `hack` directory, as it was more c

[2021-01-26 10:29] bigkevmcd commented on #230
The [Deployment that's created for the controller](https://github.com/argoproj-labs/argocd-operator/blob/9e257ece79533368c168f7a4b6648e9567171028/pkg/controller/argocd/deployment.go#L295) should be converted to a StatefulSet https://argoproj.github.io/argo-cd/operator-manual/upgrading/1.7-1.8/

The old Deployment should be deleted, and we need to test the upgrade.

[2021-01-27 17:11] gnieser opened #235 "Changing route termination to reencrypt fails"
Hello,

First of all, thank you for providing such a nice tool and operator.

I run ArgoCD operator 0.0.14 on top of OpenShift 4.6. And I have recently installed a custom default ingress certificate for the routers [1].
Until then I was running with the usual "self-signed" browser warnings with the simple configuration:
[code]

I wanted the ArgoCD route to benefit from this default certificate and

[2021-01-28 11:18] aelbarkani commented on #154
There seems to have some improvements in the operator, but the permissions are still too wide :
https://github.com/argoproj-labs/argocd-operator/blob/master/deploy/olm-catalog/argocd-operator/0.0.15/argocd-operator.v0.0.15.clusterserviceversion.yaml#L574
Is it really necessary to have all the permissions on all the clusterroles and clusterrolebindings of the cluster ?

[2021-01-28 11:26] aelbarkani commented on #154
Yes I agree: clusterPermissions should be removed. In my opinion ArgoCD independently from the cluster. If someone needs to add a cluster managed by ArgoCD then he can add it. Otherwise it is almost impossible to deploy ArgoCD in a multi-tenant cluster (the admins of the namespace may have access to argocd's service account, and perform a privilege escalation to get cluster-admin permissions).

[2021-02-02 14:37] Capr1sna opened #239 "Operator deployment failed on a disconnected OKD 4.6 using image mirror"
Hello,

I am trying to install the ArgoCD operator using the OLM catalog subscription on our disconnected (air-gapped) OKD 4.6 cluster.
Before the installation of the operator, I mirror all catalog-indexes using the `oc adm catalog mirror` and `oc image mirror` according to this guide:
[](https://docs.okd.io/latest/operators/admin/olm-restricted-networks.html)

### 1st problem:
The first problem I

[2021-02-02 19:08] lcc3108 commented on #223
SOLVED PR #236  THANKS

[2021-02-02 19:08] #223 closed

[2021-02-03 06:47] iam-veeramalla opened #240 "operator sets back the argocd cr modifications to default."
argocd operator overrides any modifications made to argocd cr by the user. I observed this while adding the OIDC related changes to my existing argocd cr. This issue needs an urgent attention as modification of argocd custom resource is a quite common use-case.

WorkAround:
Scale the operator to 0 , make the required changes in the custom resource and Scale the operator back to 1 [This is not a re

[2021-02-03 07:43] iam-veeramalla commented on #240
This is a false alarm, My bad. Closing it

[2021-02-03 07:43] #240 closed

[2021-02-03 16:55] madchr1st commented on #213
@arve0 Thank you so much! :tada:
I nearly lost my mind trying to figure this out.

IMHO the operator documentation needs a lot more extensive examples, currently only the basics are documented.

[2021-02-05 14:41] ctron commented on #235
I just ran into the same issue. This might be because the openshift router doesn't trust the internal CA of argocd. Using the service CA would work.

Also would a termination policy of "edge" work. But it looks like the server doesn't expose itself on port 80, even when setting `.server.insecure=true`.

I guess the three possible options would be:
* Use `edge` termination, having the server on por

[2021-02-08 11:08] ThomVivet commented on #235
Workaround: create first a secret `argocd-tls` (tls type containing the tls.crt & tls.key files) before launching argocd instantiation.

[2021-02-11 16:21] Obirah opened #245 "Operator adds (hard-coded?) sha256 to any ArgoCD image in Deployments"
**Environment:**
- OpenShift 4.6.16
- ArgoCD Operator 0.0.14 (installed via OperatorHub)
- Artifactory for DockerHub pull-through mirroring

I want to add the `helm-sops` plugin to my ArgoCD instance that I'm managing with the ArgoCD operator. In order to do so, I'm building my own derived ArgoCD image.

When trying to use my own image (by specifying it in the ArgoCD CR) instead of the one from Do

[2021-02-12 12:29] Obirah commented on #245
Nevermind: I completely overlooked that I have to explicitly specify the "version" property instead of adding the version tag to the image string.

[2021-02-12 12:29] #245 closed

[2021-02-12 13:38] alekonko commented on #245
@Obirah  As I remember with the operator 0.14 there is this problem, even going to specify the image tag

Hopefully I ask who knows best if he is still so 'or if we have something wrong in cr definition.

[2021-02-12 13:43] Obirah commented on #245
It worked with specifying the version in the ArgoCD's spec. It's just important to delete and fully recreate the ArgoCD because it looks like the operator cannot cover every edge-case of reconciliation. (Similar to this issue, I had a few months ago: https://github.com/argoproj-labs/argocd-operator/issues/211 )

[2021-02-15 13:46] fredcb commented on #208
I can see why it doesn't work. In openshift the export-pod runs with uid 999, but the backup volume is owned by root with permission 770.  Running the pod as root is usually not an option for production clusters.

[2021-02-15 14:32] sbose78 opened #246 "Add the ingress/route URL to `.status`"
Add the ingress/route URL to `.status` in the ArgoCD CR.

The same applies for general Ingress too:
https://github.com/argoproj-labs/argocd-operator/blob/master/pkg/apis/argoproj/v1alpha1/argocd_types.go#L418

This would enable users/tools to extract the URL for launching the ArgoCD UI.

[2021-02-17 13:28] NickCao commented on #107
It seems that SingleNamespace mode is broken too, in my test, service accounts aren't created in the target namespace, causing deployments to hang forever, shall we change that ability to false for now.

[2021-02-22 08:40] bigkevmcd commented on #246
Should this reference the route/ingress or put the actual URL in there?

[2021-02-22 13:38] wouter2397 commented on #205
@bigkevmcd A month has pasted without any update, so I'm curious to hear if you were able to make any progress on this issue.
If not can you give some sort of indication on the timeline we need to think of for an available fix/improvement.

Also if there is anything I can help with please let me know. This issue is still affecting our current recovery procedure, so we have a lot of interest to hel

[2021-02-23 07:28] jgwest opened #251 "Add support for Argo CD ApplicationSet controller installation"
Within the Argo CD project is an [ApplicationSet subproject](https://github.com/argoproj-labs/applicationset/), which adds automation, improved multi-cluster support, and improved cluster multi-tenant support to Argo CD.

The ApplicationSet controller is installed alongside Argo CD (within the same namespace), and creates one or more Argo CD `Application` resources based on the contents of a new `

[2021-02-23 11:37] hhemied opened #253 "default admin password issue"
This issue similar to #62 with another environment
I installed Argocd operator using operatorHub, enabled the openshift authenticator for dex.
I successfully patched the admin.password usin

[code]

after the pod restarted, I am still not able to login with the admin username and password
The error message:

[code]

Operator version: argocd-operator.v0.0.14
Platform: openshift 4
Installation metho

[2021-02-23 11:51] bigkevmcd commented on #253
Hi @hhemied The password is (unfortunately) stored unencrypted/unhashed in the secret, that looks like a hashed password?

This is documented here https://argocd-operator.readthedocs.io/en/latest/usage/basics/#secrets

[2021-02-23 11:55] hhemied commented on #253
Thanks, @bigkevmcd for your kind support.

yes, the password is bcrypted, but I now used the plain text and it worked as expected.

[2021-02-23 11:55] #253 closed

[2021-02-23 12:02] bigkevmcd commented on #205
Hi @wouter2397 sorry, this isn't a high priority for us just now, I do appreciate that it's a really bad bug, but fixing is non-trivial to get it right, and the Red Hat GitOps operator _does not support_ the export/restore mechanism.

I do care about this, because it's not operating as it should, but fixing it is not _currently_ a priority.

[2021-02-24 14:33] jgwest opened #255 "Error on startup with manual install steps: Failed to list v1.Role due to missing RBAC rules"
The argocd-operator seems to be broken when doing a manual install, as per the manual install steps in the docs. On building master I'm seeing this in the pod logs, and operator doesn't respond to CRs:

`
E0224 11:51:12.976581       1 reflector.go:178] pkg/mod/k8s.io/client-go@v0.18.2/tools/cache/reflector.go:125: Failed to list *v1.Role: roles.rbac.authorization.k8s.io is forbidden: User "system:

[2021-02-24 20:02] bortek opened #256 "New version of the operator"
Hi

Is there any new version of the operator scheduled to be released soon?

Latest opertor is v0.0.14 which was released in Oct 2020.

[2021-02-25 03:41] pearj commented on #145
When playing with ingress, I found I had to change `enabled` to `false` and then back to `true`. So you probably need to do the same thing for `route`.

[2021-02-26 07:41] wouter2397 commented on #205
@bigkevmcd Thank you for you clarification.
We are also planning to move to the Red Hat GitOps operator somewhere in the future.

So I think the best way forward for us is to develop our own export/restore mechanism that works with with the ArgoCD Operator and the Red Hat GitOps operator.

I'm not sure if this is something you still want to address in the future, if not feel free to close this iss

[2021-03-03 20:08] sbose78 commented on #256
Hey @bortek , we did some significant refactoring on RBAC management in the past few months and hence wanted to ensure we stabilize it.

We'll do a release in the last week of March.

[2021-03-03 20:09] sbose78 opened #261 "Use updated Application CRD ( apiextensions/v1beta1 to v1 ) #145"
after argoproj/argo-cd#5516 is merged.

[2021-03-04 04:07] #251 closed

[2021-03-04 09:54] jannfis opened #262 "Argo CD service names should be referenced by their FQDN"
The Argo CD service names should be referenced by their FQDN in order to allow cluster-wide `no_proxy` settings to apply to all instances of Argo CD installed by the operator when a global proxy is set up.

So, instead of e.g. `--repo-server argocd-repo-server:8081`, the reference should be made as `--repo-server argocd-repo-server.<namespace>.svc.cluster.local` - this will also consider an alread

[2021-03-05 07:13] bortek commented on #256
thanks for info. Looking forward to it!

[2021-03-08 13:25] #262 closed

[2021-03-09 19:20] #255 closed

[2021-03-10 05:08] DWSR opened #264 "ARM Images"
Any change that ARM images could be published? They can be built via e.g. `buildx` or `podman` cross-build support to avoid requiring access to ARM hardware.

I'd like to use these on my Raspberry Pi cluster, but I'm sure that there are also folks who want to use them on their Graviton-powered EKS clusters.

[2021-03-10 17:26] wtam2018 commented on #239
This [project](https://github.com/argoproj-labs/argocd-operator ) is where the ticket should go.   argocd operator currently does not support air-gapped cluster.   This [repo](https://github.com/redhat-developer/gitops-operator/) but it has some dependency on Pipelines Operator.  It imports code from argocd operator.  The built operator and bundle images can be found [here](https://catalog.redhat.

[2021-03-12 17:28] EagleIJoe commented on #200
Duplicate of #40

See https://argocd-operator.readthedocs.io/en/latest/install/openshift/#rbac

[2021-03-17 23:01] komish opened #268 "Consider using a restricted-cluster-friendly Application example in CSV alm-examples"
The included guestbook `Application` requires binding on port 80 which will fail on an OpenShift cluster which runs the workload as a non-root user out of the box.

I'm wondering if the sample could be changed to point to a restricted-friendly implementation of that so that it's a bit easier to get a demo standing in an OpenShift cluster.

Also filed a bug against the examples repository that's re

[2021-03-22 22:35] tylerauerbeck opened #271 "Allow RepoServer to be configured"
Currently (based off of the docs), it looks like we have the ability to configure all most components through the ArgoCD CR. However I recently noticed that the RepoServer is missing from this list after being asked if it was possible to configure what image the RepoServer used. We should look at allowing this component to be configured in the same manners the others are.

[2021-04-02 00:06] clcchai opened #274 "argocd operator to support argocd version 2.0-rc1"
hi can you please confirm if there is argocd operator to support higher version of argocd
https://github.com/argoproj/argo-cd/releases/tag/v2.0.0-rc2

[2021-04-02 03:33] clcchai commented on #256
would the new operator work with argocd version 2.0-?

[2021-04-02 03:57] sbose78 commented on #256
Yes, Colin.

On Thu, Apr 1, 2021, 23:33 Colin Chai ***@***.***> wrote:

[2021-04-02 04:08] clcchai commented on #256
Thanks @sbose78 Shoubhi, do you have the date when the new operator will be released?

[2021-04-05 08:12] iam-veeramalla commented on #274
Currently it supports 2.0.0-rc1
https://github.com/argoproj-labs/argocd-operator/blob/15b58452ee5b25d6701b106be2d154ff101ee61a/pkg/common/defaults.go#L52

[2021-04-05 08:29] clcchai commented on #274
hi what version is that? is that in master branch? would there be a latest operator released based on that?

[2021-04-05 08:49] iam-veeramalla commented on #274
yes ... master... latest operator is not released yet. I will let you know as soon as we plan for one.

[2021-04-06 21:38] rv-silva opened #276 "In Manual Install not all Service Accounts are created causing failure"
After applying all steps in [Manual Installation](https://argocd-operator.readthedocs.io/en/latest/install/manual/) and tried to create  an [example](https://argocd-operator.readthedocs.io/en/latest/usage/basics/#usage-basics) ArgoCD deployment. Pods in `example-argocd-server`, `example-argocd-application-controller` and `example-argocd-dex-server` will not start:

[code]

- Investigating the caus

[2021-04-07 02:42] clcchai commented on #274
alternatively @iam-veeramalla , are you able to release a patch release or rc to allow deployment of argocd ver 2.0-rc1?

[2021-04-07 10:47] lzecca78 opened #278 "Dex is not working unless a new release will be released"
Hi everyone 👋 !
I am using the current operator release v0.0.14 configuring the authentication with an external dex.
I saw that with this change https://github.com/argoproj-labs/argocd-operator/blob/a5171dbe936341924dcacfba7f1aba6a109ccf7e/pkg/controller/argocd/util.go#L193-L196 everything could potentially work, but this requires a new release in order to can use the code accordingly with the lat

[2021-04-07 12:45] wtam2018 commented on #278
Yea, let's get the next release v0.0.15 out.   Hopefully, we can get it out in a coupe weeks.

[2021-04-11 17:11] landerss1 opened #279 "ArgoCDExport to AWS not working as expected"
There are currently two issues with the export job to AWS:

1. **There is no way to specify your default region**, so the script only supports buckets in AWS default region (USEast). A simple fix for this would be to add a key names `aws.bucket.region` to the kubernetes Secret used by ArgoCDExport, let the backup script use this and add a `--region` argument when creating the S3 bucket. Without a

[2021-04-20 08:15] chetan-rns commented on #276
@rv-silva Thanks for reporting the issue. The service accounts are actually created by the operator controller. Looks like the operator image in `deploy/operator.yaml` is outdated which is deploying an older version of the operator.

[2021-04-22 12:42] jannfis commented on #191
This is fixed by #193, released with v0.0.15

[2021-04-22 12:42] #191 closed

[2021-04-22 12:46] jannfis opened #286 "GPG config map not mounted to repo server pod"
**Describe the bug**

The GnuPG feature in Argo CD requires the `argocd-gpg-keys-cm` ConfigMap to be volume mounted to the repository server's pods. Currently, the repo server deployments created by Argo CD Operator do not create this volume mount. This renders GPG feature of Argo CD unusable.

**To Reproduce**

* Reconcile ArgoCD resource named `default`
* Run `kubectl describe deployment default

[2021-04-22 13:06] jannfis opened #288 "Volume mount for TLS configuration of Argo CD repo server is not reconciled"
**Describe the bug**

Argo CD v2.0 introduced a method to configure the TLS certificate used by the repository server's gRPC endpoint. This method requires mounting a TLS secret to the repo server's pods. Also, this secret needs to be mounted to the `<instance>-server` and `<instance>-application-controller` pods as well, so they'll be able to use the cert for TLS validation.

This is related to h

[2021-04-22 15:35] #286 closed

[2021-04-22 21:44] laloyalo opened #289 "ApplicationSet controller not mounting ArgoCD secrets to access repositories through SSH"
**Describe the bug**
ApplicationSet controller is not mounting the ArgoCD repositories SSH keys to clone the repo for a given Git Generator configuration.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy an ArgoCD instance with the latest ArgoCD operator.
2. Add the ApplicationSet controller by adding the required configuration: `spec. applicationSet: {}`.
3. Deploy an ApplicationSet p

[2021-04-23 06:21] iam-veeramalla commented on #289
@jgwest I would like to start with this. This should be a good start to gain some understanding on Application Sets as well.

[2021-04-23 11:39] jgwest commented on #289
@iam-veeramalla thanks for volunteering! Fortunately, I've actually got a fix on a local branch already which I worked on last week... opened the PR for it here: https://github.com/argoproj-labs/argocd-operator/pull/291

[2021-04-23 11:40] iam-veeramalla commented on #289
@jgwest was about to raise a PR for the same :p .. Always a next time :)

[2021-04-23 12:03] jgwest commented on #289
@iam-veeramalla Ah, sorry, I had hoped that you hadn't started working on it yet :frowning_face:, you're just too quick :smile:.

[2021-04-23 19:37] #288 closed

[2021-04-26 13:02] hect1995 opened #292 "Log in into Grafana"
**Describe the bug**
I have followed the documentation from https://argocd-operator.readthedocs.io/en/latest/usage/insights/ in order to monitor through Grafana the ArgoCD operator and its instances. When I create a `CR` of type `ArgoCD` I specify `Grafana`, `ingress` and `prometheus` as `enabled`, which creates some services such as `example-argocd-grafana`. Going to that route it asks me for my

[2021-04-27 19:14] Aenima4six2 commented on #256
Hey everyone. Thank you for releasing v0.0.15. Is there anyway we can update OpenShift argocd-operator to v0.0.15?

[2021-04-28 02:57] iam-veeramalla commented on #256
@jomkz

[2021-04-28 07:33] hect1995 commented on #292
Moreover,I have followed https://argocd-operator.readthedocs.io/en/latest/usage/basics/#secrets and use the value of the secrets to access and I still cannot manage it.
I have the following secrets:

[code]
And I have tried to use the example-argocd-cluster and example-argocd-grafana to access Grafana with no luck

[2021-04-28 07:36] iam-veeramalla commented on #292
Hi @hect1995 , Thanks for reaching us out. Let me take a look at this.

[2021-04-28 08:01] hect1995 commented on #292
The Grafana is deployed by the `ArgoCD` object:

[code]

[2021-04-28 10:36] iam-veeramalla commented on #292
Hi @hect1995 , I was able to login to grafana.

ArgoCD Object -> Same as yours (Just added route.enabled) in the grafana section
[code]

Get the grafana route
[code]

Get the grafana password:
--------------------------
Username - Admin
Password is saved as a plain text in `example-argocd-cluster` secret.

-----> oc edit secret example-argocd-cluster -n argocd

Decode the base64 password using the

[2021-04-28 10:44] hect1995 commented on #292
Oooh it worked with the __decode__. How can I set the password directly when creating the Grafana object using `ArgoCD`. If not what is the fastest way to change it?
I tried:
[code]
But it does not work

[2021-04-28 11:04] hect1995 opened #296 "Syncronize an application when creating it"
**Is your feature request related to a problem? Please describe.**
The typical workflow I follow when deploying apps in ArgoCD is first to create the app, and then syncronize it so that ArgoCD starts working. Without using the operator I would do something as:
[code]
In order to implement this behavior making use of the `ArgoCD` CR object I do:
[code]
After executing it the CR `Application` gets g

[2021-04-28 11:15] hect1995 commented on #292
The best option for my problem would be to directly put the password I want for Grafana when declaring the `ArgoCD` object, in order to have it everything embedded into the CR object, but I do not see it in the documentation

[2021-04-28 11:29] iam-veeramalla commented on #292
@hect1995 Storing the password in the CR would not be a good option. Secrets are used to store passwords. You should be able to overwrite the default password in `example-argocd-grafana`

[2021-04-28 11:32] hect1995 commented on #292
But can I just import a secret into the CR definition? So I store the password in a secret and then pass the secret to the CR. I cannot see this functionality, which forces me to manually do
[code]

[2021-04-28 11:42] iam-veeramalla commented on #292
Yes we do not have such functionality. Please raise a enhancement request with us if you think this is important :)

[2021-04-28 12:03] iam-veeramalla commented on #292
@hect1995 I have updated the docs for this issue in the PR
https://github.com/argoproj-labs/argocd-operator/pull/297

Please let us know if this will stop other users from running into this issue ?

[2021-04-28 12:39] wtam2018 opened #298 "Upgrade operator sdk to v1.6.2"
### Is your task related to a problem? Please describe.

Operator sdk being used is v0.19.x which is due for upgrade to v1.  Some key benefits include:
* generate Makefile
* kustomize manage resources
* generate rbac yaml from markers

https://sdk.operatorframework.io/docs/building-operators/golang/migration/#what-is-new

### Describe the solution you'd like

step by step migration guide here.
htt

[2021-04-28 14:57] bo0ts opened #299 "Routes in OKD deployments with their own SSL termination do not work"
**Describe the bug**

Routes in OKD deployments with their own SSL termination do not work and end in `ERR_TOO_MANY_REDIRECTS`. This is caused by argocd redirecting back to https when receiving http traffic. A supposed fix should be `spec.server.insecure: true`, this create the route correctly with `termination: edge`, but fails to add `--insecure` to argocd server.

**To Reproduce**
Create argo c

[2021-04-28 15:47] ionutz89 commented on #264
It can be useful on RPI 4 cluster on `arm64 arch`.

[2021-04-28 16:10] #292 closed

[2021-04-28 17:35] ionutz89 opened #300 "[BUG] Issues install with permissions via Kustomize"
**Describe the bug**

I am getting permissions issue with argocd-operator via kustomize on this file [kustomization.yaml](https://github.com/argoproj-labs/argocd-operator/raw/master/deploy/kustomization.yaml)

Logs:

[code]
**Expected behaviour**
We should not see those errors with permission if you are using kustomize install.

I think it is required to add 2 extra lines in the file above as a fi

[2021-04-28 19:09] sbose78 commented on #256
Sorry, I still don't have a date. A regular release cadence is being worked out.

Curious question to all in this thread:
On which distribution of Kubernetes are you using this operator ?

[2021-04-28 19:40] iam-veeramalla commented on #299
@bo0ts is there a specific reason why you are not using passthrough/redirect ?

Thanks for correctly pointing out issue with Edge termination.

[2021-04-28 19:46] Obirah commented on #256
Openshift 4 for me as well

[2021-04-28 20:03] iam-veeramalla commented on #299
However, this does not work.
[code]

[2021-04-28 20:06] iam-veeramalla commented on #299
This brings a very good point on why OpenAPI scheme validation is very important. Looking at the code, the only supported types is Passthrough.  One can get things working with Edge Termination but they also need to set --insecure flag on argocd-server deployment. This can be achieved by  `.spec.server.insecure: true`

[2021-04-28 20:27] sbose78 commented on #256
Thanks @Obirah , any reason you aren't using the OpenShift GitOps operator ?

[2021-04-29 00:52] Obirah commented on #256
To be precise, Openshift ist not the only Kubernetes distribution we use. We have implemented our own GitOps framework that combines ArgoCD with the AWS CDK which we also use for EKS. Hence, we want to rollout ArgoCD in the same style on all distributions and decided to use the "vanilla" ArgoCD operator in order to keep it clean and simple.

[2021-04-29 00:57] sbose78 commented on #256
Thanks, the background helps a lot. Do you happen to use the Argocd
Operator on EKS ? Or do you use EKS as a target deployment cluster?

On Wed, Apr 28, 2021, 20:52 Thomas Krause ***@***.***> wrote:

[2021-04-29 07:15] bo0ts commented on #299
@iam-veeramalla I've tried .spec.server.insecure but this did not set the `--insecure` parameter for me. I'll try to investigate why that did not happen.

[2021-04-29 07:15] #299 closed

[2021-04-29 08:22] jannfis commented on #186
There have been further improvements with #286, which fully enables GnuPG feature in Argo CD Operator.

I will close this issue, since this has been released with v0.0.15

[2021-04-29 08:22] jannfis commented on #186
Feel free to reopen if the issues have not been resolved. :)

[2021-04-29 08:22] #186 closed

[2021-04-29 08:24] jannfis commented on #158
I think this has been implemented by #184. Closing issue.

[2021-04-29 08:24] #158 closed

[2021-04-29 13:35] sbose78 commented on #271
👍

[2021-04-29 13:36] jannfis opened #302 "Refactor unit tests to make use of github.com/stretchr/testify"
### Is your task related to a problem? Please describe.

Currently, we are using a lot of code in the unit tests for evaluating outcomes in our unit tests, such as `reflect.DeepEqual` in  `if/else` branch constructs to trigger `t.Errorf()` and the likes. This makes writing good unit tests quite a burden.

### Describe the solution you'd like

Argo CD uses `github.com/stretchr/testify` for its unit

[2021-04-29 14:45] Aenima4six2 commented on #256
OpenShift 4 for me too. We have not had the time to migrate to OpenShift GitOps Operator.

[2021-04-29 15:45] jopit opened #304 "Pods with init containers fail to start when installed into a namespace with resource quotas"
**Describe the bug**
The Dex and HAProxy deployments and the Application Controller stateful set (when import is configured in the CR) define init containers, but do not specify the required compute resources.  This will cause the pods to fail to start when installed into a namespace that has resource quotas set.

**To Reproduce**
Install ArgoCD into a namespace that has resource quotas set, using

[2021-04-29 18:58] #289 closed

[2021-04-29 23:42] Obirah commented on #256
We're running the ArgoCD operator on both EKS and Openshift. We don't have any scenarios where a ArgoCD on one cluster deploys to multiple target clusters.

[2021-04-30 06:38] jannfis commented on #261
Argo CD CRDs have been updated from `v1beta1` to `v1` here: https://github.com/argoproj-labs/argocd-operator/pull/272

The operator CRDs will be updated with https://github.com/argoproj-labs/argocd-operator/pull/294

[2021-05-01 10:52] #80 closed

[2021-05-01 15:45] #300 closed

[2021-05-01 15:45] ionutz89 commented on #300
Thank you.

[2021-05-03 13:51] Aenima4six2 opened #306 "DEX support for ArgoCD v2.0+"
**Describe the bug**
ArgoCD updated the DEX helper from `argocd-util` to `argocd-dex`. The operator is currently configuring DEX to use the old binary locations/names when ArgoCD 2.0+ is used. See https://argoproj.github.io/argo-cd/operator-manual/upgrading/1.8-2.0/#dex-tool-migrated-from-argocd-util-to-argocd-dex

**To Reproduce**
Steps to reproduce the behavior:
1. Install the operator
2. Add in

[2021-05-03 19:05] iam-veeramalla commented on #306
Hi @Aenima4six2  This change is already addressed as part of https://github.com/argoproj-labs/argocd-operator/pull/270. This is part of new version 0.0.15.

[2021-05-03 19:14] iam-veeramalla commented on #302
Found a nice and well elaborated comparisons of the most popular options:
https://bmuschko.com/blog/go-testing-frameworks/

[2021-05-03 21:46] Aenima4six2 commented on #306
Hey @iam-veeramalla. Maybe I'm missing something. I'm currently on `0.0.15`.

[2021-05-04 01:09] iam-veeramalla commented on #306
Can I know how did you upgrade to 0.0.15?

[2021-05-04 01:39] #304 closed

[2021-05-04 11:30] iam-veeramalla opened #308 "Delete old versions of olm-catalog ?"
### Is your task related to a problem? Please describe.
Can we delete the old versions of olm-catalog ? we currently have versions from 0.0.2 to 0.0.15

### Describe the solution you'd like
Delete old versions. Probably maintain last 3 if required ?

### Describe alternatives you've considered
NA

### Additional context
NA

[2021-05-04 11:31] iam-veeramalla commented on #308
@wtam2018 will this be removed as part of operator-sdk update ? or is there a specific reason why we are maintaining so many versions ?

[2021-05-04 12:21] Aenima4six2 commented on #306
For the upgrade, I removed version `0.0.14` of the operator along with all ArgoCD instances, added the below CatalogSource and installed `0.0.15`
[code]

Redacted ArgoCD config
[code]

[2021-05-04 21:24] wtam2018 commented on #76
Proxy env vars are propagated to argocd workloads.

[2021-05-04 21:24] #76 closed

[2021-05-05 03:18] wtam2018 commented on #308
@iam-veeramalla  They will be removed as part of operator-sdk upgrade.

[2021-05-05 03:43] iam-veeramalla commented on #308
Thanks @wtam2018

[2021-05-05 03:43] #308 closed

[2021-05-05 06:51] dirien commented on #256
Here is an update regarding the release of the operator :)
https://github.com/argoproj-labs/argocd-operator/discussions/284#discussioncomment-696648

Looking so forward for it! Argo 2.x FTW!

[2021-05-10 13:57] wtam2018 opened #312 "Automatically install and configure Keycloak SSO for ArgoCD instance"
**Is your feature request related to a problem? Please describe.**
As an admin, I want to enable KeyCloak on my Argo CD instance by add the following stanza in the CR.

[code]
Argocd operator should create all configurations necessary to enable SSO for my instance.

As an admin, I want to disable KeyCloak SSO by removing sso provider in my CR.  All keycloak configurations and resources should be r

[2021-05-10 15:21] #261 closed

[2021-05-11 11:17] jgwest commented on #289
As a workaround for folks that hit this issue:
- You can use a https url, rather than an SSH URL, which avoids the issue.
- You can use [personal access token](https://argoproj.github.io/argo-cd/user-guide/private-repositories/#access-token) rather than an SSH key to connect to the repository, which avoids the issue.

[2021-05-11 12:27] #306 closed

[2021-05-12 22:23] laloyalo commented on #289
My current solution was to install the AppSet controller separately with the YAMLs provided by [the original project](https://argocd-applicationset.readthedocs.io/en/stable/Geting-Started/), it has worked nicely so far. Glad you already committed the changes, thanks @jgwest .

[2021-05-14 03:20] #274 closed

[2021-05-20 11:28] jannfis commented on #302
Thanks for that link, @iam-veeramalla, it's a great summary.

And sure, I think it's a great idea to explore possible other options. I'm only a little opinionated on `testify`, since its used in other Argo CD sub-projects already and is quite lightweight and very easy to use. But maybe we can pick up a set of certain existing unit tests and try to model them in various frameworks, to see how it wi

[2021-05-20 11:36] iam-veeramalla commented on #302
@jannfis sure .. That would be great !!

[2021-05-21 14:21] crmarques opened #317 "Annotations on ingress object are not working."
**Describe the bug**
Annotations on ingress object are not working.

**To Reproduce**
Create an argocd instance with ingress annotations:

[code]
Get Ingress definition:

[code]

**Expected behavior**

An Ingress object with the specified annotations:

[code]

** Version **
v0.0.14

[2021-05-24 14:05] jdziedzic opened #319 "Make .15 available in OpenShift OperatorHub"
### Is your task related to a problem? Please describe.
The current version in operator hub is still showing as .14

### Describe the solution you'd like
Make .15 available to upgrade to.

[2021-05-25 09:00] EagleIJoe commented on #319
It showed up on my OCP and upgrade went smoothly.

[2021-05-25 10:52] #319 closed

[2021-05-25 13:45] u849296 opened #322 "Version 0.0.15 update now getting Dex failure"
**Describe the bug**
Operator was auto updated to 0.0.015 and now the DEX server will not start

error:
In DEX container log:
Error: unknown command "rundex" for "argocd-util"
Run 'argocd-util --help' for usage.
unknown command "rundex" for "argocd-util"

**To Reproduce**
upgrade to 0.0.15 in Openshift 4.7, DEX server does not start

**Expected behavior**
Dex server should start

**Additional cont

[2021-05-25 14:34] patjones commented on #322
Were are currently seeing this as well.

[2021-05-25 14:46] samuanv opened #323 "Auto-upgrade to 0.0.15 on OpenShift 4.5 causing unexpected behaviour"
**Describe the bug**
An auto-update occurred on 25th May to version 0.0.15. After it, multiple things are happening:

1. Sync started to fail with `deployments.apps "myapp" is forbidden: User "system:serviceaccount:argocd:argocd-argocd-application-controller" cannot patch resource "deployments" in API group "apps" in the namespace "mynamespace"`

From the error, I realised new RBAC resources have

[2021-05-25 14:49] GerbenWelter commented on #323
We are also experiencing this issue on OpenShift 4.6 and 4.7. Where is this extra prefix coming from?

[2021-05-25 15:04] dhatrifork commented on #322
Problem here too. How can I downgrade operator?

[2021-05-25 15:17] EagleIJoe commented on #322
This is fixed with #270 in code, I guess... Did not make it into the package. @jomkz

[2021-05-25 15:18] u849296 commented on #322
I have this work around until next fix:  https://github.com/argoproj/argo-cd/issues/5306

[2021-05-26 08:02] vyckou commented on #323
changes on
https://github.com/argoproj-labs/argocd-operator/blob/3d1c5897c53961fbee8a28f7a9cbbd7d591aad0a/pkg/controller/argocd/deployment.go#L349
broke our setup

[2021-05-26 08:24] samuanv commented on #323
@GerbenWelter @vyckou Any luck fixing this issue in your side?
I cannot find where ArgoCD points to `argocd-argocd-application-controller` instead of `argocd-application-controller`.
I guess this can be solved updating certain Role bindings, but not sure if should be the new or the old files...

[2021-05-26 08:41] vyckou commented on #323
@samuanv altering role bindings and adding new service account also leaving an old one, in case folks will revert it back 😸

[2021-05-26 09:47] jonaslar commented on #322
Same behaviour on our OpenShift 4.7 and the work around described above fixed it for now, https://github.com/argoproj/argo-cd/issues/5306. Thats is change the lines in "-command"'s like this:

apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-dex-server
spec:
  template:
    spec:
      containers:
        - command:
            - /shared/argocd-dex
            - rundex
          name:

[2021-05-26 09:53] jonaslar commented on #323
We experience the same as described in OP regarding SA argocd-argocd-application-controller and need to updated the rolebindings to reflect the new Service Account, but is the creation of the new SA intended or a mistake and will be fixed?

[2021-05-26 09:56] dhatrifork commented on #323
Experience the same here. Updated the rolebindings manually.

[2021-05-26 10:04] samuanv commented on #323
Thanks folks. As you pointed out, updating `argocd-application-controller` Cluster role binding to point to `argocd-argocd-application-controller` ServiceAccount fixed the issue.
Just realised that there is a new rolebinding `argocd-argocd-argocd-application-controller`. This resource with 3x `argocd` is the winner 😄

[2021-05-26 14:39] GerbenWelter commented on #323
@samuanv We just had too much issues due to the changed ServiceAccounts / RoleBindings. Those problems were exacerbated by our Gatekeeper policies preventing proper creation. Additionally users were also having problems with applications using Helm that worked before the update. We just decided to disable the automatic update, uninstall the operator, clean up all the mess and reinstall 0.0.14.

[2021-05-26 14:42] ujjawal-okc commented on #323
@GerbenWelter How did you reinstall 0.0.14? I am unable to install the old version via OLM
![image](https://user-images.githubusercontent.com/64945785/119680302-adfa5700-be5e-11eb-9034-911c232ca1b2.png)

[2021-05-26 14:53] GerbenWelter commented on #323
You need to create the Subscription yourself like this:

[code]

[2021-05-27 05:02] jonaslar opened #324 "Version 0.0.15 ClusterRoles and ClusterRoleBindings for argocd-application-controller and argocd-server not showing as connected with the ArgoCD"
**Describe the bug**
We install ArgoCD Operator and create ArgoCD Server in a namespace on OpenShift 4.7 by defining necessary manifest files in GIT and let a central ArgoCD-server in same OpenShift cluster sync these manifests. Like this: Central ArgoCD v0.0.14 --> Namespace ArgoCD v0.0.15.
What I observed in GUI in the central ArgoCD Server after upgradring the namespace ArgoCD Operator from 0.0

[2021-05-27 05:12] jonaslar commented on #324
Added yaml manifestes for namespace argocd and rolebinding.

[namespace_argocd.yaml.txt](https://github.com/argoproj-labs/argocd-operator/files/6551246/namespace_argocd.yaml.txt)
[namespace_crb_argocd-server.yaml.txt](https://github.com/argoproj-labs/argocd-operator/files/6551247/namespace_crb_argocd-server.yaml.txt)

[2021-05-27 05:53] snorwin opened #325 "Automatically create images with tag `latest` from the master branch"
### Is your task related to a problem? Please describe.
The `latest` tag of the image `quay.io/redhat-cop/argocd-operator` is the same as the last release which makes it difficult to continuously verify and test the recent changes before an actual release, especially if there are many changes between two releases.

### Describe the solution you'd like
Create a CI/CD pipeline that automatically cre

[2021-05-27 09:20] vyckou commented on #323
@GerbenWelter  any spotted bumps, while downgrading it?
configuration schema changes etc

[2021-05-27 17:47] GerbenWelter commented on #323
@vyckou Not that I'm aware of. Users are happy again.

[2021-05-28 11:09] chrisob commented on #323
Any idea from the devs if this new naming will be reverted or not? We're trying to decide whether to rollback to 0.0.14 or roll forward and adjust to the new SA name, but it's not clear if this is a permanent change or should be considered a bug :/

[2021-05-31 07:10] iam-veeramalla commented on #323
Hi @chrisob , Thanks for reaching out. This is a change that was introduced  as part of the commit 3d1c589 . Unfortunately, This is a breaking change. I will create an issue to document the upgrade path with minimum or no issues.

cc: @wtam2018 @jannfis @sbose78

[2021-05-31 07:15] iam-veeramalla opened #327 "Document steps to upgrade the operator from v0.0.14 to v0.0.15"
### Is your task related to a problem? Please describe.
Many users have reported issues as they upgrade the operator from version 0.0.14 to 0.0.15.
#323
#322

### Describe the solution you'd like
Document steps to upgrade to v0.0.15 with possible work arounds.

### Describe alternatives you've considered
NA

### Additional context
#323
#322

[2021-05-31 07:22] iam-veeramalla commented on #322
Hi @u849296 , Thanks for raising the issue with us :)

We got this issue fixed as part of #270 but unfortunately it seems to missed during packaging. We are looking into the options of releasing a new version of the operator or documenting the work arounds. I will keep the issue updated with any sort of progress made.

[2021-05-31 07:33] chetan-rns commented on #323
+1. It would help to have an upgrade doc similar to https://argoproj.github.io/argo-cd/operator-manual/upgrading/1.8-2.0/

[2021-06-01 11:03] amitkrout opened #328 "Introduce CI test infra for e2e test"
### Is your task related to a problem? Please describe.

Introduce a new CI test infra that helps us to run e2e test against the freshly compiled operator image.

### Describe the solution you'd like

https://github.com/argoproj-labs/argocd-operator/pull/318#issuecomment-852030941

### Describe alternatives you've considered

Could be we can consider - GitHub Action and a Kubernetes cluster

### A

[2021-06-01 11:17] amitkrout commented on #328
ping @sbose78 @wtam2018 @jannfis

[2021-06-01 15:12] #317 closed

[2021-06-02 06:02] vyckou commented on #323
@iam-veeramalla , with all respect, according to [semver](https://semver.org/), breaking changes, should go under major version bump, not patch or minor version changes
Documentation is a good start, but an automatic update is a no-go in such scenarios, as it is used in production systems, where production services are being maintained by argo.cd
Please consider following semversion and please opt

[2021-06-02 06:09] iam-veeramalla commented on #323
Thanks @vyckou . Feedback acknowledged. We are currently working on getting a new release and we are also looking at the versioning and documentation.

[2021-06-03 10:19] chrisob commented on #323
@vyckou Just to play devil's advocate, semver also says that:

So the argo devs are still adhering to semver :neckbeard:

[2021-06-07 07:54] arjunprasad2143 commented on #208
Hope this get fixed soon. Having to rely on manual scripts is just a workaround.

[2021-06-08 09:03] tobiasdenzler opened #329 "Setting loglevel for components"
**Is your feature request related to a problem? Please describe.**
When using ArgoCD operator the loglevel of all components is set to the default value of 'INFO'. Depending on the use case this will produce a lot of unrelated log messages. As far as I see there is no option to adjust the loglevel of the ArgoCD components.

**Describe the solution you'd like**
Using the ArgoCD CR we could set the

[2021-06-08 09:47] iam-veeramalla commented on #329
I agree on this. We should get some sort of Log level on the operator.

[2021-06-11 10:12] iam-veeramalla opened #332 "Error updating docs."
**Describe the bug**
CI builds on readthedocs are failing from past few weeks with the below error
[code]
[argocd-operator-docs-builds](https://readthedocs.org/projects/argocd-operator/builds/)

**To Reproduce**
Steps to reproduce the behavior:
1. Make changes to the docs and verify the build status in the readthedocs argocd-operator project.
[argocd-operator-docs-builds](https://readthedocs.org/p

[2021-06-11 12:10] #332 closed

[2021-06-11 13:20] javiermmenendez opened #334 "After upgrade argocd operator from v0.0.14 to .v0.0.15 credentials templates disappear."
**Describe the bug**
OpenShift v4.7
After update from  v0.0.14 to .v0.0.15 credentials template is removed and is not possible to recreate. Operator allways removes them after a while.

argocd-cm v0.0.14
---------------------------
apiVersion: v1
data:
  dex.config: |
    connectors:
    - config:
        clientID: system:serviceaccount:argocd:argocd-dex-server
        clientSecret: xxxxxxx

[2021-06-12 18:00] rv-silva commented on #103
In case anyone else is using Ingress defined externally to ArgoCD, this exact config must be added:
[code]
Took me a while to figure out not only `spec.server.host` was not enough to replace default `data.url`

[2021-06-12 18:00] rv-silva commented on #223
In case anyone else is using Ingress defined externally to ArgoCD, this exact config must be added:
[code]
Took me a while to figure out not only `spec.server.host` was not enough to replace default `data.url`

[2021-06-12 20:13] rv-silva opened #335 "Define `spec.url` in Configmap"
When deploying Ingress externally to ArgoCD operator (GKE with Traefik), altering `spec.url` in Operator CR will not cause `argocd-cm` to change. It is a problem when using DEX.

1) Regular approach:
[code]

It will keep the default value of:
[code]

2) https://github.com/argoproj-labs/argocd-operator/issues/103 did not work:
[code]
[code]

3) https://github.com/argoproj-labs/argocd-operator/pull/

[2021-06-14 09:16] iam-veeramalla commented on #335
Hi @rv-silva , Thanks for using operator and raising issue with us :)

I am trying to understand why is this not a viable solution for you ?

[2021-06-14 13:04] sylus opened #336 "Multiple ArgoCD Instances in same namespace"
Until this bug is fixed https://github.com/argoproj-labs/argocd-operator/issues/337 I am forced to deploy multiple ArgoCD instances in the same namespace namely `argocd-operator-system`.

The operator does detect when I have multiple ArgoCD instances and attempt to create the resources. However my question is how this works since there is only ever one `argocd-cm`, and one `argocd-rbac-cm` and not

[2021-06-14 13:07] sylus opened #337 "Multiple ArgoCD Instances in different Namespaces"
Using the watched_namespace environment variable I set ArgoCD to watch multiple namespaces such as "argocd-operator-system,org-fdi-system". However while ArgoCD does detect all of the ArgoCD instances I get an issue with the following message:

[code]

It seems this is related to the following upstream bug:

- https://github.com/kubernetes-sigs/controller-runtime/issues/934

I was just curious as

[2021-06-14 13:38] rv-silva commented on #335
@iam-veeramalla thank you for your prompt answer.
It is not viable because Ingress is being used externally to ArgoCD, in this case with Traefik. The Ingress created by Operator will be duplicated.

[2021-06-14 13:44] iam-veeramalla commented on #335
Does your traefik ingress controller read the ingress created by operator?

[2021-06-14 13:47] rv-silva commented on #335
@iam-veeramalla nope, in fact they conflict and ArgoCD becomes unreachable.

[2021-06-14 13:55] iam-veeramalla commented on #335
@rv-silva  Thanks for making it clear :) . Can you please let me know few more things to  label this issue as a bug.

1. Instead of deploying ingress externally, Is it possible to make traefik read the ingress created by the operator? Probably by updating the ingress-class or something?

2. Can you workaround this issue by updating argocd-cm manually ?

Thanks :)

[2021-06-14 14:02] rv-silva commented on #335
Thank you for accepting my request.

1) Not sure if works, but still ArgoCD is creating a new Ingress resource, consequently a billed load balancer in GCP.
2) Unfortunately not, whenever `url` field is updated in `argocd-cm`, ArgoCD returns its value to `https://argocd-server`.

I tried all ways before opening the issue.

[2021-06-14 16:01] iam-veeramalla commented on #336
Hi @sylus , Thanks for raising issue with us. Multiple ArgoCDs in a same namespace is not supported. There are many downsides of supporting this feature.
```since there is only ever one argocd-cm, and one argocd-rbac-cm and not one per each deployed instance.```. This is one of the reasons.

[2021-06-14 16:04] iam-veeramalla commented on #337
Hi @sylus , Thanks for raising issue with us.

v0.0.15 natively supports this without need to add any watched_namespace environment variable or any other settings. However, I would recommend you to look at the list of issues users faced while upgrading.
https://github.com/argoproj-labs/argocd-operator/issues?q=is%3Aissue+is%3Aopen+label%3Aupgrade-issues

[2021-06-14 16:21] sylus commented on #336
Thanks @iam-veeramalla I was expecting as such, I'll close this issue since works as designed!

[2021-06-14 16:21] #336 closed

[2021-06-14 17:46] sylus commented on #337
Hey @iam-veeramalla thanks for the response I think I am on

quay.io/argoprojlabs/argocd-operator@sha256:38254c8d53172993cb51c0b4c72645757ba36e7e8e3b1251683b00cede47fa7c

Which to my knowledge is that v0.0.15, I believe i first tried to not set the watch namespace, but maybe I missed something I will try again today and report back!

[2021-06-14 19:35] sylus commented on #337
Hey @iam-veeramalla so I must be doing something wrong but not sure.

I manually made another ArgoCD instance and the operator detects it but then it just stalls.

![image](https://user-images.githubusercontent.com/984304/121949030-04540a80-cd26-11eb-88e8-67fbf00fd79b.png)

[code]

Now it has said nothing for the past 10 minutes.

[2021-06-14 20:22] sylus commented on #337
Hmm I think I noticed something for some reason if I only have the "FDI" ArgoCD Instance and no other spec I still get this:

[code]

I don't know where it is still getting Reconciling ArgoCD","namespace":"argocd-operator-system","name":"org-fdi-system" since it doesn't exist.

[2021-06-16 12:23] sylus commented on #337
Please let me know if any more information i can provide @iam-veeramalla  :D

[2021-06-16 13:20] iam-veeramalla commented on #337
You dont have to modify anything in the installation.
1. Install the argocd-operator in the `openshift-operators` ns.
2. Created ArgoCD 1 and ArgoCD 2 in different namespaces.

[2021-06-16 13:27] sylus commented on #337
@iam-veeramalla I am not using openshift so I put it in the argocd-operator-system NS, beyond I made no adjustments.

[2021-06-16 14:08] bo0ts commented on #323
@iam-veeramalla Any update on a possible new release? We are currently holding off on all argocd-operator updates given the issues with updating to 0.0.15.

[2021-06-16 14:11] iam-veeramalla commented on #337
ah, sorry I missed that. Let me try to get a k8s cluster and see whats going there :)

[2021-06-16 14:47] iam-veeramalla commented on #323
I currently do not have the release date but it is in our bucket.

The new release will not handle/fix the breaking changes introduced with roles/ rolebindings and service accounts. This will continue as a breaking change enhancement.

The new release would fix the issues with Dex and documenting possible workarounds for issues with upgrades.

[2021-06-16 18:24] iam-veeramalla commented on #264
Hi @DWSR , ArgoCD does not support ARM as of today.

Do you want to move this issue to [argoproj/argocd](https://github.com/argoproj/argo-cd) ? I think that is a better place for this issue :)

[2021-06-16 18:33] iam-veeramalla opened #339 "operator when run locally fails to create Argo CD to manage cluster scoped resources for OpenShift cluster"
**Describe the bug**
This bug is very specific to openshift.

Operator when run locally fails to create Argo CD to manage cluster scoped resources. Below error can be seen in the error logs continuously.

[code]

**Expected behavior**
operator should not thrown any error and create workloads to manage cluster config resources.

**Screenshots**
[code]

**Additional context**
Error seems to be intro

[2021-06-16 21:31] DWSR commented on #264
There's already an open issue: https://github.com/argoproj/argo-cd/issues/4211

There's no reason to wait for ArgoCD to support ARM though, IMO. You can easily run mixed architecture clusters (I'm running one at home) and introducing ARM support in the operator isn't blocked on ARM support in ArgoCD itself.

[2021-06-18 09:20] GrataHonoria opened #342 "Tolerations & nodeselectors in argocd CRD."
**Describe the bug**
I can't seem to find a way to add toleration's & node-selectors to the pods that the operator deploys, I can add toleration's to the operator pod but not sure how to do it for the other pods.

**To Reproduce**
Steps to reproduce the behavior:
Look at operator docs & API spec.
Write an argocd resource.

**Expected behavior**
A option in the argocd resource definition for tolera

[2021-06-21 14:43] momoadc opened #344 "ArgoCDExport with existing PVC is not using the correct name field"
**Describe the bug**
I tried to connect ArgoCDExport to an existing PVC which is allocated using CSI driver (using the `dataSource` fields). When going through the source code of the operator I found out that the claim name to be used is the ArgoCDExport name and not the name field under `dataSource`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a PVC.
2. Create a ArgoCDExport with

[2021-06-21 17:14] iam-veeramalla commented on #344
Hi @momoadc , Thanks a lot for raising issue with us :)

You mentioned that you have already looked into the code which is doing wrong, do you want to contribute this to us ? Thanks :)

[2021-06-22 06:56] momoadc commented on #344
Offcourse.
[https://github.com/argoproj-labs/argocd-operator/blob/3aa839b023883b564ac5bfd6012f16f9ce19797b/pkg/controller/argocdexport/job.go#L130](The problematic line)

[2021-06-22 07:16] iam-veeramalla commented on #344
Do you want to raise a PR with the changes ?

[2021-06-22 07:32] momoadc commented on #344
From what i have seen the field `dataSource` is not integrated with ArgoCDExport yet (it is not used at all). the fix requires more then changing the line.

[2021-06-22 07:33] iam-veeramalla commented on #344
got it :) .. Thanks for the response.

[2021-06-22 12:43] sylus commented on #337
@iam-veeramalla I was trying to update myself to fix the cache bug which I think is needed but updating controller-manager also updates a lot of other deps and this doesn't include the operator-framework updates as well.

Seems like a fair bit of work to get this fixed.

[2021-06-23 16:38] EugeneLugovtsov opened #347 "ArgoCDExport wrong service account names"
I have an argocd-operator that was manually deployed using your documentation [here](https://argocd-operator.readthedocs.io/en/latest/install/manual/). Now, I want to store backups in the AWS S3 bucket, for this purpose, I use your documentation [here](https://argocd-operator.readthedocs.io/en/latest/usage/export/#aws).

However, I have some troubles with that, here is an example of an error that

[2021-06-25 10:53] #339 closed

[2021-06-25 13:35] benruland opened #350 "Version 0.0.15 with ArgoCD 1.8.7 leads to Dex crashlooping"
**Describe the bug**
After upgrading the operator to 0.0.15 we let it re-deploy our ArgoCD instance. The version ist explicitly set to 1.8.7. Now, our argocd-dex-server deployment is crashlooping with error:
`level=datal msg="unknown command \"rundex\" for \"argocd\"`

It seems like the changes done in #270 to use the new binary made the created deployments of the operator incompatible with ArgoCD